
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      back:
        {
          text: "Back",
          href: "../publication/attachments/" + hrefParams
        }
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Add an attachment
    </h1>

    {% include "../includes/document-info.html" %}
    
    <form id="attachmentType" name="attachmentType">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "attachmentTypeQuestions",
        idPrefix: "attachmentTypeQuestions",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
            value: "html",
            text: "Add new HTML attachment"
          },
          {
            value: "external",
            text: "Add new external attachment"
          },
          {
            value: "file",
            text: "Upload new file attachment"
          },
          {
            value: "bulk",
            text: "Bulk upload from Zip file"
          }
        ]
      }) }}
      <input type="hidden" id="message" name="message" value="error" />
    </form>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        href: "javascript: actionURL();"
      }) }}

      <a class="govuk-link" href="../publication/attachments/{{hrefParams}}">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}


{% block pageScripts %}
{{ super() }}
<script>
  function actionURL() {
    var htmlAtt = $('#attachmentTypeQuestions').is(':checked');
    var externalAtt = $('#attachmentTypeQuestions-2').is(':checked');
    var fileAtt = $('#attachmentTypeQuestions-3').is(':checked');
    var bulkAtt = $('#attachmentTypeQuestions-4').is(':checked');
    if(htmlAtt) {
      $('#attachmentType').attr('action', '../../publication/attachments/html{{hrefParams}}').submit();
    } else if(externalAtt) {
      $('#attachmentType').attr('action', '../../publication/attachments/external{{hrefParams}}').submit();
    } else if(fileAtt) {
      $('#attachmentType').attr('action', '../../publication/attachments/file{{hrefParams}}').submit();
    } else if(bulkAtt) {
      $('#attachmentType').attr('action', '../../publication/attachments/bulk{{hrefParams}}').submit();
    } else {
      $('#attachmentType').attr('action', '../../publication/attachments/type{{hrefParams}}').submit();
    }
  }
</script>
{% endblock %}
