
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <a href="javascript: submitNavForm('organisation/features-v2', $(this));" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Government Digital Service</span>
      <h1 class="govuk-heading-xl">
        Feature "About GOV.UK Verify" in English
      </h1>

      {{ govukWarningText({
        text: "Changes to features appear instantly on the live site.",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
  			<label for="file-upload-85645712" class="gem-c-label govuk-label govuk-label--m">Upload an image</label>
				<div id="event-name-hint" class="govuk-hint">
					Select a 960px wide and 640px tall image to be shown when featuring
				</div>
        <input name="file-upload" type="file" class="gem-c-file-upload govuk-file-upload" id="file-upload-85645712">
      </div>


			<div class="govuk-form-group">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--m" for="event-name">
						Image description (alt text)
					</label>
				</h1>
				
				<input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
			</div>
			
			<div class="govuk-button-group">
        {# {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary",
            href: "../../publication/edit/body" + hrefParamsBodyAttachments + "&pageMessage=documentSaved"
        }) }} #}

        {{ govukButton({
          text: "Save",
          href: "javascript: submitNavForm('organisation/features', $(this));"
        }) }}

        <a class="govuk-link" href="javascript: submitNavForm('organisation/features', $(this));">Cancel</a>
      </div>
    </div>
  </div>
{% endblock %}