{% call whitehallFilterCollapsible({
  title: "Author or/and organisation"
}) %}
  <div class="autocomplete__wrapper govuk-!-margin-bottom-6">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="author-filter">
        Author
      </label>
      <!-- <span id="organisation-search-error" class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
      </span> -->
      <select class="govuk-select" id="author-filter" name="author-filter">
        <option value=""></option>
        {% include "mock-data/authors_data.html" %}
      </select>
    </div>
  </div>

  <hr />

  <div class="autocomplete__wrapper">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="organisation-filter">
        Organisation
      </label>
      <!-- <span id="organisation-search-error" class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
      </span> -->
      <select class="govuk-select" id="organisation-filter" name="organisation-filter">
        <option value=""></option>
        {% include "mock-data/organisations_data.html" %}
      </select>
    </div>
  </div>

  {% endcall %}