<!-- 
    Error message
    Success message
-->

{% if pageMessage === 'documentCreated' %}
{# <div class="documentCreated"> #}
    <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body gem-c-success-alert__message">This document was created successfully</p>
    </div>
    </div>
{# </div> #}
{% endif %}

{% if pageMessage === 'saved' %}
    <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body gem-c-success-alert__message">This document was saved successfully</p>
    </div>
    </div>
{% endif %}

{% if pageMessage === 'documentSaved' %}
{# <div class="documentSaved"> #}
    <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body gem-c-success-alert__message">This document was saved successfully</p>
    </div>
    </div>
{# </div> #}
{% endif %}

{% if pageMessage === 'documentSubmitted' %}
{# <div class="documentSubmitted"> #}
    <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body gem-c-success-alert__message">This document was submitted for 2nd eyes successfully</p>
    </div>
    </div>
{# </div> #}
{% endif %}




{# <div class="documentSaved">
    <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body gem-c-success-alert__message">This document was saved successfully</p>
    </div>
    </div>
</div> #}