{% set loggedUser = "Carlos Bernardo Jr" %}
{% set loggedUser = "Anne Lewis" %}

{% set colleague = "Clarence Boddicker" %}

{# 
    0: empty
    1: bodyAttachments
    2: populated
    3: fullPopulated
 #}

{# {% set hrefParams = "" %} #}
{# {% if data['prototypeVersion']%} #}
{# {% set prototypeVersion = data['prototypeVersion'] %} #}
{# {% else %}
{% set prototypeVersion = "v2" %}
{% endif %} #}

{# {% if data['prototypeVersion'] == 'undefined' or data['prototypeVersion'] == "" %} #}
{# {% set prototypeVersion = "v2" %} #}
{# {% endif %} #}


{# {% if data['pageState'] %} #}
{# {% set pageState = data['pageState'] %}
{% set pageState = 'empty' %} #}
{# {% else %}
{% set pageState = "empty" %}
{% endif %} #}

{# {% if data['pageState'] == 'undefined' or data['pageState'] == "" %}
{% set pageState = "empty" %}
{% endif %} #}

{# {% set hrefParams = "?pageState=" + pageState + "&documentState=" + data['documentState'] + "&pageMessage=" + data['message'] + "&prototypeVersion=" + prototypeVersion + data['pageTest'] %} #}

