    {# Guidance #}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "versions",
            text: "GOV.UK Whitehall Publishing " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "#",
            text: "Help"
          },
          {
            href: "#",
            text: "Cookies"
          },
          {
            href: "#",
            text: "Contact"
          },
          {
            href: "#",
            text: "Terms and conditions"
          }
        ],
        html: 'Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>'
      }
    }) }}