
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
<!-- TITLE -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Documents
    </h1>
  </div>
</div>

<!-- SEARCH -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-search govuk-!-display-none-print  gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus" data-gem-toggle-input-class-on-focus-module-started="true">
        <label for="search-main-c808df7d" class="gem-c-search__label">Search title or slug</label>
      <div class="gem-c-search__item-wrapper">
        <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main-c808df7d" name="q" title="Search" type="search" value="">
        <div class="gem-c-search__item gem-c-search__submit-wrapper">
          <button class="gem-c-search__submit" type="submit" data-module="gem-track-click" enterkeyhint="search">
            Search
            <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


{%- set filterOptionsHtml %}
  <div class="autocomplete__wrapper govuk-!-margin-bottom-6">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="author-filter">
        Author
      </label>
      <!-- <span id="organisation-search-error" class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
      </span> -->
      <select class="govuk-select" id="author-filter" name="author-filter">
        <option value=""></option>
        {% include "mock-data/authors_data.html" %}
      </select>
    </div>
  </div>


  <div class="autocomplete__wrapper govuk-!-margin-bottom-6">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="organisation-filter">
        Organisation
      </label>
      <!-- <span id="organisation-search-error" class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
      </span> -->
      <select class="govuk-select" id="organisation-filter" name="organisation-filter">
        <option value=""></option>
        {% include "mock-data/organisations_data.html" %}
      </select>
    </div>
  </div>

  <div class="autocomplete__wrapper govuk-!-margin-bottom-6">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="location-filter">
        World location
      </label>
      <!-- <span id="organisation-search-error" class="govuk-error-message" role="alert">
        <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
      </span> -->
      <select class="govuk-select" id="location-filter" name="location-filter">
        <option value=""></option>
        {% include "mock-data/world_location_data.html" %}
      </select>
    </div>
  </div>

  {% set subtypePublication %}
    {{ govukCheckboxes({
      idPrefix: 'subtype1',
      name: 'subtype1',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: '',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: [
        {
          value: '0',
          text: 'Policy papers'
        },
        {
          value: '1',
          text: 'Impact assessments'
        },
        {
          value: '2',
          text: 'Guidance',
        checked: true
        },
        {
          value: '3',
          text: 'Statutory guidance'
        },
        {
          value: '4',
          text: 'Forms'
        },
        {
          value: '5',
          text: 'Official Statistics'
        },
        {
          value: '6',
          text: 'National Statistics'
        },
        {
          value: '7',
          text: 'Research and analysis'
        },
        {
          value: '8',
          text: 'Corporate reports'
        },
        {
          value: '9',
          text: 'Maps'
        },
        {
          value: '10',
          text: 'Transparency data'
        },
        {
          value: '11',
          text: 'FOI releases'
        },
        {
          value: '12',
          text: 'Independent reports'
        },
        {
          value: '13',
          text: 'International treaties'
        },
        {
          value: '14',
          text: 'Notices'
        },
        {
          value: '15',
          text: 'Decisions'
        },
        {
          value: '16',
          text: 'Standards'
        },
        {
          value: '17',
          text: 'Correspondence'
        },
        {
          value: '18',
          text: 'Promotional material'
        },
        {
          value: '19',
          text: 'Regulations'
        },
        {
          value: '20',
          text: 'Publication'
        },
        {
          value: '21',
          text: 'Imported - awaiting type'
        }
      ]
    }) }}
  {% endset -%}

  {% set subtypeNews %}

    {{ govukCheckboxes({
      idPrefix: 'subtype2',
      name: 'subtype2',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: '',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: [
        {
          value: '1',
          text: 'News stories',
          checked: true
        },
        {
          value: '2',
          text: 'Press releases',
          checked: true
        },
        {
          value: '3',
          text: 'Government responses'
        },
        {
          value: '4',
          text: 'World news stories'
        }
      ]
    }) }}
  {% endset -%}

  {% set subtypeSpeech %}

    {{ govukCheckboxes({
      idPrefix: 'subtype3',
      name: 'subtype3',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: '',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: [
        {
          value: '0',
          text: 'Transcripts'
        },
        {
          value: '1',
          text: 'Draft texts'
        },
        {
          value: '2',
          text: 'Speaking notes'
        },
        {
          value: '3',
          text: 'Written statements to Parliament'
        },
        {
          value: '4',
          text: 'Oral statements to Parliament'
        },
        {
          value: '5',
          text: 'Authored article'
        }
      ]
    }) }}
  {% endset -%}



  {{ govukCheckboxes({
    idPrefix: "type",
    name: "type",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Document type",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all options that are relevant to you."
    },
    items: [
      {
        value: "case",
        text: "Case studies"
      },
      {
        value: "consultations",
        text: "Consultations"
      },
      {
        value: "corporate",
        text: "Corporate information pages"
      },
      {
        value: "detailed",
        text: "Detailed guides"
      },
      {
        value: "collections",
        text: "Document collections"
      },
      {
        value: "fatality",
        text: "Fatality notices"
      },
      {
        value: "news",
        text: "News articles",
        conditional: {
          html: subtypeNews
        }
      },
      {
        value: "publications",
        text: "Publications",
        conditional: {
          html: subtypePublication
        }
      },
      {
        value: "speeches",
        text: "Speeches",
        conditional: {
          html: subtypeSpeech
        }
      },
      {
        value: "statistical",
        text: "Statistical data sets"
      }
    ]
  }) }}


  {{ govukCheckboxes({
    idPrefix: 'state',
    name: 'state',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'State',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '0',
        text: 'Draft'
      },
      {
        value: '1',
        text: 'Force published (not reviewed)'
      },
      {
        value: '2',
        text: 'Imported (pre-draft)'
      },{
        value: '3',
        text: 'Published'
      },
      {
        value: '4',
        text: 'Rejected'
      },
      {
        value: '5',
        text: 'Scheduled'
      },{
        value: '6',
        text: 'Submitted'
      },
      {
        value: '7',
        text: 'Withdrawn'
      },
      {
        value: '6',
        text: 'Only broken links'
      }
    ]
  }) }}

<br /><br />

  {% call govukFieldset({
    legend: {
      text: "Last updated",
      classes: "govuk-fieldset__legend--m"
    }
  }) %}

    {{ govukDateInput({
      id: "from",
      namePrefix: "from",
      fieldset: {
        legend: {
          text: "From",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}

    {{ govukDateInput({
      id: "to",
      namePrefix: "to",
      fieldset: {
        legend: {
          text: "To",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}


  {% endcall %}


{% endset -%}

<!--

{
  heading: {
    text: 'Author'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Blue'
  }, {
    href: '../path/to/remove/this',
    text: 'Yellow'
  }]
},
{
  heading: {
    text: 'Organisation'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Government Digital Service (GDS)'
  }]
},
{
  heading: {
    text: 'World location'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Completed'
  }]
},
{
  heading: {
    text: 'State'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Draft'
  }]
},
{
  heading: {
    text: 'Document type'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Consultations'
  }]
},
{
  heading: {
    text: 'Last updated'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Completed'
  }]
},
{
  heading: {
    text: 'Warnings'
  },
  items: [{
    href: '../path/to/remove/this',
    text: 'Completed'
  }]
}
-->




<div class="moj-filter-layout">
  <div class="moj-filter-layout__filter">
    {{ mojFilter({
      heading: {
        text: 'Filter'
      },
      selectedFilters: {

        heading: {
          text: 'Selected filters'
        },

        clearLink: {
          text: 'Clear filters'
        },

        categories: [
          {
            heading: {
              text: 'Organisation'
            },
            items: [{
              href: '../path/to/remove/this',
              text: 'Government Digital Service (GDS)'
            },
            {
              href: '../path/to/remove/this',
              text: 'Cabinet Office'
            },
            {
              href: '../path/to/remove/this',
              text: 'Cabinet Office Board'
            }]
          },
          {
            heading: {
              text: 'Document type'
            },
            items: [{
              href: '../path/to/remove/this',
              text: 'Consultation'
            }]
          }
        ]
      },
      optionsHtml: filterOptionsHtml
    }) }}
  </div>
  <div class="moj-filter-layout__content">
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter"></div>

        <!-- <p class="govuk-body"><a href="document-type-selection" class="govuk-link">Create new document</a></p> -->

      {{ mojButtonMenu({
        items: [{
          text: 'Create new document',
          href: "document/type",
          classes: 'govuk-button--primary'
        }]
      }) }}
      <!-- , {
        text: 'Action 2',
        classes: 'govuk-button--secondary'
      } -->
    </div>

    <div class="moj-scrollable-pane">
      <div class="moj-scrollable-pane__wrapper">
        {{ govukTable({
          caption: "",
          sortable: true,
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          head: [
            {
              text: "Type"
            },
            {
              text: "Title",
              classes: 'govuk-!-width-three-quarters'
            },
            {
              text: "Updated",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "State"
            },
            {
              text: "Warning"
            },
            {
              html: '<label style="visibility: hidden;">Action</label>',
              format: "numeric"
            }
          ],
          rows: [
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--yellow" style="white-space: nowrap;">Not reviewed</strong>'
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--yellow" style="white-space: nowrap;">Force published</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Force published</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--red" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--red" style="white-space: nowrap;">Broken links</strong>'
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--blue" style="white-space: nowrap;">Draft</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--yellow" style="white-space: nowrap;">Link warnings</strong>'
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--turquoise" style="white-space: nowrap;">Scheduled</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--grey" style="white-space: nowrap;">Withdrawn</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--red" style="white-space: nowrap;">Rejected</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--turquoise" style="white-space: nowrap;">Scheduled</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--turquoise" style="white-space: nowrap;">Scheduled</strong>'
              },
              {},
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--yellow" style="white-space: nowrap;">Link warnings</strong>'
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ],
            [
              {
                text: "Consultation"
              },
              {
                text: "Draft data sharing legislation to support identity verification"
              },
              {
                html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
              },
              {
                html: '<strong class="govuk-tag govuk-tag--green" style="white-space: nowrap;">Published</strong>'
              },
              {
                html: ''
              },
              {
                html: '<a href="/consultation/edit">Edit</a>',
                format: "numeric"
              }
            ]
          ]
        }) }}


        {% from "govuk/components/pagination/macro.njk" import govukPagination %}

        {{ govukPagination({
          previous: {
            href: "#"
          },
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#"
            },
            {
              ellipsis: true
            },
            {
              number: 6,
              href: "#"
            },
            {
              number: 7,
              current: true,
              href: "#"
            },
            {
              number: 8,
              href: "#"
            },
            {
              ellipsis: true
            },
            {
              number: 42,
              href: "#"
            }
          ]
        }) }}
      </div>
  </div>
</div>




<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      Filter
    </div>
    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
      <p>
        Page content
    </p>
  </div>
</div> -->
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}
