{% set sectionState = [] %}

{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}

{% if data['pageState'] === 'fullPopulated' %}

{% endif %}
     <!--   ONLY CONSULTATIONS??

        ,
          {
            key: {
              text: "Language"
            },
            value: {
              text: "English"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          }
       -->