/* COLLAPSABLE */
.js-collapsible {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;

    .app-c-option-select__heading,
    .js-container-heading {
        position: relative;
        padding: 0 8px 0 33px;

        .js-container-button {
            font-family: "GDS Transport",arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.25;
            margin: 0;
            z-index: 1;
            background: none;
            border: 0;
            text-align: left;
            padding: 0;
            // height: 42.5px;
            // line-height: 42.5px;
            cursor: pointer;
            color: #1d70b8;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
            }
        }
        .app-c-option-select__icon {
            display: none;
            position: absolute;
            top: -4px;
            left: 0px;
            width: 30px;
            height: 40px;
            fill: #0b0c0c;
        }
    }
    .js-options-container {
        padding-bottom: 20px;
    }
    // .js-enabled [aria-expanded="false"]~.app-c-option-select__icon--up {
    //     display: block;
    // }
    // .js-enabled [aria-expanded="true"]~.app-c-option-select__icon--down {
    //     display: block;
    // }
    &.js-closed {
        .app-c-option-select__icon--up {
            display: block;
        }
        .js-options-container,
        .app-c-option-select__filter {
            display: none;
        }
    }
    &.js-opened {
        .app-c-option-select__icon--down {
            display: block;
        }
        .js-options-container,
        .app-c-option-select__filter {
            display: block;
        }
    }
}


@media (min-width: 48.0625em){
.app-c-option-select ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgb(255 255 255 / 87%);
}
}
@media (min-width: 40.0625em){
.app-c-option-select__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}
.app-c-option-select ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
}
/* // END COLLAPSABLE */
