{% set sectionState = [] %}
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  {{ whitehallHeader({
      homepageUrl: "dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      back:
        {
          text: "Back",
          href: "../../publication/summary" + hrefParams
        }
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# {{pageMessage}} #}
    {% if pageMessage === 'documentSaved' %}
    {# <div id="whitehall-body-saved"> #}
      <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-f436ae93" data-module="initial-focus" data-initial-focus-module-started="true">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-f436ae93">Success</h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body gem-c-success-alert__message">This document was saved successfully</p>
        </div>
      </div>
    {# </div> #}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Edit body and images
    </h1>

    {% include "../includes/document-info.html" %}

  </div>
</div>


{# {% set hrefParams = "" %}
{% if data['pageState'] === 'bodyAttachments' %}
  {% set hrefParams = "?pageState=bodyAttachments" %}
{% endif %}

{% if data['pageState'] === 'populated' %}
  {% set hrefParams = "?pageState=populated" %}
{% endif %}

{% if data['pageState'] === 'empty' %}
  {% set hrefParams = "?pageState=bodyAttachments" %}
{% endif %}

{% if data['pageState'] === 'fullPopulated' %}
  {% set hrefParams = "?pageState=fullPopulated" %}
{% endif %}

{% if data['pageState'] %}
{% else %}
  {% set hrefParams = "?pageState=bodyAttachments" %}
{% endif %} #}

<div class="govuk-grid-row body-populated">
  <div class="govuk-grid-column-three-quarters">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document body',
        href: '../publication/edit/body' + hrefParams,
        active: true
      },
      {
        html: 'Images <span id="notifications" class="moj-notification-badge">0</span>',
        href: '../publication/edit/tab-images' + hrefParams
      }]
    }) }}
  </div>
</div>

    {# 
      Detailed guide only:
      {
        html: 'Attachments <span id="notifications" class="moj-notification-badge">10</span>',
        href: 'tab-attachments'
      },
     #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<!-- BROKEN LINK -->
<!-- WORDS TO AVOID -->
<!-- GUIDANCE -->
<!-- ? -->
    <div class="govuk-button-group">
      {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "../../publication/edit/body" + hrefParamsBodyAttachments + "&pageMessage=documentSaved"
      }) }}

      {{ govukButton({
        text: "Save and back",
        href: "../../publication/summary" + hrefParamsBodyAttachments + "&pageMessage=documentSaved"
      }) }}
      
      <a class="govuk-link" href="../publication/summary{{hrefParams}}">Cancel</a>
    </div>

    {% if data['pageState'] === 'empty' %}
      {# <span class="body-empty"> #}
      {{ whitehallGovspeakEditor({
        content: ""
      }) }}
      {# </span> #}
    {% endif %}

    {% if data['pageState'] === 'populated' or data['pageState'] === 'fullPopulated' or data['pageState'] === 'bodyAttachments' %}
      {# <span class="body-populated"> #}
      {{ whitehallGovspeakEditor({
        content: content.documentContent[0].bodyMarkdown
      }) }}
      {# </span> #}
    {% endif %}

    {{ govukInsetText({
      text: 'In the published GOV.UK page, this information will show as "Details" before the text body.'
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "../../publication/edit/body" + hrefParamsBodyAttachments + "&pageMessage=documentSaved"
      }) }}

      {{ govukButton({
        text: "Save and back",
        href: "../../publication/summary" + hrefParamsBodyAttachments + "&pageMessage=documentSaved"
      }) }}

      <a class="govuk-link" href="../publication/summary{{hrefParams}}">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  $('#reusable-content-filter').autocomplete();
  $('#govspeak-editor-help-filter').autocomplete();

  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('saved');
  } else {
    $('main').addClass('populated');
  }


  var state = getUrlParameter('state');

  if(state === "empty") {
    $('.body-empty').show();
    $('.body-populated').hide();
  //} else if(state === "documentCreated") {
  //  $('main').addClass('empty documentCreated');
  //} else if(state === "saved") {
  //  $('main').addClass('saved');
  } else {
    $('.body-empty').hide();
    $('.body-populated').show();
  }



  // MOVE TO COMPONENT
  $('#body-field').on('click', function() {
    $('.app-c-toolbar-dropdown').removeAttr('open');
  });

  $('.whitehall-editor-help-button').on('click', function() {
    $('.whitehall-editor-insert-component').removeAttr('open');
    //ONLOAD AND ONRESIZE WINDOW
  var editorTextareaSize = ($('.app-c-markdown-editor__container').width() - 64);
  $('.whitehall-govspeak-editor-help').css({
    'width': editorTextareaSize,
    'margin-right': 'calc(env(safe-area-inset-right) - ' + (editorTextareaSize -110) + 'px)',
    'margin-left': 'calc(env(safe-area-inset-left) - ' + (editorTextareaSize - 110) + 'px)'
    });
  });

  $('.whitehall-editor-insert-button').on('click', function() {
    $('.whitehall-editor-help-component').removeAttr('open');
  });

  $('.whitehall-guidance .govuk-list li')
      .css({
        'cursor': 'pointer',
        'color': '#1d70b8'
      });

  $('.whitehall-guidance .govuk-list li a').on('click', function(e) {
    $('.whitehall-guidance .govuk-list li')
      .css({
        'cursor': 'pointer',
        'color': '#1d70b8'
      })
      .removeClass('whitehall-guidance-item-selected');

    $(this)
      .parent()
      .addClass('whitehall-guidance-item-selected');

    $('.whitehall-guidance-content-panel .govuk-grid-column-three-quarters')
      .css('display', 'none');

      //alert($(this).attr('content'));

    $('#' + $(this).attr('content'))
      .css('display', 'block');
   
    
    
  });
// REDO ALL THIS FUNCTION
  function editorHelpCallToActionLink(e) {
    $('.whitehall-guidance govuk-list li')
      .removeClass('whitehall-guidance-item-selected');
    

    $(e).css('background-color', 'red');
    $(e)
      .parent()
      .addClass('whitehall-guidance-item-selected');

    $('#whitehall-guidance-calltoaction')
      .css('display', 'block');
   
    $('#whitehall-guidance-headings')
      .css('display', 'none');
  }

  function editorHelpHeadingsLink(e) {
    $('.whitehall-guidance govuk-list li')
      .removeClass('whitehall-guidance-item-selected');
    {# alert($(this).attr('class')); #}
    $(e)
      .parent()
      .addClass('whitehall-guidance-item-selected');

    $('#whitehall-guidance-calltoaction')
      .css('display', 'none');
      
    $('#whitehall-guidance-headings')
      .css('display', 'block');
  }
  {# <li>
    <a href="javascript: " class="govuk-link">Call to action</a>
</li>
<!-- <li>
    <a href="#" class="govuk-link">Email links</a>
</li> -->
<li class="whitehall-guidance-item-selected">
  <a href="javascript: " class="govuk-link">Headings</a>
</li> #}
  



  {# app-c-toolbar-dropdown__container whitehall-govspeak-editor-insert
  app-c-toolbar-dropdown__container whitehall-govspeak-editor-help #}
</script>
{% endblock %}



{# 
<details class="app-c-toolbar-dropdown app-c-toolbar-dropdown--end"
data-module="toolbar-dropdown"
data-toolbar-dropdown-module-started="true"
open="">
            <summary class="app-c-toolbar-dropdown__title">Help...</summary>
            <div class="app-c-toolbar-dropdown__container whitehall-govspeak-editor-help">
              <div class="govuk-grid-row whitehall-guidance">


            </div>
          </div></details> #}