{% set sectionState = [] %}

{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}

{% if data['pageState'] === 'fullPopulated' %}

{% endif %}
<!-- Detailed guide only?   -->
{# <h4 class="govuk-heading-m">Related guides (optional)</h4> #}
<p class="govuk-body whitehall-summary-change-link">
  <a href="#{{hrefParams}}" class="govuk-link">Edit</a>
</p>
<p class="govuk-body whitehall-body-empty">
  Zero emission vehicle summit, Global Summit to End Sexual Violence in Conflict
</p>

<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0"> -->
