/* Attachments */
.govspeak .attachment,
.gem-c-govspeak .attachment {
  position: relative;
  margin: 30px 0;
  padding: 15px 0 0 129px;
}
.govspeak .attachment .attachment-thumb,
.gem-c-govspeak .attachment .attachment-thumb {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: -124px;
  padding-bottom: 15px;
}
.govspeak .attachment .attachment-thumb img,
.govspeak .attachment .attachment-thumb svg,
.gem-c-govspeak .attachment .attachment-thumb img,
.gem-c-govspeak .attachment .attachment-thumb svg {
  display: block;
  width: 99px;
  height: 140px;
  background: #fff;
  outline: 5px solid rgba(11,12,12,0.1);
  box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
}
.govspeak .attachment .attachment-thumb svg,
.gem-c-govspeak .attachment .attachment-thumb svg {
  fill: #b1b4b6;
  stroke: #b1b4b6;
}
.attachment-details {
  p.metadata {
    margin: 0 !important;
  }
  span.key {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    // font-size: 16px;
    // font-size: 1rem;
    // line-height: 1.4285714286;

    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  span.value {
    padding-left: 10px;
    font-weight: normal;
    // font-size: 16px;
    // font-size: 1rem;
    // line-height: 1.4285714286;

    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}



/* ATTACHMENT */
.app-c-media-with-actions {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b1b4b6;
}
.whitehall-attachments-list {
  section.attachment {
    margin-bottom: 0;
  }
}
.app-c-media-with-actions__actions {
  margin: 0 !important;
  padding: 0 !important;
  clear: both;
  margin-bottom: 30px !important;
  li {
    display: inline-block;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
    .govuk-link {
      margin-bottom: 0;
    }
    .app-link--button {
      margin: 0;
      padding: 0;
      border: 0;
      color: #1d70b8;
      background: transparent;
      text-decoration: underline;
      cursor: pointer;
    }
    .app-link--destructive:link,
    .app-link--destructive:visited,
    .app-link--destructive:hover,
    .app-link--destructive:active {
      color: #bd2f19;
    }
  }
}
.gem-c-attachment__details {
  padding-left: 134px;
}

.gem-c-attachment__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin: 0 0 15px;
    width: 100%;
}
.gem-c-attachment__metadata--compact {
  margin-bottom: 0;
}
.gem-c-attachment__metadata {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0 0 15px;
  color: #505a5f;
  .gem-c-attachment__abbr {
    text-decoration: none;
    cursor: help;
  }
}
.gem-c-attachment__thumbnail {
  position: relative;
  width: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 5px;
  float: left;
}
.gem-c-attachment__thumbnail-image {
  display: block;
  width: auto;
  max-width: 99px;
  height: 140px;
  border: rgba(11,12,12,0.1);
  outline: 5px solid rgba(11,12,12,0.1);
  background: #fff;
  box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
  fill: #b1b4b6;
  stroke: #b1b4b6;
}

@media (min-width: 40.0625em) {
  .app-c-media-with-actions__actions {
    .app-c-media-with-actions {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
    .app-link--button,
    .govuk-body,
    .govuk-body-m {
      margin-bottom: 20px;
    }
    .gem-c-attachment__metadata {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
    .gem-c-attachment__title {
      font-size: 27px;
      font-size: 1.6875rem;
      line-height: 1.1111111111;
    }
  }
}