<div class="nhsuk-footer nhsd-footer" id="nhsuk-footer">
  <div class="nhsuk-grid-column-one-third">
    <h3>Guidance</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">About the Catalogue</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">Process Overview</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3>Contact Us</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">Catalogue submissions</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">NHS Digital service desk</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3>Further Information</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">NHS Digital</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link">Capabilities and Standards Model</a></li>
    </ul>
  </div>
</div>
