
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <a href="javascript: submitNavForm('organisation/financial-reports', $(this));" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Government Digital Service</span>
      <h1 class="govuk-heading-xl">
        New financial report
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        TBD
      </p>
    </div>
  </div>


{% endblock %}



{# 

<div class="tab-content">
  <h2 class="add-bottom-margin">Creating a Financial Report for Government Digital Service</h2>

  <div class="row">
    <div class="col-md-8">
      <form class="well" id="new_financial_report" action="/government/admin/organisations/government-digital-service/financial_reports" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="PrTFfvQgn2O6Se0xQcFOixm6dvBOnmx9fa8D7YxcdMnXysOQty74XGn1lU80ABZS751IkSkiSioPzT7LGn3zaA" autocomplete="off">
        <div class="form-group"><label class="required" for="financial_report_year">Year<span>*</span></label><input class="form-control" type="text" value="2023" name="financial_report[year]" id="financial_report_year"></div>
        <div class="form-group"><label for="financial_report_funding">Funding</label><input class="form-control" type="text" name="financial_report[funding]" id="financial_report_funding"></div>
        <div class="form-group"><label for="financial_report_spending">Spending</label><input class="form-control" type="text" name="financial_report[spending]" id="financial_report_spending"></div>
        <div class="form-actions" data-module="track-button-click" data-track-category="form-button" data-track-action="financial-report-button"><input type="submit" name="save" value="Save" class="btn btn-primary btn-lg" data-disable-with="Save"><span class="or_cancel"> or <a href="/government/admin/organisations/government-digital-service/financial_reports">cancel</a></span></div>
</form>    </div>
  </div>
</div>

 #}