
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <a href="javascript: submitNavForm('organisation/features', $(this));" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Government Digital Service</span>
      <h1 class="govuk-heading-xl">
        New non-GOV.UK government link
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        TBD
      </p>
    </div>
  </div>


{% endblock %}



{# 

<main role="main">

        
  
<h2>
  Create a non-GOV.UK government link within ‘Government Digital Service’
</h2>

<div class="row">
  <div class="col-md-8">
    <form class="new_offsite_link" id="new_offsite_link" action="/government/admin/organisations/government-digital-service/offsite_links" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vA0P6V8XT5Coam6t6hVJ-zmh8GxcCn64TU0u5gQARRhVcwkHHBkor3vWFtOf1BEiz4bODTu2WO8_LxPAkiHCuQ" autocomplete="off">
      <div class="well">
        
        <div class="form-group"><label class="required" for="offsite_link_title">Title<span>*</span></label><input class="form-control" type="text" name="offsite_link[title]" id="offsite_link_title"></div>
        <div class="form-group"><label class="required" for="offsite_link_summary">Summary<span>*</span></label><textarea rows="3" class="form-control" name="offsite_link[summary]" id="offsite_link_summary"></textarea></div>
        <label class="required" for="offsite_link_link_type">Type<span>*</span></label>

        <div class="form-group">
          <select class="form-control input-md-3" name="offsite_link[link_type]" id="offsite_link_link_type"><option value="alert">Alert</option>
<option value="blog_post">Blog post</option>
<option value="campaign">Campaign</option>
<option value="careers">Careers</option>
<option value="manual">Manual</option>
<option value="nhs_content">NHS content</option>
<option value="service">Service</option>
<option value="content_publisher_news_story">News story (Content Publisher)</option>
<option value="content_publisher_press_release">Press release (Content Publisher)</option></select>
        </div>

        <div class="form-group">
          <label for="offsite_link_date">Date</label>
          <div class="form-inline">
            <select id="offsite_link_date_1i" name="offsite_link[date(1i)]" class="date form-control">
<option value="" label=" "></option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
</select>
<select id="offsite_link_date_2i" name="offsite_link[date(2i)]" class="date form-control">
<option value="" label=" "></option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
<select id="offsite_link_date_3i" name="offsite_link[date(3i)]" class="date form-control">
<option value="" label=" "></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>

          </div>
        </div>
        <div class="form-group"><label class="required" for="offsite_link_url">URL<span>*</span></label><input class="form-control" type="text" name="offsite_link[url]" id="offsite_link_url"></div>
          <div class="form-actions" data-module="track-button-click" data-track-category="form-button" data-track-action="offsite-link-button"><input type="submit" name="save" value="Save" class="btn btn-primary btn-lg" data-disable-with="Save"><span class="or_cancel"> or <a href="/government/admin/organisations/government-digital-service/features">cancel</a></span></div>
      </div>
</form>  </div>
</div>




      </main>

 #}