
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <a href="javascript: submitNavForm('organisation/social-media-accounts', $(this));" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Government Digital Service</span>
      <h1 class="govuk-heading-xl">
        New social media account
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        TBD
      </p>
    </div>
  </div>


{% endblock %}



{# 

<section class="container">
      <main role="main">

        
  <h1>New Social Media Account</h1>

<div class="row">
  <div class="col-md-8">
    <form class="well" id="new_social_media_account" action="/government/admin/organisations/government-digital-service/social_media_accounts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="8iQljXzNmZT73ksk2wE6_xJoH5qrUHEG5zG2dsEWSsMbWiNjP8P-qyhiM1quwGIm5E8h-8zsV1GVU4tQVzfNYg" autocomplete="off">
      
      <fieldset class="social_media_account">
          <div class="form-group">
            <label class="control-label required" for="social_media_account_social_media_service_id">Service<span>*</span></label>
            <select class="chzn-select form-control" data-placeholder="Choose the social media service…" name="social_media_account[social_media_service_id]" id="social_media_account_social_media_service_id" style="display: none;"><option value="" label=" "></option>
<option value="1">Twitter</option>
<option value="2">Facebook</option>
<option value="3">YouTube</option>
<option value="4">Flickr</option>
<option value="5">Blog</option>
<option value="6">Pinterest</option>
<option value="7">LinkedIn</option>
<option value="8">Google Plus</option>
<option value="9">Foursquare</option>
<option value="10">Email</option>
<option value="11">Other</option>
<option value="12">Instagram</option></select><div class="chosen-container chosen-container-single" style="width: 100%;" title="" id="social_media_account_social_media_service_id_chosen"><a class="chosen-single chosen-default" tabindex="-1"><span>Choose the social media service…</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
          </div>
        <div class="form-group"><label class="required" for="social_media_account_url">Url<span>*</span></label><input class="form-control" type="text" name="social_media_account[url]" id="social_media_account_url"></div>
        <div class="form-group"><label for="social_media_account_title">Title</label><input class="form-control" type="text" name="social_media_account[title]" id="social_media_account_title"></div>
        <input value="en" autocomplete="off" type="hidden" name="social_media_account[locale]" id="social_media_account_locale">
      </fieldset>

      <div class="form-actions" data-module="track-button-click" data-track-category="form-button" data-track-action="social-media-account-button"><input type="submit" name="save" value="Save" class="btn btn-primary btn-lg" data-disable-with="Save"><span class="or_cancel"> or <a href="/government/admin/organisations/government-digital-service/social_media_accounts">cancel</a></span></div>
</form>  </div>
</div>




      </main>
      <footer class="page-footer">
        
        <a class="inherit" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown Copyright</a>
      </footer>
    </section>

 #}