
{% set sectionState = [] %}
{# <h3 class="govuk-heading-l">Attachments</h3> #}

{% if data['pageState'] === 'populated' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
  {{ govukButton({
      text: "Edit attachments",
      classes: "whitehall-button whitehall-button--secondary",
      href: "../publication/attachments/" + hrefParams
  }) }}
{# <p class="govuk-body whitehall-summary-change-link">
  <a href="../publication/attachments/{{hrefParams}}" class="govuk-link">Edit attachments</a>
</p> #}
{% endif %}

{% if data['pageState'] === 'empty' %}
  {{ govukButton({
      text: "Add an attachment",
      classes: "whitehall-button whitehall-button--secondary",
      href: "../publication/attachments/" + hrefParams
  }) }}
{# <p class="govuk-body whitehall-summary-change-link">
  <a href="../publication/attachments/{{hrefParams}}" class="govuk-link">Add an attachment</a>
</p> #}
{% endif %}

{% if data['pageState'] === 'populated' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
<div class="populated">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-4 govuk-!-margin-top-0">
  {{ whitehallAttachment({
    folder: "/publication",
    items: [
      {
        title: "Who can get a Blue Badge?",
        url: "/public/example/attachment.html",
        type: "HTML",
        accessible: true
      },
      {
        title: "Who can get a Blue Badge? (easy read version)",
        url: "/public/example/who-can-get-a-blue-badge-easy-read.pdf",
        type: "PDF",
        size: "2.24 MB",
        pages: "13 pages",
        accessible: false
      },
      {
        title: "Who can get a Blue Badge? (large type version, for printing)",
        url: "/public/example/who-can-get-blue-badge-large-type.pdf",
        type: "PDF",
        size: "236 KB",
        pages: "10 pages",
        reference: "",
        accessible: false
      },
      {
        title: "Who can get a Blue Badge? (audio)",
        url: "/public/example/who-can-get-a-blue-badge.mp3",
        type: "Audio",
        reference: "http://assets.dft.gov.uk/publications/blue-badge-audio/who-can-get-a-blue-badge.mp3",
        accessible: true
      }
      
    ]
  }) }}
  <!-- Attachments
  If you’d like to add an attachment to this document, please save it first. You’ll then find a new tab at the top of the page that you can use to upload, edit and delete attachments. -->
  {# {% include "../includes/attachments-list.html" %} #}
  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8"> -->
</div>
{% endif %}

{% if data['pageState'] === 'empty' %}
<p class="govuk-body whitehall-body-empty">
  {# There are no attachments in this document. #}
  You need to add an attachment before publishing.
</p>
{% endif %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-4">

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address for ordering attachment files in an alternative format"
      },
      value: {
        text: content.documentContent[0].accessibleEmail
      },
      actions: {
        items: [
          {
            href: "../publication/edit/attachments-email" + hrefParams,
            text: "Edit",
            visuallyHiddenText: "Edit"
          }
        ]
      }
    }
  ]
}) }}
{# <h3 class="govuk-heading-s govuk-!-margin-bottom-2" style="display: block !important;">Email address for ordering attachment files in an alternative format</h3>
<p class="govuk-body whitehall-summary-change-link" style="margin-top: 0px;">
<a href="edit/attachments-email{{hrefParams}}" class="govuk-link">Edit</a>
</p>
<p class="govuk-body">{{content.documentContent[0].accessibleEmail}}</p>
{# Government Digital Service (accessibleformats@digital.cabinet-office.gov.uk) #}
<!-- If the email address you need isn’t here, it should be added to the relevant Department or Agency -->