{% set sectionState = [] %}

{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}

{% if data['pageState'] === 'fullPopulated' %}

{% endif %}
{# <h3 class="govuk-heading-l">Has this document been published before?</h3> #}
<!--
  Should this be just in the publish tab?
-->
{# {{ govukInsetText({
  text: "In the published GOV.UK page, this information will show as the date published in the header."
}) }} #}

<!-- 
  Published
  28 January 2019
  Last updated
  29 November 2022 — See all updates

  Its original publication date was * 2022 February 10 - 00:00

-->

<div class="section-dates-published-new-draft">
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Yes"
        },
        value: {
          text: "This document has previously been published on another website."
        },
        actions: {
          items: [
            {
              href: "edit/previously-published" + hrefParams,
              text: "Edit",
              visuallyHiddenText: "Edit date"
            }
          ]
        }
      },
      {
        key: {
          text: "First published"
        },
        value: {
          text: "4:04pm, 28 January 2019"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Edit",
              visuallyHiddenText: "Edit date"
            }
          ]
        }
      },
      {
        key: {
          text: "History mode"
        },
        value: {
          html: 'Associate with government of the time (currently set to 2015 Conservative government).
          <br /><a class="govuk-link" href="#">Read the history mode guidance for more information as to what this means</a>.'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Edit date",
              visuallyHiddenText: "Edit"
            }
          ]
        }
      }
    ]
  }) }}
</div>


<!-- This document *

has never been published before. It is new.
has previously been published on another website.
-->


<div class="section-dates-draft">
<!-- DRAFT
Has this document been previously published? -->


{{ govukSummaryList({
  classes: "whitehall-taxonomy-list",
  rows: [
    {
      key: {
        html: '<p class="govuk-body">
          No. This document has never been published before. It is new.
        </p>'
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "edit/previously-published",
            text: "Edit",
            visuallyHiddenText: "Edit"
          }
        ]
      }
    }
  ]
}) }}
</div>

<div class="section-dates-published-another">
<!-- Previously been published on another website -->
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Yes"
      },
      value: {
        text: "This document has previously been published on another website in 10th February 2020 at 00:00"
      },
      actions: {
        items: [
          {
            href: "edit/previously-published",
            text: "Edit",
            visuallyHiddenText: "Edit"
          }
        ]
      }
    }
  ]
}) }}
</div>

<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0"> -->
