$modal-size: 828px;
.whitehall-govspeak-editor-help {
    width: $modal-size;
    background-color: #f3f2f1;
    // margin-left: -546px;
    margin: 0 auto;
    padding: 30px;
    height: 340px;
    overflow: hidden;
    overflow-y: auto;
  
    .autocomplete__input {
      background-color: #fff;
    }
}
@supports (margin: max(calc(0px))) {
    .whitehall-govspeak-editor-help {
        margin-right: calc(env(safe-area-inset-right) - ($modal-size) + 50px);
        margin-left: calc(env(safe-area-inset-left) - ($modal-size) + 50px);
    }
}
  
.whitehall-guidance {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    // margin: 30px 0;
    overflow-x: auto;
    width: 100%;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    th {
      font-family: "GDS Transport", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 700;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
      text-align: left;
      color: #0b0c0c;
    }
    td,
    th {
      vertical-align: top;
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #b1b4b6;
      font-size: 16px;
      font-size: 1rem;
    }
  }
  .whitehall-table-separator {

  }
  .whitehall-table-description {
  }
  .whitehall-table-subtitle {
    font-weight: bold;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    // word-break: normal;
    // word-wrap: normal;
    display: block;
    padding: 9.5px;
    // margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.428571429;
    color: #444;
    word-break: break-all;
    word-wrap: break-word;
    // background-color: #f5f5f5;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  }
  h2, h3, h4, ol, ul {
    margin-bottom: 0;
  }
  .govuk-grid-column-one-quarter {
    .govuk-list {
      li {
        padding: 10px 20px 10px 0;
        border-bottom: 1px solid #b1b4b6;
        font-size: 16px;

        &.whitehall-guidance-item-selected a,
        &.whitehall-guidance-item-selected a:visited {
          font-weight: bold;
          text-decoration: none !important;
          color: #0b0c0c !important;
        }
      }
    }
  }
}
@media (min-width: 40.0625em) {
  .whitehall-govspeak-editor-help {
    width: 886px;
    background-color: #f3f2f1;
  //   margin-left: -604px;
  //   margin: 0 auto;
    padding: 30px;
    height: 380px;
  }
  // .whitehall-govspeak-editor-help {
  //     margin-right: max(30px, calc(15px + env(safe-area-inset-right) - ($modal-size/2)));
  //     margin-left: max(30px, calc(15px + env(safe-area-inset-left) - ($modal-size/2)));
  // }
  .whitehall-guidance {
    table {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
        th, td {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 1.3157894737;
        }
    }
  }
}


// RESET
#whitehall-guidance-calltoaction {
  display: none;
}