<h1 class="govuk-heading-l">Attachments for ‘Formal declaration of the Memorandum of Understanding’</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-pane">
      <form data-modal-action="upload" data-gtm="upload-attachment" enctype="multipart/form-data" action="/documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/file-attachments" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="fsJw9Roo6Rc9OIgsR1g_CxxpHwqbOUXmUNPJXDz4ejld1XciNOVOYVcJUL4cTDpkZzObsQfw1fHx0R2XyZ2fCw" autocomplete="off">
<div class="govuk-form-group">
  <label for="file-upload-fcb347c7" class="gem-c-label govuk-label">        <h2 class="govuk-heading-m">
          Upload an attachment
        </h2>
</label>
<div id="hint-09b7c2ba" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    <p>All files must be <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/accessible-pdfs" target="_blank">accessible</a>.</p>
<p>Files must be uploaded in an <a href="https://www.gov.uk/guidance/content-design/planning-content#open-formats" target="_blank">open standards file format</a>.
For example, .odt not .docx.</p>
</div>
</div>
  <input name="file" type="file" class="gem-c-file-upload govuk-file-upload" id="file-upload-fcb347c7" aria-describedby="hint-09b7c2ba">
</div>
<div class="govuk-form-group">   
  <label for="input-05b7f2cf" class="gem-c-label govuk-label govuk-label--s">Attachment title</label>
<div id="hint-c6bf7e07" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
  Use the official title of the document
</div>
    <input aria-describedby="hint-c6bf7e07" class="gem-c-input govuk-input" id="input-05b7f2cf" name="title" spellcheck="false" type="text">
</div>
  <button class="gem-c-button govuk-button" type="submit">Upload</button>
</form>
</div>
  </div>
</div>