  <h1 class="govuk-heading-l">Insert image</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-pane">
        <form data-gtm="image-upload-submit" data-modal-action="upload" enctype="multipart/form-data" action="/documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" value="7-f4r9MbgHJmEVC0FGeWnF_wziOTo2rNbDLKK2l8AvpIePiWtDX5Q06Mkdb4LryQsW5jP_KAkCkwKSEbxpXvoQ" autocomplete="off">
          <div class="govuk-form-group">
            <label for="file-upload-3aa7209e" class="gem-c-label govuk-label">
              <h2 class="govuk-heading-m">
                Upload an image
              </h2>
            </label>
            <div id="hint-98b2b645" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
              <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
                <p>Images can be jpg, png or gif files. Full <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/images-and-videos" target="_blank">guidance on images</a>.</p>
              </div>
            </div>
            <input name="image" type="file" class="gem-c-file-upload govuk-file-upload" id="file-upload-3aa7209e" aria-describedby="hint-98b2b645">
          </div>

          <button class="gem-c-button govuk-button" type="submit">Upload</button>
        </form>
      </div>

      <h2 class="govuk-heading-m">Lead image</h2>

      <div class="app-c-image-with-metadata" id="image-5443">
        <div class="app-c-media-with-actions">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <img class="app-c-image-with-metadata__image" src="/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaG9LIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f90c3a0fa4c4383cd484e757bcb3cef7725c8a4e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2Q1dOeWIzQkpJaEV4TkRnMWVEazVNQ3M1S3pBR093WlVPZ3R5WlhOcGVtVkpJZ3d6TURCNE1qQXdCanNHVkE9PSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d77a2ef59d2d2cdb17b9d719534c88d3b5156a26/p1044406-2-1.jpg" alt="Group photo featuring Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.">
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="app-c-metadata">
          <dl class="app-c-metadata__list app-c-metadata__list--inline">
              <dt class="app-c-metadata__title">Alt text:</dt>
              <dd class="app-c-metadata__description">Group photo featuring Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.</dd>
              <dt class="app-c-metadata__title">Caption:</dt>
              <dd class="app-c-metadata__description">Tom Read, Chief Executive and Director General of Government Digital Service and Mr Kok Ping Soon, Chief Executive, GovTech Singapore </dd>
              <dt class="app-c-metadata__title">Credit:</dt>
              <dd class="app-c-metadata__description"></dd>
      </dl></div>
            </div>
          </div>

          <ul class="app-c-media-with-actions__actions">
              <li><a class="govuk-link" data-gtm="download-lead-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2519/download">Download 960x640 image</a></li>
      </ul></div></div>

            <h2 class="govuk-heading-m">
              Other images
            </h2>
      <div class="app-c-image-with-metadata" id="image-2517">
        
      <div class="app-c-media-with-actions">
        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

              <img class="app-c-image-with-metadata__image" src="/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaGdLIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7111c5fa82253e6cecbdd68b5ea4e2981fb4021d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2Q1dOeWIzQkpJaEl4TlRBd2VERXdNREFyTUNzd0Jqc0dWRG9MY21WemFYcGxTU0lNTXpBd2VESXdNQVk3QmxRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c3321bcb908ad7cb61582af4b3748ea425a176fa/p1044407-corrected.png" alt="Group photo featuring Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.">

            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="app-c-metadata">
          <dl class="app-c-metadata__list app-c-metadata__list--inline">
              <dt class="app-c-metadata__title">Alt text:</dt>
              <dd class="app-c-metadata__description">Group photo featuring Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.</dd>
              <dt class="app-c-metadata__title">Caption:</dt>
              <dd class="app-c-metadata__description"></dd>
              <dt class="app-c-metadata__title">Credit:</dt>
              <dd class="app-c-metadata__description"></dd>
              <dt class="app-c-metadata__title">Markdown code:</dt>
              <dd class="app-c-metadata__description">[Image: p1044407-corrected.png]</dd>
      </dl></div>
            </div>
          </div>

          <ul class="app-c-media-with-actions__actions">
              <li><a class="govuk-link" data-modal-action="edit" data-gtm="edit-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2517/edit">Edit details</a></li>
              <li><a class="govuk-link" data-modal-action="edit" data-gtm="crop-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2517/crop">Crop image</a></li>
              <li><a data-modal-action="insert" data-modal-data="[Image: p1044407-corrected.png]" data-gtm="insert-image-markdown" class="govuk-link govuk-link--no-visited-state" href="#">Insert image markdown</a></li>
              <li><a class="govuk-link app-link--button app-link--destructive" data-modal-action="delete" data-gtm="delete-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2517/delete">Delete image</a></li>
      </ul></div></div>
      <div class="app-c-image-with-metadata" id="image-2518">
        
      <div class="app-c-media-with-actions">
        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

              <img class="app-c-image-with-metadata__image" src="/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaGtLIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--8fb2dd5cc3f65f99128193e635c35b91b33e0691/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2Q1dOeWIzQkpJaEl4TXpnemVEa3lNaXMxT1Nzd0Jqc0dWRG9MY21WemFYcGxTU0lNTXpBd2VESXdNQVk3QmxRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--6dc0eba112fe978c7a73f681570d0a9b015133da/p1044390.jpg" alt="Photo of Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.">

            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="app-c-metadata">
          <dl class="app-c-metadata__list app-c-metadata__list--inline">
              <dt class="app-c-metadata__title">Alt text:</dt>
              <dd class="app-c-metadata__description">Photo of Tom Read, Chief Executive of GDS and Mr Kok Ping Soon, Chief Executive, GovTech Singapore.</dd>
              <dt class="app-c-metadata__title">Caption:</dt>
              <dd class="app-c-metadata__description"></dd>
              <dt class="app-c-metadata__title">Credit:</dt>
              <dd class="app-c-metadata__description"></dd>
              <dt class="app-c-metadata__title">Markdown code:</dt>
              <dd class="app-c-metadata__description">[Image: p1044390.jpg]</dd>
      </dl></div>
            </div>
          </div>

          <ul class="app-c-media-with-actions__actions">
              <li><a class="govuk-link" data-modal-action="edit" data-gtm="edit-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2518/edit">Edit details</a></li>
              <li><a class="govuk-link" data-modal-action="edit" data-gtm="crop-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2518/crop">Crop image</a></li>
              <li><a data-modal-action="insert" data-modal-data="[Image: p1044390.jpg]" data-gtm="insert-image-markdown" class="govuk-link govuk-link--no-visited-state" href="#">Insert image markdown</a></li>
              <li><a class="govuk-link app-link--button app-link--destructive" data-modal-action="delete" data-gtm="delete-image" href="../documents/caeeb65b-1232-4349-a9c9-50eab164d5cb:en/images/2518/delete">Delete image</a></li>
      </ul></div></div>
  </div>
</div>