<h1 class="govuk-heading-l">Embed YouTube video</h1>
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    <p>Only YouTube videos can be embedded on GOV.UK. <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#video" target="_blank">Full guidance on videos on GOV.UK</a>.</p>
</div>
<form data-modal-action="insert" data-gtm="insert-video-embed" action="/video-embed" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="lJ-Lk2JkQeMxKny481ywd6r3V_mD59LGTKe5_j5ceuzU4X-PETwIaobUno3uhgirzOjGoNvl6RC03IqV73hk5Q" autocomplete="off">
  <div class="govuk-form-group">
    <label for="input-5fd404e8" class="gem-c-label govuk-label govuk-label--s">Video title</label>
      <input class="gem-c-input govuk-input" id="input-5fd404e8" name="title" spellcheck="false" type="text">
  </div>
  <div class="govuk-form-group">     
    <label for="input-551efad5" class="gem-c-label govuk-label govuk-label--s">YouTube video web address</label>
  <div id="hint-f5ba8ee6" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
    Links should start: https://www.youtube.com/watch
  </div>
      <input aria-describedby="hint-f5ba8ee6" class="gem-c-input govuk-input" id="input-551efad5" name="url" spellcheck="false" type="text">
  </div>
  <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Embed video</button>
</form>