
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary" %}

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    
    {% include "./includes/summary-messages.html" %}

     <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{content.documentContent[0].title}}
    </h1>

    <div class="tag-draft">
      <!-- {{ govukTag({
        text: content.state,
        classes: "govuk-tag--content.colour"
      }) }} -->
      <strong class="govuk-tag govuk-tag--{{content.documentContent[0].tagColour}}">
        {{content.documentContent[0].state}}
      </strong>
    </div>

    <div class="tag-submitted">
      {{ govukTag({
        text: "Submitted",
        classes: "govuk-tag--green"
      }) }}
    </div>

    <!-- Warnings -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Document summary',
          href: 'summary'
        }, {
          html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
          href: 'history'
        },
        {
          html: 'Preview and share',
          href: '../preview'
        },
        {
          html: 'Review and publish',
          href: '../publish',
          active: true
        }]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
      <h2 class="govuk-visually-hidden">Review and publish</h2>
<!-- 
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "State"
            },
            value: {
              text: "Draft"
            }
          },
          {
            key: {
              text: "First published"
            },
            value: {
              text: "4:04pm, 28 January 2019"
            }
          },
          {
            key: {
              text: "Last updated"
            },
            value: {
              text: "10:01am on 2 December 2022"
            }
          },
          {
            key: {
              text: "Created"
            },
            value: {
              text: "10:53am on 4 July 2022"
            }
          },
          {
            key: {
              text: "Document created by"
            },
            value: {
              text: "Clarence J. Boddicker"
            }
          },
          {
            key: {
              text: "Last edited by"
            },
            value: {
              text: globals.loggedUser
            }
          }
        ]
      }) }}



      <div class="whitehall-tools">
        Preview? Share link?

      </div>


      <div class="whitehall-tools">
        Preview? Share link?
        <p class="govuk-body">Send this link to someone so they can see a preview of how the document will appear on GOV.UK. No password is needed.</p>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">https://draft-origin.integration.publishing.service.gov.uk/government/news/formal-declaration-of-the-memorandum-of-understanding?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiMWY1MzA1Mi1mYTMwLTQ3NDktYTYyOC00ZWI0YjZiZGIxYWYiLCJjb250ZW50X2lkIjoiY2FlZWI2NWItMTIzMi00MzQ5LWE5YzktNTBlYWIxNjRkNWNiIiwiaWF0IjoxNjY5OTc1Mjc2LCJleHAiOjE2NzI2NTM2NzZ9.ExKntcUEbJ9IkcHF6dQHa8mcLzs-EZodA5iO6YQcL2o&utm_content=preview-link</textarea>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Copy link
        </button>
      </div>

      {{ govukDetails({
        summaryText: "Share document preview for fact check or approval",
        html: '<p class="govuk-body">Send this link to someone so they can see a preview of how the document will appear on GOV.UK. No password is needed.</p>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">https://draft-origin.integration.publishing.service.gov.uk/government/news/formal-declaration-of-the-memorandum-of-understanding?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiMWY1MzA1Mi1mYTMwLTQ3NDktYTYyOC00ZWI0YjZiZGIxYWYiLCJjb250ZW50X2lkIjoiY2FlZWI2NWItMTIzMi00MzQ5LWE5YzktNTBlYWIxNjRkNWNiIiwiaWF0IjoxNjY5OTc1Mjc2LCJleHAiOjE2NzI2NTM2NzZ9.ExKntcUEbJ9IkcHF6dQHa8mcLzs-EZodA5iO6YQcL2o&utm_content=preview-link</textarea>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Copy link
        </button>'
      }) }}



      Fact checking -->


      {{ govukRadios({
        name: "publish-actions",
        fieldset: {
          legend: {
            text: "What do you want to do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "2i",
            text: "Submit for 2i review"
          },
          {
            value: "force-publish",
            text: "Force publish (not recommended)"
          },
          {
            divider: "or"
          },
          {
            value: "discard",
            html: '<p style="color: #d4351c;">Discard draft</p>'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "submit-2eyes"

      }) }}

    </div>
  </div>


  <!-- 
    OTHER TOOLS
    https://govspeak-preview.publishing.service.gov.uk/

    Broken links

    Words to avoid


   -->

<!--

          {
            value: "fact-checking",
            text: "Fact checking"
          },

      Draft
      * Preview on website: multiple translations
      * Preview on website: no translations
      * Share document preview
      * Edit draft
      * Go to published edition
      
      Published
      * Create a new edition to edit
      * View on website
      * View data about the page
      * Go to published edition
      
      
      
      Sections
      *       Check what's changed (history?)
      *       History
      *       Notes
          *       Add new remark
      *       Fact-checking
      
      Actions
      *       Publish
      *       Reject
      *       Discard draft
      *       Force publish
      *       Submit for 2nd eyes
      *       Unwithdraw
      *       Force schedule
      *       Withdraw or unpublish
      
      When someone else force-published
      *       2i: Looks good
      
      Unpublished and withdrawn
      *       Edit unpublishing explanation
      *       Edit withdrawl explanation

      Tools
      *       Check for broken links
      *       Broken link: Check again
      *       Warning: Cannot be force published because of broken links

      Warnings
      John-Paul Dickie
John-Paul Dickie started editing this publication about 2 hours ago and hasn’t yet saved their work.
You might want to check if they are still working on it.
      

      Access limiting
      Limit access to producing organisations prior to publication
      Scheduled publication
      Schedule for publication


      {{ govukButton({
        text: "Create new edition",
        href: "#"
      }) }}
    
    -->

      <!-- {{ govukButton({
        text: "Edit document",
        classes: "govuk-button--secondary",
        href: "#"
      }) }} -->



  

<!-- 


      <h2 class="govuk-heading-m">My draft documents</h2>

      {{ govukTable({
        caption: "Month you apply",
        sortable: true,
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Type",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Title",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "Updated",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Status",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "",
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Consultation"
            },
            {
              text: "Draft data sharing legislation to support identity verification"
            },
            {
              html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
            },
            {
              text: ""
            },
            {
              html: '<a href="document">Edit</a>',
              format: "numeric"
            }
          ]
        ]
      }) }}

 -->





      <!-- {% set emailHtml %}
      {{ govukInput({
        id: "contact-by-email",
        name: "contact-by-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Email address"
        },
        errorMessage: {
          text: "Email address cannot be blank"
        }
      }) }}
      {% endset -%}

      {% set phoneHtml %}
      {{ govukInput({
        id: "contact-by-phone",
        name: "contact-by-phone",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Phone number"
        }
      }) }}
      {% endset -%}

      {% set textHtml %}
      {{ govukInput({
        id: "contact-by-text",
        name: "contact-by-text",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Mobile phone number"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        name: "contact",
        fieldset: {
          legend: {
            text: "How would you prefer to be contacted?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select one option."
        },
        items: [
          {
            value: "email",
            text: "Email",
            checked: true,
            conditional: {
              html: emailHtml
            }
          },
          {
            value: "phone",
            text: "Phone",
            conditional: {
              html: phoneHtml
            }
          },
          {
            value: "text",
            text: "Text message",
            conditional: {
              html: textHtml
            }
          }
        ]
      }) }} -->


      <div class="govuk-grid-row" style="display: none;">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-margin-top-0">
          <!-- <div class="whitehall-tools">
            Preview? Share link?
    
          </div>
    
          {{ govukDetails({
            summaryText: "Share document preview for fact check or approval",
            html: '<p class="govuk-body">Send this link to someone so they can see a preview of how the document will appear on GOV.UK. No password is needed.</p>
            <div class="govuk-form-group">
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">https://draft-origin.integration.publishing.service.gov.uk/government/news/formal-declaration-of-the-memorandum-of-understanding?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiMWY1MzA1Mi1mYTMwLTQ3NDktYTYyOC00ZWI0YjZiZGIxYWYiLCJjb250ZW50X2lkIjoiY2FlZWI2NWItMTIzMi00MzQ5LWE5YzktNTBlYWIxNjRkNWNiIiwiaWF0IjoxNjY5OTc1Mjc2LCJleHAiOjE2NzI2NTM2NzZ9.ExKntcUEbJ9IkcHF6dQHa8mcLzs-EZodA5iO6YQcL2o&utm_content=preview-link</textarea>
            </div>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Copy link
            </button>'
          }) }} -->
    
    <!--       
          Draft
          * Preview on website: multiple translations
          * Preview on website: no translations
          * Share document preview
          * Edit draft
          * Go to published edition
          
          Published
          * Create a new edition to edit
          * View on website
          * View data about the page
          * Go to published edition
          
          
          
          Sections
          *       Check what's changed (history?)
          *       History
          *       Notes
              *       Add new remark
          *       Fact-checking
          
          Actions
          *       Publish
          *       Reject
          *       Discard draft
          *       Force publish
          *       Submit for 2nd eyes
          *       Unwithdraw
          *       Force schedule
          *       Withdraw or unpublish
          
    
          
          Unpublished and withdrawn
          *       Edit unpublishing explanation
          *       Edit withdrawl explanation
    
          Tools
          *       Check for broken links
          *       Broken link: Check again
          *       
    
          
    
          Access limiting
          Limit access to producing organisations prior to publication
          Scheduled publication
          Schedule for publication
    
    
          {{ govukButton({
            text: "Create new edition",
            href: "#"
          }) }}
        
        -->
    
          <!-- {{ govukButton({
            text: "Edit document",
            classes: "govuk-button--secondary",
            href: "#"
          }) }} -->
    
        </div>
      </div>

    </div>




    <!-- RIGHT COLUMN -->
    <div class="govuk-grid-column-one-third">

      <!-- Actions and tools? -->
   
    </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  {# sticky-element

  app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden #}


  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  // Summary page
  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  }
</script>
{% endblock %}

