
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      back:
        {
          text: "Back",
          href: "../../documents/" + hrefParams
        }
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Create a new publication
    </h1>
  </div>
</div> -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-xl">
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      New {{content.documentContent[0].type}}: {{content.documentContent[0].subtype}}
    </h1>
    {# {% call govukFieldset({
      legend: {
        text: "New publication: guidance",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %} #}

      {{ govukInsetText({
        html: '<p class="govuk-body">
                You’ll need to save the basic information before being able to add the body, attachments, images, taxonomy, and optional fileds.
              </p>
              <p class="govuk-body">You can edit this information later.</p>'
      }) }}

      {% include "./includes/title.html" %}
      {% include "./includes/summary.html" %}
      {% include "./includes/previously-published.html" %}
      {% include "./includes/excluded-nations.html" %}
      
    {# {% endcall %} #}

    {{ govukButton({
      text: "Continue",
      href: "summary?message=documentCreated&pageState=empty"
    }) }}
    <!-- Edit or summary? -->
  </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  // $( document ).ready(function() {
    $('#summary').text('');
    $('#title').val('');
    $('#pageURL').text('You haven’t entered a title yet.')
  // });
</script>
{% endblock %}