
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      back:
        {
          text: "Back",
          href: "../../publication/summary"
        }
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Publish document
    </h1>

    {% include "../includes/document-info.html" %}
    
    <form id="publishOptions" name="publishOptions">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "publishOptionsQuestions",
        idPrefix: "publishOptionsQuestions",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "twoi",
            text: "Submit for 2i review"
          },
          {
            value: "scheduled",
            text: "Schedule for publication"
          },
          {
            value: "force-publish",
            text: "Force-publish: This content needs to be published urgently but should be reviewed as soon as possible (not recommended)"
          }
        ]
      }) }}
      <input type="hidden" id="message" name="message" value="published" />
    </form>

    {#           {
            value: "reviewed",
            text: "This content has been reviewed and approved for publication"
          }, #}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "javascript: actionURL();"
      }) }}

      <a class="govuk-link" href="../publication/attachments/">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  function actionURL() {
    var twoi = $('#publishOptionsQuestions').is(':checked');
    var scheduled = $('#publishOptionsQuestions-2').is(':checked');
    var reviewed = $('#publishOptionsQuestions-3').is(':checked');
    var forcePublish = $('#publishOptionsQuestions-4').is(':checked');
    if(twoi) {
      $('#publishOptions').attr('action', '../../publication/publish/2i-review').submit();
    } else if(scheduled) {
      $('#publishOptions').attr('action', '../../publication/publish/schedule').submit();
    } else if(reviewed) {
      $('#publishOptions').attr('action', '../../publication/summary').submit();
    } else if(forcePublish) {
      $('#publishOptions').attr('action', '../../publication/publish/force-publish').submit();
    } else {
      $('#publishOptions').attr('action', '../../publication/summary').submit();
    }
  }
</script>
{% endblock %}
