{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% set mainClasses = "govuk-main-wrapper--auto-spacing populated document-type-publication summary" %}

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
<!-- 
  TODO:
  - Align Change link to the right of section titles?
  - 

 -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- 

        Error message
        Success message

       -->


      <span class="govuk-caption-xl">
        Guidance
      </span>
      <h1 class="govuk-heading-xl">
        HM Land Registry: Sign your mortgage deed
      </h1>

      <!--
        Warnings
        
              When someone else force-published
      *       2i: Looks good

      Warning: Cannot be force published because of broken links
      -->
      <div id="warning-broken-link">
        {{ govukWarningText({
          html: '<p class="govuk-body"><b>Broken links:</b> We’ve found links in this document that may be broken.</p>
                  <p class="govuk-body"><a href="#" class="govuk-link">https://lipsudsfsdf.com/</a></p>
                  <p class="govuk-body"><b>Error:</b> Website unavailable</p>
                  <p class="govuk-body"><b>Suggested fix:</b> Determine if this is a temporary issue or the resource is no longer available.</p>',
          iconFallbackText: "Warning"
        }) }}
      </div>

      <div id="warning-rejected">
        {{ govukWarningText({
          html: 'Rejected by: <a href="#" class="govuk-link"><b>Carlos Bernardo Jr</b></a> (See History and notes).',
          iconFallbackText: "Warning"
        }) }}
      </div>
      
      <div id="warning-edit-conflict">
        {{ govukWarningText({
          html: '<a href="account/profile" class="govuk-link"><b>John-Paul Dickie</b></a> started editing this publication about 2 hours ago and hasn’t yet saved their work.
          You might want to check if they are still working on it.',
          iconFallbackText: "Warning"
        }) }}
      </div>
      
      <div id="warning-already-published">
        {{ govukInsetText({
          html: '<p class="govuk-body govuk-!-margin-bottom-2">
                  This is a new draft of a document that has already been published.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-2">
                  <a href="#" class="govuk-link">Go to published edition</a>
                </p>
                <p class="govuk-body govuk-!-margin-bottom-2">
                  <a href="#" class="govuk-link">See what\'s changed</a>
                </p>'
        }) }}
      </div>

      <div id="warning-new-draft">
        {{ govukInsetText({
          html: '<p class="govuk-body govuk-!-margin-bottom-2">
            This document has a new draft. You are currently viewing the edition that is published on the website.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-2">
                  <a href="#" class="govuk-link">Go to draft</a>
                </p>
                <p class="govuk-body govuk-!-margin-bottom-2">
                  <a href="#" class="govuk-link">See what\'s changed</a>
                </p>'
        }) }}
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Summary',
          href: 'summary',
          active: true
        }, {
          html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
          href: 'history'
        },
        {
          html: 'Preview and share',
          href: '../preview'
        },
        {
          html: 'Publish',
          href: '../publish'
        }]
      }) }}

      <!-- Fact checking in preview and publish?
        
                {
          html: 'Tags? Other information? &nbsp;&nbsp;<span id="notifications" class="moj-notification-badge">0</span>',
          href: 'fact-checking'
        },


              {
          html: 'Fact checking&nbsp;&nbsp;<span id="notifications" class="moj-notification-badge">0</span>',
          href: 'fact-checking'
        },
      -->
    </div>
  </div>

  <div class="govuk-grid-row" style="display: none;">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-margin-top-0">
      <!-- <div class="whitehall-tools">
        Preview? Share link?

      </div>

      {{ govukDetails({
        summaryText: "Share document preview for fact check or approval",
        html: '<p class="govuk-body">Send this link to someone so they can see a preview of how the document will appear on GOV.UK. No password is needed.</p>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">https://draft-origin.integration.publishing.service.gov.uk/government/news/formal-declaration-of-the-memorandum-of-understanding?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiMWY1MzA1Mi1mYTMwLTQ3NDktYTYyOC00ZWI0YjZiZGIxYWYiLCJjb250ZW50X2lkIjoiY2FlZWI2NWItMTIzMi00MzQ5LWE5YzktNTBlYWIxNjRkNWNiIiwiaWF0IjoxNjY5OTc1Mjc2LCJleHAiOjE2NzI2NTM2NzZ9.ExKntcUEbJ9IkcHF6dQHa8mcLzs-EZodA5iO6YQcL2o&utm_content=preview-link</textarea>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Copy link
        </button>'
      }) }} -->

<!--       
      Draft
      * Preview on website: multiple translations
      * Preview on website: no translations
      * Share document preview
      * Edit draft
      * Go to published edition
      
      Published
      * Create a new edition to edit
      * View on website
      * View data about the page
      * Go to published edition
      
      
      
      Sections
      *       Check what's changed (history?)
      *       History
      *       Notes
          *       Add new remark
      *       Fact-checking
      
      Actions
      *       Publish
      *       Reject
      *       Discard draft
      *       Force publish
      *       Submit for 2nd eyes
      *       Unwithdraw
      *       Force schedule
      *       Withdraw or unpublish
      

      
      Unpublished and withdrawn
      *       Edit unpublishing explanation
      *       Edit withdrawl explanation

      Tools
      *       Check for broken links
      *       Broken link: Check again
      *       

      

      Access limiting
      Limit access to producing organisations prior to publication
      Scheduled publication
      Schedule for publication


      {{ govukButton({
        text: "Create new edition",
        href: "#"
      }) }}
    
    -->

      <!-- {{ govukButton({
        text: "Edit document",
        classes: "govuk-button--secondary",
        href: "#"
      }) }} -->

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Document type and title</h2>
      <!-- {{ govukInsetText({
        html: '<p class="govuk-body">At least one lead organisation is required.</p>
              <p class="govuk-body">In the published GOV.UK page, this information will show as "From:" in the header.</p>
              <p class="govuk-body">The first five organisations and ministers will be shown, and the subsequent names will be hidden in a collapsible element with the option “show more”.</p>'
      }) }} -->
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Document type"
            },
            value: {
              text: "Publication"
            }
          },
          {
            key: {
              text: "Document subtype"
            },
            value: {
              text: "Guidance"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Title"
            },
            value: {
              text: "HM Land Registry: Sign your mortgage deed"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Page address"
            },
            value: {
              text: "https://www.integration.publishing.service.gov.uk/government/guidance/loremipsum"
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Summary</h2>
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      <p class="gem-c-lead-paragraph">Our digital mortgage service allows homeowners who are remortgaging to sign their mortgage deed quickly and securely.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

      <h2 class="govuk-heading-l">Dates and document information</h2>
      <!--
        Should this be just in the publish tab?
      -->
      <div id="section-dates-published-new-draft">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "State"
              },
              value: {
                text: "Draft"
              }
            },
            {
              key: {
                text: "Change type"
              },
              value: {
                text: "Major"
              }
            },
            {
              key: {
                text: "First published"
              },
              value: {
                text: "4:04pm, 28 January 2019"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change date",
                    visuallyHiddenText: "Change date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Last updated"
              },
              value: {
                text: "10:01am on 2 December 2022"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "See all updates",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            },
            {
              key: {
                text: "Created"
              },
              value: {
                text: "10:53am on 4 July 2022"
              }
            },
            {
              key: {
                text: "Document created by"
              },
              value: {
                text: "Clarence J. Boddicker"
              }
            },
            {
              key: {
                text: "Last edited by"
              },
              value: {
                text: globals.loggedUser
              }
            },
            {
              key: {
                text: "History mode"
              },
              value: {
                html: 'Associate with government of the time (currently set to 2015 Conservative government).
                <br /><a class="govuk-link" href="#">Read the history mode guidance for more information as to what this means</a>.'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change date",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <!-- 
        ONLY CONSULTATIONS??

        ,
          {
            key: {
              text: "Language"
            },
            value: {
              text: "English"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          }
       -->


      <!-- 
        Published
        28 January 2019
        Last updated
        29 November 2022 — See all updates

        Its original publication date was * 2022 February 10 - 00:00

        This document *

        has never been published before. It is new.
        has previously been published on another website.
      -->

      <div id="section-dates-draft">
        <!-- DRAFT
        Has this document been previously published? -->
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Draft"
              },
              value: {
                text: "This document has never been published before. It is new."
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change date",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <div id="section-dates-published-another">
        <!-- Previously been published on another website -->
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Published"
              },
              value: {
                text: "This document has previously been published on another website in 10th February 2020 at 00:00"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change date",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">
    


      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Public change notes</h2>
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      <p class="govuk-body">
        Updated the Sign your mortgage deed: guide for conveyancers page to include reasons for an application not automating.
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

      
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Topic taxonomy tags</h2>
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      {{ govukInsetText({
        text: 'Explain what is taxonomy for.'
      }) }}

      {{ govukSummaryList({
        classes: "whitehall-taxonomy-list",
        rows: [
          {
            key: {
              html: '<div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body">
                      Going and being abroad
                    </p>
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body govuk-!-font-weight-bold">
                      British nationals overseas
                    </p>
                  </li>
                </ol>
              </div>',
              classes: "govuk-body"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              html: '<div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body">
                      Going and being abroad
                    </p>
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body govuk-!-font-weight-bold">
                      Living abroad
                    </p>
                  </li>
                </ol>
              </div>',
              classes: "govuk-body"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              html: '<div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body">
                      Going and being abroad
                    </p>
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body govuk-!-font-weight-bold">
                      Travel abroad
                    </p>
                  </li>
                </ol>
              </div>',
              classes: "govuk-body"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              html: '<div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <p class="govuk-body govuk-!-font-weight-bold">
                      International
                    </p>
                  </li>
                </ol>
              </div>',
              classes: "govuk-body"
            },
            value: {
              text: ""
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Organisations and Ministers</h2>
      <!-- <p class="govuk-body govuk-!-margin-bottom-2">
        In the published GOV.UK page this will show as "From:" in the header.
      </p> -->
      {{ govukInsetText({
        html: '<p class="govuk-body">In the published GOV.UK page, this information will show as "From:" in the header.</p>
              <p class="govuk-body">The first five organisations and ministers will be shown, and the subsequent names will be hidden in a collapsible element with the option “show more”.</p>'
      }) }}
      <!-- From: Organisations (Order: lead, support, and ministers)
        Shows 5 and hide the rest
        show more, show fewer
        Associations (h2)

        <p class="govuk-body">At least one lead organisation is required.</p>
      -->

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Lead organisations"
            },
            value: {
              html: '<ul class="govuk-list govuk-list--bullet">
                <li>
                  Government Digital Service   
                </li>
                <li>
                  Accelerated Access Review
                </li>
                <li>
                  Civil Service Fast Stream
                </li>
                <li>
                  Milk Development Council
                </li>
              </ul>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting organisations (optional)"
            },
            value: {
              html: '<ul class="govuk-list govuk-list--bullet">
                <li>
                  Youth Justice Agency of Northern Ireland
                </li>
                <li>
                  Zahid Mubarek Inquiry
                </li>
                <li>
                  Postal Services Commission
                </li>
                <li>
                  Phoenix Sports
                </li>
                <li>
                  Independent Parliamentary Standards Authority
                </li>
                <li>
                  NHS Counter Fraud Authority
                </li>
              </ul>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          },
          {
            key: {
              text: "Ministers (optional)"
            },
            value: {
              html: '<ul class="govuk-list govuk-list--bullet">
                <li>
                  Lord Johnson
                </li>
                <li>
                  Baroness Deborah Stedman-Scott OBE DL
                </li>
                <li>
                  Lord Murray of Blidworth
                </li>
                <li>
                  Lord Parkinson of Whitley Bay
                </li>
              </ul>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change"
                }
              ]
            }
          }
        ]
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Excluded nations</h2>
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      <section class="gem-c-devolved-nations">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England
        </h2>
        <ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
          <li><a class="govuk-link" href="https://gov.wales/avian-influenza-bird-flu-latest-update">Guidance for Wales</a></li>
          <li><a class="govuk-link" href="https://www.gov.scot/publications/avian-influenza-outbreaks/">Guidance for Scotland</a></li>
          <li><a class="govuk-link" href="https://www.daera-ni.gov.uk/articles/avian-influenza-ai">Guidance for Northern Ireland</a></li>
        </ul>
      </section>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Related content????</h2>
      Right column 
      Related content
      links -->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Attachments</h2>
      {{ govukInsetText({
        text: 'In the published GOV.UK page, this information will show as "Documents" before the text body.'
      }) }}
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-2 govuk-!-margin-top-0">
      <!-- Attachments
      If you’d like to add an attachment to this document, please save it first. You’ll then find a new tab at the top of the page that you can use to upload, edit and delete attachments. -->

      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
      
        <section class="attachment hosted-externally" id="attachment_7057189">
          <div class="attachment-thumb">
            <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://weee.service.gov.uk/" target="_blank">
              <svg version="1.1" viewBox="0 0 84 120" width="84" height="120" aria-hidden="true">
                <path d="M74.85 5v106H5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M79.85 10v106H10" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
              </svg>
            </a>
          </div>
          <div class="attachment-details">
            <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
              <a rel="external" class="govuk-link" href="https://weee.service.gov.uk/" target="_blank">Weeeeee</a>
            </h3> -->
            <p class="govuk-body metadata">
                <span class="key">
                  Title: <span class="value"><a rel="external" class="govuk-link" href="https://weee.service.gov.uk/" target="_blank">Weee service</a></span>
                </span>
                <span class="key">
                  Type: <span class="value">External url</span>
                </span>
                <!-- <span class="url">https://weee.service.gov.uk/</span> -->
                <span class="key">
                  Link: <span class="value">https://weee.service.gov.uk/</span>
                </span>
            </p>
          </div>
        </section>

        <section class="attachment embedded" id="attachment_7057181">
          <div class="attachment-thumb">
            <a aria-hidden="true" class="thumbnail" tabindex="-1" target="_blank" href="/government/publications/hm-land-registry-sign-your-mortgage-deed/sign-your-mortgage-deed-guide-for-homeowners">
              <svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
              </svg>
            </a>
          </div>
          <div class="attachment-details">
            <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
              <a class="govuk-link" href="/government/publications/hm-land-registry-sign-your-mortgage-deed/sign-your-mortgage-deed-guide-for-homeowners">Sign your mortgage deed: guide for homeowners</a>
            </h3> -->
            <p class="govuk-body metadata">
                <!-- <span class="type">HTML</span> -->
                <span class="key">
                  Title: <span class="value"><a class="govuk-link" href="/government/publications/hm-land-registry-sign-your-mortgage-deed/sign-your-mortgage-deed-guide-for-homeowners">Sign your mortgage deed: guide for homeowners</a></span>
                </span>
                <span class="key">
                  Type: <span class="value">HTML</span>
                </span>
            </p>
          </div>
        </section>

        <section class="attachment embedded" id="attachment_7059298">
          <div class="attachment-thumb">
            <a aria-hidden="true" class="thumbnail" tabindex="-1" target="_blank" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120618/image_example.png">
              <svg version="1.1" viewBox="0 0 84 120" width="84" height="120" aria-hidden="true">
                <path d="M74.85 5v106H5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M79.85 10v106H10" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
              </svg>
            </a>
          </div>
          <div class="attachment-details">
            <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
              
            </h3> -->
            <p class="govuk-body metadata">
              <!-- Title (required)
                <span class="references">
                  Ref: ISBN <span class="isbn">978-3-16-148410-0</span>, <span class="unique_reference">asdasd</span>, <span class="command_paper_number">CP 111-IV</span>, <span class="house_of_commons_paper_number">HC 111111</span> <span class="parliamentary_session">2021-22</span>
                </span>
                <span class="type"><abbr title="Portable Network Graphic">PNG</abbr></span>, <span class="file-size">22 KB</span> -->
                <span class="key">
                  Title: <span class="value"><a class="govuk-link" target="_blank" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120618/image_example.png">Lorem ipsum dolor sit amet consectutor</a></span>
                </span>
                <span class="key">
                  Type: <span class="value">PNG, 128 KB</span>
                </span>
                <span class="key">
                  Attachment is accessible: <span class="value">No</span>
                </span>
            </p>
            <!-- <a class="govuk-link order_url" title="Order a copy of the publication" href="https://www.integration.publishing.service.gov.uk/guidance/how-to-buy-printed-copies-of-official-documents">Order a copy</a> -->
          </div>
        </section>
    
        <section class="attachment embedded" id="attachment_7059299">
          <div class="attachment-thumb">
              <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120619/epr-consultation-government-response.pdf">
                <img alt="" src="/public/images/thumbnail_epr-consultation-government-response.pdf.png">
              </a>
          </div>
          <div class="attachment-details">
            <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
              
            </h3> -->
            <!-- <p class="govuk-body metadata">
                <span class="references">
                  Ref: ISBN <span class="isbn">978-3-16-148410-0</span>, <span class="unique_reference">asdasdasdasdasd</span>, <span class="command_paper_number">CP 111-IV</span>, <span class="house_of_commons_paper_number">HC 111111</span> <span class="parliamentary_session">2018-19</span>
                </span>
                <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">522 KB</span>, <span class="page-length" lang="en">69 pages</span>
            </p> -->
            <p class="govuk-body metadata">
                <span class="key">
                  Title: <span class="value"><a class="govuk-link" target="_blank" href="/public/images/download/epr-consultation-government-response.pdf">Lorem ipsum dolor sit amet consectutor</a></span>
                </span>
                <span class="key">
                  Type: <span class="value">PDF, 129 pages, 62 MB</span>
                </span>
                <span class="key">
                  ISBN: <span class="value">978-3-16-148410-0</span>
                </span>
                <span class="key">
                  Unique reference: <span class="value">12345678</span>
                </span>
                <!-- <span class="key">
                  Command paper number: <span class="value">CP 111-IV</span>
                </span>
                <span class="key">
                  House of Commons paper number: <span class="value">HC 111111</span>
                </span>
                <span class="key">
                  Parliamentary session: <span class="value">2021-22</span>
                </span> -->
                <span class="key">
                  Attachment is accessible: <span class="value">Yes</span>
                </span>
            </p>
          </section>

<!-- 
      Title (link)
      Ref: EAJP19
      Type: PDF, 56 MB, 130 pages
      Type HTML
      This file may not be suitable for users of assistive technology.

      Request an accessible format.
      If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email enquiries @environment-agency.gov.uk. Please tell us what format you need. It will help us if you say what assistive technology you use.
      ================== -->

    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Email address for ordering attachment files in an alternative format</h3>
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      <p class="govuk-body">Government Digital Service (accessibleformats@digital.cabinet-office.gov.uk)</p>
      <!-- If the email address you need isn’t here, it should be added to the relevant Department or Agency -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

    <div id="section-lead-image" class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Lead image</h2>
      {{ govukInsetText({
        text: 'In the published GOV.UK page, this image will appear on the top of the body.'
      }) }}
      <p class="govuk-body whitehall-summary-change-link">
        <a href="#" class="govuk-link">Change</a>
      </p>
      <section class="attachment image embedded govuk-!-margin-top-0" id="attachment_7059298">
        <div class="attachment-thumb image-thumb">
          <a aria-hidden="true" class="thumbnail" tabindex="-1" target="_blank" href="/public/images/download/image_example2.jpg">
            <img alt="" width="300" src="/public/images/download/image_example2.jpg" />
          </a>
        </div>
        <div class="attachment-details image-details">
          <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
            <a class="govuk-link" target="_blank" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120618/image_example.png">rwerwerwer</a></h3> -->
          <p class="govuk-body metadata">
            <span class="key">
              Caption: <span class="value">Lorem ipsum</span>
            </span>
            <span class="key">
              Alt text: <span class="value">Lorem ipsum</span>
            </span>
            <span class="key">
              Credit: <span class="value">Lorem ipsum</span>
            </span>
            <span class="key">
              File info: <span class="value">PNG, 22 KB</span>
            </span>
            <!-- <span class="type"><abbr title="Portable Network Graphic">PNG</abbr></span>, <span class="file-size">22 KB</span> -->
            <span class="key">
              Markdown: <span class="value">[Image: lorem-ipsum.jpg]</span>
            </span>
          </p>
          <!-- <a class="govuk-link order_url" title="Order a copy of the publication" target="_blank" href="https://www.integration.publishing.service.gov.uk/guidance/how-to-buy-printed-copies-of-official-documents">Order a copy</a> -->
        </div>
      </section>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">
    </div>

    <h2 class="govuk-heading-l">Body</h2>
    <!-- Details (GOV.UK)
    Body (WH) -->
    <!-- <p class="govuk-body govuk-!-margin-bottom-2">
      In the published GOV.UK page this will show as "Details" before the text body.
    </p> -->
    {{ govukInsetText({
      text: 'In the published GOV.UK page, this information will show as "Details" before the text body.'
    }) }}
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <!-- TODO: Markdown preview -->
    <div id="markdown-preview">
      <p class="govuk-body">
        The Foreign, Commonwealth, and Development Office (FCDO) aims to provide a consistently high quality consular service for British nationals overseas. In support of this, the FCDO works in partnership with other organisations to provide assistance to cases of British nationals missing abroad and their families.
      </p>
      <p class="govuk-body">
        Globally, the FCDO is currently providing consular assistance to nearly 4,600 British people missing overseas and their families. Since the COVID-19 pandemic, we assisted approximately 1,000 missing person’s cases a year.
      </p>
      <p class="govuk-body">
        We invite proposals from organisations with relevant expertise to form a partnership with the FCDO’s Consular Directorate. This partnership contributes to FCDO’s objective to provide support to British people abroad who need to access our services 24/7.
      </p>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Available images to use in document</h2>
    <!-- <p class="govuk-body">
      In the published GOV.UK page this will show as "Documents" before the text body.
    </p> -->
    <p class="govuk-body whitehall-summary-change-link">
      <a href="#" class="govuk-link">Change</a>
    </p>

    <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
<!--       
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Available images to use in document</h3> -->
      <section class="attachment image embedded govuk-!-margin-top-2" id="attachment_7059298">
        <div class="attachment-thumb image-thumb">
          <a aria-hidden="true" class="thumbnail" tabindex="-1" target="_blank" href="/public/images/download/image_example3.jpg">
            <img alt="" width="300" src="/public/images/download/image_example3.jpg" />
          </a>
        </div>
        <div class="attachment-details image-details">
          <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
            <a class="govuk-link" target="_blank" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120618/image_example.png">rwerwerwer</a>
          </h3> -->
          <p class="govuk-body metadata">
              <span class="key">
                Caption: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                Alt text: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                Credit: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                File info: <span class="value">PNG, 22 KB</span>
              </span>
              <span class="key">
                Markdown: <span class="value">[Image: lorem-ipsum.jpg]</span>
              </span>
          </p>
          <!-- <a class="govuk-link order_url" title="Order a copy of the publication" href="https://www.integration.publishing.service.gov.uk/guidance/how-to-buy-printed-copies-of-official-documents">Order a copy</a> -->
        </div>
      </section>

      <section class="attachment image embedded" id="attachment_7059298">
        <div class="attachment-thumb image-thumb">
          <a aria-hidden="true" class="thumbnail" tabindex="-1" target="_blank" href="/public/images/download/image_example.png">
            <img alt="" width="300" src="/public/images/download/image_example.png" />
          </a>
        </div>
        <div class="attachment-details image-details">
          <!-- <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
            <a class="govuk-link" target="_blank" href="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1120618/image_example.png">rwerwerwer</a>
          </h3> -->
          <p class="govuk-body metadata">
              <span class="key">
                Caption: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                Alt text: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                Credit: <span class="value">Lorem ipsum</span>
              </span>
              <span class="key">
                File info: <span class="value">PNG, 22 KB</span>
              </span>
              <span class="key">
                Markdown: <span class="value">[Image: lorem-ipsum.jpg]</span>
              </span>
          </p>
          <!-- <a class="govuk-link order_url" title="Order a copy of the publication" href="https://www.integration.publishing.service.gov.uk/guidance/how-to-buy-printed-copies-of-official-documents">Order a copy</a> -->
        </div>
      </section>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

    <!-- 
      SAME INFORMATION AS IN THE TOP OF THE PAGE
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Dates? Footer?</h2>
    <p class="govuk-body">
      In the published GOV.UK page this information appear in the footer area.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <p class="govuk-body">
      Published 26 October 2011
    </p>
    <p class="govuk-body">
      Last updated 24 February 2017 + show all updates
    </p> -->

<!-- Get emails about this page   -->

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Specialist topics (optional)</h2>
    {{ govukInsetText({
      text: 'Explain what is this. In the published GOV.UK page, this information appear in the footer area as "Explore the topic".'
    }) }}
    <p class="govuk-body whitehall-summary-change-link">
      <a href="#" class="govuk-link">Change</a>
    </p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Primary specialist topic"
          },
          value: {
            text: "Work and careers: Public service pensions"
          }
        },
        {
          key: {
            text: "Secondary specialist topic"
          },
          value: {
            html: '<ul class="govuk-list govuk-list--bullet">
              <li>
                Government: Public services
              </li>
              <li>
                Guidance for government digital publishing and services: Content and publishing
              </li>
              <li>
                Public safety and emergencies: Emergencies: preparation, response and recovery
              </li>
            </ul>'
          }
        }
      ]
    }) }}
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Associations (optional)</h2>
    {{ govukInsetText({
      text: 'In the published GOV.UK page, this information appear in the footer area.'
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Topical events"
          },
          value: {
            html: '<ul class="govuk-list govuk-list--bullet">
              <li>
                Zero emission vehicle summit
              </li>
              <li>
                Global Summit to End Sexual Violence in Conflict
              </li>
            </ul>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "World locations"
          },
          value: {
            html: '<ul class="govuk-list govuk-list--bullet">
              <li>
                Angola
              </li>
              <li>
                Argentina
              </li>
              <li>
                UK and the United Nations (Vienna)
              </li>
            </ul>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Statistical data sets"
          },
          value: {
            html: '<ul class="govuk-list govuk-list--bullet">
              <li>
                Live tables on National Land Use Database of previously-developed Brownfield Land
              </li>
            </ul>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Change"
              }
            ]
          }
        }
      ]
    }) }}

<!-- Only for foreign office?
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Worldwide tags (optional)</h2>
    {{ govukInsetText({
      text: 'In the published GOV.UK page, this information appear in the footer area as "Explore the topic".'
    }) }}
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Primary specialist topic"
          },
          value: {
            text: "Work and careers: Public service pensions"
          }
        },
        {
          key: {
            text: "Secondary specialist topic"
          },
          value: {
            html: '<ul class="govuk-list govuk-list--bullet">
              <li>
                Government: Public services
              </li>
              <li>
                Guidance for government digital publishing and services: Content and publishing
              </li>
              <li>
                Public safety and emergencies: Emergencies: preparation, response and recovery
              </li>
            </ul>'
          }
        }
      ]
    }) }}
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6"> -->

    <!-- <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Topical events (optional)</h3>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <p class="govuk-body">
      Zero emission vehicle summit, Global Summit to End Sexual Violence in Conflict
    </p> -->
    <!-- Choose topical events… -->

    <!-- 
    Detailed guide only?  
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Related guides (optional)</h3>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <p class="govuk-body">
      Zero emission vehicle summit, Global Summit to End Sexual Violence in Conflict
    </p>
     -->
<!-- 
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">World locations (optional)</h3>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <p class="govuk-body">
      Angola, Argentina, UK and the United Nations (Vienna)
    </p> -->
      <!-- World locations (GOV.UK)
      Select the world locations this publication is about (WH) -->
<!--
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Statistical data sets (optional)</h3>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Change</a>
    </p>
    <p class="govuk-body">
      Live tables on National Land Use Database of previously-developed Brownfield Land
    </p> -->
    <!-- Statistical data sets (GOV.UK) -->
    <!-- Related statistical data sets (WH)
    Choose statistical data sets… -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Translations (optional)</h2>
    {{ govukInsetText({
      text: 'Lorem ipsum dolor sit amet consectutor.'
    }) }}
    <p class="govuk-body whitehall-summary-change-link">
      <a href="#" class="govuk-link">Change</a>
    </p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Arabic"
          },
          value: {
            text: "HM Land Registry: قم بتوقيع عقد الرهن العقاري الخاص بك"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "German"
          },
          value: {
            text: "HM Grundbuchamt: Unterschreiben Sie Ihre Hypothekenurkunde"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Change"
              }
            ]
          }
        }
      ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Associated user needs (optional)</h2>
    {{ govukInsetText({
      text: 'Needs guidance and explanation about what is this for.'
    }) }}
    <p class="govuk-body whitehall-summary-change-link">
      <a href="#" class="govuk-link">Change</a>
    </p>
    {{ govukSummaryList({
      classes: "whitehall-taxonomy-list",
      rows: [
        {
          key: {
            html: 'As a user with a lasting power of attorney, I need to object to the registering of the lasting power of attorney, so that I can protect the person myself or the person who has made the enduring power of attorney) (100694)',
            classes: "govuk-body govuk-!-font-weight-regular"
          },
          value: {
            text: ""
          }
        },
        {
          key: {
            html: 'As a As a user who is looking after a child for a family member or friend, I need to know what rights I have and the child has, so that I can look after the child properly and stay within the law (101258)',
            classes: "govuk-body govuk-!-font-weight-regular"
          },
          value: {
            text: ""
          }
        },
        {
          key: {
            html: 'As a user, I need to Know how to keep VAT records, so that I can comply with my statutory obligations (100532)',
            classes: "govuk-body govuk-!-font-weight-regular"
          },
          value: {
            text: ""
          }
        },
        {
          key: {
            html: 'As a A training provider, I need to Understand how I can help disadvantage students with costs relating to FE, so that Support my students (102024)',
            classes: "govuk-body govuk-!-font-weight-regular"
          },
          value: {
            text: ""
          }
        }
      ]
    }) }}


    </div>




    <!-- RIGHT COLUMN -->
    <div class="govuk-grid-column-one-third">

      <!-- Actions and tools? -->
   
    </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}
