{% set sectionState = [] %}
<h3 class="govuk-heading-l">Associations (optional)</h3>

{% if data['pageState'] === 'fullPopulated' %}
<p class="govuk-body whitehall-summary-change-link">
    <a href="../publication/edit/associations{{hrefParams}}" class="govuk-link">Edit</a>
</p>
{% endif %}

{% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
<p class="govuk-body whitehall-summary-change-link">
    <a href="../publication/edit/associations{{hrefParams}}" class="govuk-link">Add an association</a>
</p>
{% endif %}

{% if data['pageState'] === 'fullPopulated' %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Topical events"
      },
      value: {
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            Zero emission vehicle summit
          </li>
          <li>
            Global Summit to End Sexual Violence in Conflict
          </li>
        </ul>'
      }
    },
    {
      key: {
        text: "World locations"
      },
      value: {
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            Angola
          </li>
          <li>
            Argentina
          </li>
          <li>
            UK and the United Nations (Vienna)
          </li>
        </ul>'
      }
    },
    {
      key: {
        text: "Statistical data sets"
      },
      value: {
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>
            Live tables on National Land Use Database of previously-developed Brownfield Land
          </li>
        </ul>'
      }
    }
  ]
}) }}
{% endif %}

{% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
{{ govukSummaryList({
    rows: [
        {
          key: {
              text: "Topical events"
          },
          value: {
              html: '<p class="govuk-body whitehall-body-empty-list">
                  No topical events
                </p>'
          }
        },
        {
          key: {
              text: "World locations"
          },
          value: {
              html: '<p class="govuk-body whitehall-body-empty-list">
                  No world locations
                </p>'
          }
        },
        {
          key: {
              text: "Statistical data sets"
          },
          value: {
              html: '<p class="govuk-body whitehall-body-empty-list">
                  No statistical data sets
                </p>'
          }
        }
    ]
    }) }}
{% endif %}