{% set sectionState = [] %}
{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' or data['pageState'] === 'fullPopulated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}
<h3 class="govuk-heading-l">Document type and information</h3>
{# Should be heading-m? #}
{# <p class="govuk-body whitehall-summary-change-link">
  <a href="../publication/edit/subtype" class="govuk-link">Edit</a>
</p> #}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Document type"
      },
      value: {
        text: "Publication"
      }
    },
    {
      key: {
        text: "Document subtype"
      },
      value: {
        text: "Guidance"
      },
      actions: {
        items: [
          {
            href: "../publication/edit/subtype" + hrefParams,
            text: "Edit",
            visuallyHiddenText: "Edit"
          }
        ]
      }
    },
    {
      key: {
        text: "Has this document been published before?"
      },
      value: {
        text: "Yes, this document has previously been published on another website in 10th February 2020 at 00:00"
      },
      actions: {
        items: [
          {
            href: "../publication/edit/previously-published" + hrefParams,
            text: "Edit",
            visuallyHiddenText: "Edit"
          }
        ]
      }
    }
  ]
}) }}

{# 
,
      actions: {
        items: [
          {
            href: "edit/subtype",
            text: "Change",
            visuallyHiddenText: "Change"
          }
        ]
      }

 #}

<!-- {
  key: {
    text: "Title"
  },
  value: {
    text: "HM Land Registry: Sign your mortgage deed"
  },
  actions: {
    items: [
      {
        href: "edit/title",
        text: "Change",
        visuallyHiddenText: "Change"
      }
    ]
  }
}, -->



<!-- ,
    {
      key: {
        text: "Page address"
      },
      value: {
        text: "https://www.integration.publishing.service.gov.uk/government/guidance/loremipsum"
      }
    } -->

<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible govuk-!-margin-bottom-6 govuk-!-margin-top-0"> -->
