{% set sectionState = [] %}
<h3 class="govuk-heading-l">Body and images</h3>

{% if data['pageState'] === 'populated' or data['pageState'] === 'fullPopulated' or data['pageState'] === 'bodyAttachments' %}
<p class="govuk-body whitehall-summary-change-link">
  <a href="edit/body{{hrefParams}}" class="govuk-link">Edit</a>
</p>
{% endif %}

{% if data['pageState'] === 'empty' %}
<p class="govuk-body whitehall-summary-change-link">
  <a href="edit/body{{hrefParams}}" class="govuk-link">Add a body</a>
</p>
{% endif %}
<!-- TODO: Markdown preview -->

{% if data['pageState'] === 'populated' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
<div id="markdown-preview">
  {{content.bodyHTML | safe}}
  {# {{content.documentContent[0].body | safe}} #}
</div>
{% endif %}

{% if data['pageState'] === 'empty' %}
<p class="govuk-body whitehall-body-empty">
  You need to add a body text.
</p>
{% endif %}

