{% set sectionState = [] %}
<h3 class="govuk-heading-l">Translations (optional)</h3>
{% if data['pageState'] === 'fullPopulated' %}
<p class="govuk-body whitehall-summary-change-link">
  <a href="../publication/edit/translations{{hrefParams}}" class="govuk-link">Edit</a>
</p>
{% endif %}

{% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
<p class="govuk-body whitehall-summary-change-link">
  <a href="../publication/edit/translations{{hrefParams}}" class="govuk-link">Add a translation</a>
</p>
{% endif %}

{% if data['pageState'] === 'fullPopulated' %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Arabic"
      },
      value: {
        text: "HM Land Registry: قم بتوقيع عقد الرهن العقاري الخاص بك"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Change"
          }
        ]
      }
    },
    {
      key: {
        text: "German"
      },
      value: {
        text: "HM Grundbuchamt: Unterschreiben Sie Ihre Hypothekenurkunde"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Change"
          }
        ]
      }
    }
  ]
}) }}
{% endif %}

{% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
<p class="govuk-body whitehall-body-empty">
  There are no translations for this document.
</p>
{% endif %}