{% set sectionState = [] %}

{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}

{% if data['pageState'] === 'fullPopulated' %}

{% endif %}
<div class="section-dates-published-new-draft">
    <!-- 
       Do users need to know the content has changed?
        Telling users when published information changes is important for transparency.

        Yes - information has been added, updated or removed
        A change note will be published on the page and emailed to users subscribed to email alerts. The ‘last updated’ date will change.

        Describe the change for users
        Tell users what has changed, where and why. Write in full sentences, leading with the most important words. For example, "College A has been removed from the registered sponsors list because its licence has been suspended."
        Read the guidance about change notes (opens in a new tab).

        dsfsdfsdfdsfdsfdsf
        No – it’s a minor edit that does not change the meaning
        This includes fixing a typo or broken link, a style change or similar. Users signed up to email alerts will not get notified and the ‘last updated’ date will not change.
        
     -->
    
    <h3 class="govuk-heading-l">Do users need to know the content has changed?</h3>
    <p class="govuk-body whitehall-summary-change-link">
        <a href="../publication/edit/change-notes{{hrefParams}}" class="govuk-link">Edit</a>
    </p>
    {# {{ govukInsetText({
        text: "Telling users when published information changes is important for transparency."
    }) }} #}
    
    <p class="govuk-body">
      Yes - information has been added, updated or removed
    </p>

    <h3 class="govuk-heading-m">Public change note</h3>
    <!-- <p class="govuk-body whitehall-summary-change-link">
      <a href="#" class="govuk-link">Change</a>
    </p> -->
    <p class="govuk-body">
      Updated the Sign your mortgage deed: guide for conveyancers page to include reasons for an application not automating.
    </p>

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8"> -->
  </div>