
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
Document doesn't have any fact checking responses yet.

Send request
Email address*
Extra instructions

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      Guidance
    </span>
    <h1 class="govuk-heading-xl">
      HM Land Registry: Sign your mortgage deed
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document summary',
        href: 'summary'
      }, {
        html: 'History and notes&nbsp;&nbsp;<span id="notifications" class="moj-notification-badge">17</span>',
        href: 'history'
      },
      {
        html: 'Fact checking',
        href: 'fact-checking&nbsp;&nbsp;<span id="notifications" class="moj-notification-badge">0</span>',
        active: true
      },
      {
        html: 'Publish and other tools',
        href: '../publish'
      }]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    </div>




    <!-- RIGHT COLUMN -->
    <div class="govuk-grid-column-one-third">

    </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}
