
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  {{ whitehallHeader({
      homepageUrl: "dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      back:
        {
          text: "Back",
          href: "../publication/publish/schedule" + hrefParams
        }
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Schedule to publish
    </h1>

    {% include "../includes/document-info.html" %}

    
        <div class="govuk-body">
          <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
            <p>Publish at 9:00am on 6 January 2023.</p>
          </div>
        </div>
        <div class="govuk-radios">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="review_status" id="radio-84e37db0-0" value="reviewed" class="govuk-radios__input" data-gtm="choose-schedule-publish-review-status" data-gtm-value="This content has been reviewed and approved for publication">          
            <label for="radio-84e37db0-0" class="gem-c-label govuk-label govuk-radios__label">This content has been reviewed and approved for publication</label>
          </div>
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="review_status" id="radio-84e37db0-1" value="not_reviewed" class="govuk-radios__input" data-gtm="choose-schedule-publish-review-status" data-gtm-value="This content needs to be reviewed after it has been published">
            <label for="radio-84e37db0-1" class="gem-c-label govuk-label govuk-radios__label">This content needs to be reviewed after it has been published</label>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Schedule",
        href: "../publication/summary?message=scheduled",
        classes: "govuk-button--primary"
      }) }}
      <a class="govuk-link" href="../publication/summary">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}

