
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Force publish document
    </h1>

    {% include "../includes/document-info.html" %}

            <form class="well force-publish-form" action="/government/admin/editions/1405326/force_publish?lock_version=1" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="3Pfy8BUMZFkVhdO7CRHp987v_KS2OGfJTo1o5KP3eB01ifQeVgIDZsY5q8V80LEuOMjCxdGEQZ4871XCNdb_vA" autocomplete="off">
                <div id="warning-text-c5e2e1f7" class="gem-c-warning-text govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You should only force publish documents when no other editor is available to review and publish your work, for example out of hours or in an emergency.
                    </strong>
                </div>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label for="reason" class="gem-c-label govuk-label govuk-label--m">Reason for force publishing</label>
                    </h2>
                    <input class="gem-c-input govuk-input" id="reason" name="reason" spellcheck="false" type="text">
                </div>
            </form>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Force publish",
        href: "../../publication/summary?message=force-published",
        classes: "govuk-button--warning"
      }) }}
      <a class="govuk-link" href="../publication/summary">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}