
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary" %}

{% block header %}
  {{ super() }}
  
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    
    {% include "../includes/summary-messages.html" %}

     <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{content.documentContent[0].title}}
    </h1>

    {% include "../includes/summary-document-status.html" %}

    <!-- Warnings -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "../includes/summary-tools.html" %}

    {% include "../includes/summary-actions.html" %}

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" id="tabs-content">
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Document summary',
          href: '../../publication/summary' + hrefParams
        },
        {
          html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
          href: '../../publication/history' + hrefParams
        },
        {
          html: 'Preview and share',
          href: '../../publication/preview' + hrefParams
        },
        {
          html: 'Send for review or publish',
          href: '../../publication/publish/' + hrefParams,
          active: true
        }]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
      <h2 class="govuk-visually-hidden">Send for review or publish</h2>
    
    <form id="publishOptions" name="publishOptions">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "publishOptionsQuestions",
        idPrefix: "publishOptionsQuestions",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "twoi",
            text: "Submit for 2i review"
          },
          {
            value: "scheduled",
            text: "Schedule for publication"
          },
          {
            divider: "or"
          },
          {
            value: "force-publish",
            text: "Force-publish: This content needs to be published urgently but should be reviewed as soon as possible (not recommended)"
          },
          {
            value: "discard",
            html: '<p style="color: #d4351c;">Discard draft</p>'
          }
        ]
      }) }}
      <input type="hidden" id="message" name="message" value="published" />
    </form>

    {#           {
            value: "reviewed",
            text: "This content has been reviewed and approved for publication"
          }, #}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {% if data['pageState'] === 'populated' or data['pageState'] === 'fullPopulated' %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "javascript: actionURL();"
        }) }}

        {# <a class="govuk-link" href="../publication/attachments/">Cancel</a> #}
      </div>
    {% endif %}

    {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
    {# SHOW ERROR MESSAGE, MANDATORY FIELDS #}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "javascript: actionURL();"
        }) }}

        {# <a class="govuk-link" href="../publication/attachments/">Cancel</a> #}
      </div>
    {% endif %}


    
  </div>
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  function actionURL() {
    var twoi = $('#publishOptionsQuestions').is(':checked');
    var scheduled = $('#publishOptionsQuestions-2').is(':checked');
    var reviewed = $('#publishOptionsQuestions-3').is(':checked');
    var forcePublish = $('#publishOptionsQuestions-4').is(':checked');
    if(twoi) {
      $('#publishOptions').attr('action', '../../publication/publish/2i-review').submit();
    } else if(scheduled) {
      $('#publishOptions').attr('action', '../../publication/publish/schedule').submit();
    } else if(reviewed) {
      $('#publishOptions').attr('action', '../../publication/summary').submit();
    } else if(forcePublish) {
      $('#publishOptions').attr('action', '../../publication/publish/force-publish').submit();
    } else if(discard) {
      $('#publishOptions').attr('action', '../../publication/delete').submit();
    } else {
      $('#publishOptions').attr('action', '../../publication/summary').submit();
    }
  }
</script>
{% endblock %}
