
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents"
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information",
          active: true
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Consultation</span> -->
      <h1 class="govuk-heading-xl">
          Support information
      </h1>
      <!-- <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p> -->

      <!-- <h2 class="govuk-heading-l">What’s new</h2>

      <p>
        From September 2022, Whitehall Publisher will be transitioning to using the GOV.UK Design System. This will mean a new look and feel in several parts of the application as well as changes to some of the workflows.
      </p> -->
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="gem-c-cards">
        <ul class="gem-c-cards__list">
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/ministers/">Cabinet ministers order</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/departments/">Departments & agencies</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/fields/">Fields of operation</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/get-involved/">Get involved</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/goverments/">Governments</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/groups/">Groups</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/people/">People</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/roles/">Roles</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/settings/">Sitewide settings</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/topical/">Topical events</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/location/">World location news</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/support/worldwide/">Worldwide organisations</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam non nulla vel leo lacinia consectetur.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>








{% endblock %}
