.app-c-markdown-guidance {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
@media print {
    .app-c-markdown-guidance {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-c-markdown-guidance {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}
@media print {
    .app-c-markdown-guidance {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.app-c-markdown-guidance .govuk-details {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #b1b4b6;
}
.app-c-markdown-guidance .govuk-details:last-child {
    border-bottom: 1px solid #b1b4b6;
}
.app-c-markdown-guidance .govuk-details__summary {
    display: block;
    font-weight: bold;
}
.app-c-markdown-guidance .govuk-details__summary .govuk-details__summary-text {
    text-decoration: none;
}
.app-c-markdown-guidance .govuk-details__text {
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
}
.app-c-markdown-guidance__item {
    list-style: none;
}
.app-c-markdown-guidance__item:before {
    content: "+";
}
@media (min-width: 40.0625em) {
    .app-c-markdown-guidance__item {
        margin-bottom: 5px;
    }
}
.app-c-markdown-guidance__button {
    text-decoration: underline;
    cursor: pointer;
}
.app-c-markdown-guidance__code-snippet {
    padding: 10px;
    background-color: #f3f2f1;
    white-space: pre-line;
    word-break: break-word;
}