{# {% set sectionState = [] %} #}
{# <h3 class="govuk-heading-l">Title and summary</h3> #}
{% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
<p class="govuk-body whitehall-summary-change-link">
    <a href="../publication/edit/summary{{hrefParams}}" class="govuk-link">Edit</a>
</p>
{% endif %}

{% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
<span class="govuk-caption-xl">
    {{content.documentContent[0].subtype}}
</span>
<h1 class="govuk-heading-xl">
    {{content.documentContent[0].title}}
</h1>

<div class="govuk-inset-text" style="word-break: break-all;">
    <b>Page address</b><br>
    {{content.documentContent[0].pageUrl}}
</div>

<p class="gem-c-lead-paragraph govuk-!-margin-top-8">{{content.documentContent[0].summary}}</p>
{% endif %}