
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form data-gtm="confirm-document-type" action="/documents/new?type=policy" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="9OtFE6Ou4nYJz9L2JMl22YnD773KnkCt5dluwtb2aD9iYB3gvOJXXMmD4wJlaZgCLxsZ-fXB-pmBJaB--PHDcw" autocomplete="off">
        <div class="govuk-form-group govuk-!-margin-bottom-6">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          
          <h1 class="govuk-fieldset__heading gem-c-radio__heading-text">Policy or consultation</h1>
  </legend>
  
  
      <div class="govuk-radios">

  
            <div class="gem-c-radio govuk-radios__item">
              <input type="radio" name="selected_option_id" id="radio-b224ae0a-1" value="impact_assessment_managed_elsewhere" class="govuk-radios__input" aria-describedby="label-hint-92ce3684" data-gtm="choose-document-type" data-gtm-value="Impact assessment publication">
              
    <label for="radio-b224ae0a-1" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Impact assessment publication</label>
  
    <span id="label-hint-92ce3684" class="govuk-hint govuk-radios__hint">
      Cost-benefit analyses and other assessments of the impact of proposed initiatives, or changes to regulations or legislation.
  </span>
  </div>
  
            <div class="gem-c-radio govuk-radios__item">
              <input type="radio" name="selected_option_id" id="radio-b224ae0a-2" value="consultation" class="govuk-radios__input" aria-describedby="label-hint-e7f4fd28" data-gtm="choose-document-type" data-gtm-value="Consultation">
              
    <label for="radio-b224ae0a-2" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Consultation</label>
  
    <span id="label-hint-e7f4fd28" class="govuk-hint govuk-radios__hint">
      Consultations (officially ‘documents requiring collective agreement across government’), calls for evidence and requests for people's views on a question.
  </span>
  </div>
  
  
            <div class="gem-c-radio govuk-radios__item">
              <input type="radio" name="selected_option_id" id="radio-b224ae0a-4" value="policy_paper_managed_elsewhere" class="govuk-radios__input" aria-describedby="label-hint-779cfc4a" data-gtm="choose-document-type" data-gtm-value="Policy paper publication">
              
    <label for="radio-b224ae0a-4" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Policy paper publication</label>
  
    <span id="label-hint-779cfc4a" class="govuk-hint govuk-radios__hint">
      An explanation of the government's position on something. It doesn’t include instructions on how to carry out a task, only the policy itself and how it’ll be implemented.
  </span>
  </div>
  
  </div>
  </fieldset></div>
  
        
  
  
  <!-- TODO: Variable for each different type selection -->
  {{ govukButton({
    text: "Continue",
    href: "../publication/create"
  }) }}
  
  </form>

  </div>
</div>
{% endblock %}
