
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form name="documentType" id="documentType" data-gtm="confirm-document-type" accept-charset="UTF-8" method="post">

            {% from "govuk/components/radios/macro.njk" import govukRadios %}
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {% set yesHtml %}
              {%- include "../includes/include-type-yes.html" -%}
            {% endset -%}

            {{ govukRadios({
              name: "documentTypeQuestions",
              idPrefix: "documentTypeQuestions",
              fieldset: {
                legend: {
                  text: "Do you know the content type you need?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "Select one option."
              },
              items: [
                {
                  value: "autocomplete",
                  text: "Yes - I know the content type I need",
                  hint: {
                    text: "For example news story, publication or detailed guide."
                  },
                  checked: true,
                  conditional: {
                    html: yesHtml
                  }
                },
                {
                  value: "type-cp",
                  text: "No - select the type based on what the content is"
                },
                {
                  value: "guidance2",
                  text: "I’m not sure if the content should be on GOV.UK",
                  hint: {
                    text: "View this guide to see what should go on GOV.UK and where else you can publish content."
                  }
                }
              ]
            }) }}

    {{ govukButton({
      text: "Continue",
      href: "javascript: actionURL();"
    }) }}
      
      

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  // file: document/type.html
  $('#content-type-filter').autocomplete();

  function actionURL() {
    var typeCP = $('#documentTypeQuestions-2').is(':checked');
    var typeGuidance = $('#documentTypeQuestions-3').is(':checked');
    if(typeCP) {
      $('#documentType').attr('action', '../../documents/create/type-cp').submit();
    } else if(typeGuidance) {
      $('#documentType').attr('action', '../../documents/create/type-cp-6').submit();
    } else {
      $('#documentType').attr('action', '../../publication/create').submit();
    }
  }
</script>
{% endblock %}
