
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <form data-gtm="confirm-document-type" action="/documents/new?type=guidance_publications" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="G1n2hMZvYM3UGR9o2U8-GCbTTIo-fNRTbzxn6CfTs8mN0q532SPV5xRVLpyY79DDgAu6zgEjbmcLwKlUCdQYhQ" autocomplete="off">
              <div class="govuk-form-group govuk-!-margin-bottom-6">
          <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                
                <h1 class="govuk-fieldset__heading gem-c-radio__heading-text">Guidance</h1>
        </legend>
        
        
            <div class="govuk-radios">
                  <div class="gem-c-radio govuk-radios__item">
                    <input type="radio" name="selected_option_id" id="radio-69a367c1-0" value="detailed_guide" class="govuk-radios__input" aria-describedby="label-hint-0f75abe9" data-gtm="choose-document-type" data-gtm-value="Detailed guide">
                    
          <label for="radio-69a367c1-0" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Detailed guide</label>
        
          <span id="label-hint-0f75abe9" class="govuk-hint govuk-radios__hint">
            Guidance for specialist or professional users detailing the steps they need to take to complete a clearly defined task.
        </span>
        </div>
        
                  <div class="gem-c-radio govuk-radios__item">
                    <input type="radio" name="selected_option_id" id="radio-69a367c1-2" value="guidance_managed_elsewhere" class="govuk-radios__input" aria-describedby="label-hint-7d7089b0" data-gtm="choose-document-type" data-gtm-value="Non-statutory guidance publication">
                    
          <label for="radio-69a367c1-2" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Non-statutory guidance publication</label>
        
          <span id="label-hint-7d7089b0" class="govuk-hint govuk-radios__hint">
            Publications like manuals, handbooks, and other documents that offer advice. Use for content produced as a standalone hard-copy publicaton. For web-original content use 'detailed guide'.
        </span>
        </div>
        
                  <div class="gem-c-radio govuk-radios__item">
                    <input type="radio" name="selected_option_id" id="radio-69a367c1-4" value="statutory_guidance_managed_elsewhere" class="govuk-radios__input" aria-describedby="label-hint-c3078d2c" data-gtm="choose-document-type" data-gtm-value="Statutory guidance publication">
                    
          <label for="radio-69a367c1-4" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Statutory guidance publication</label>
        
          <span id="label-hint-c3078d2c" class="govuk-hint govuk-radios__hint">
            Guidance that sets out what users must do to comply with the law.
        </span>
        </div>
        
                  <div class="gem-c-radio govuk-radios__item">
                    <input type="radio" name="selected_option_id" id="radio-69a367c1-5" value="manual" class="govuk-radios__input" aria-describedby="label-hint-44fcdebf" data-gtm="choose-document-type" data-gtm-value="Manual">
                    
          <label for="radio-69a367c1-5" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Manual</label>
        
          <span id="label-hint-44fcdebf" class="govuk-hint govuk-radios__hint">
            Long, complex guidance or legal documents for specialist users who are familiar with a topic, usually with named or numbered chapters or clauses.
        </span>
        </div>
        
                  {# <div class="gem-c-radio govuk-radios__item">
                    <input type="radio" name="selected_option_id" id="radio-69a367c1-6" value="any_mainstream_publication" class="govuk-radios__input" aria-describedby="label-hint-7469e53d" data-gtm="choose-document-type" data-gtm-value="Mainstream guide">
                    
          <label for="radio-69a367c1-6" class="gem-c-label govuk-label govuk-label--s govuk-radios__label">Mainstream guide</label>
        
          <span id="label-hint-7469e53d" class="govuk-hint govuk-radios__hint">
            Guidance for the general public, written for people not expected to have any previous experience or specialist knowledge.
        </span>
        </div> #}
        
        </div>
        </fieldset></div>
        
              
        
        
          <!-- TODO: Variable for each different type selection -->
          {{ govukButton({
            text: "Continue",
            href: "../../publication/create"
          }) }}
        
        </form>
        
  
  
  


  </div>
</div>
{% endblock %}
