{% if data['documentState'] === 'draft' %}
    <strong class="govuk-tag govuk-tag--{{content.documentContent[0].tagColour}}">
    {{content.documentContent[0].state}}
    </strong>
{% endif %}

{% if data['documentState'] === 'submitted' %}
    {{ govukTag({
        text: "Submitted",
        classes: "govuk-tag--turquoise"
    }) }}
{% endif %}

{% if data['documentState'] === 'published' %}
    {{ govukTag({
        text: "Published",
        classes: "govuk-tag--green"
    }) }}
{% endif %}

{% if data['documentState'] === 'scheduled' %}
    {{ govukTag({
        text: "Scheduled",
        classes: "govuk-tag--turquoise"
        }) }}
{% endif %}




    {# <div class="tag-draft">
      <!-- {{ govukTag({
        text: content.state,
        classes: "govuk-tag--content.colour"
      }) }} -->
      <strong class="govuk-tag govuk-tag--{{content.documentContent[0].tagColour}}">
        {{content.documentContent[0].state}}
      </strong>
    </div> #}
{# 

    <div class="tag-submitted">
      
    </div> #}