{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# Use this to change the document to populated or empty #}
{#  #}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

<!--
  empty
  populated


  already-published
  new-draft
  main.warning-xxxx
  main.document-type-publication
-->
{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary" %}

{% block header %}
  {{ super() }}
  {{ whitehallHeader({
      homepageUrl: "dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}


<style>
  .whitehall-accordion__section-content {
    padding-top: 30px !important;
  }
  .app-c-markdown-editor__container .govuk-textarea {
    min-height: 440px;
    overflow-y: scroll !important;
  }
  main.summary h2,
  main.summary h3,
  main.summary h4 {
    display: block;
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">

    {% include "./includes/summary-messages.html" %}

    <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {# Edit document #}
      {{content.documentContent[0].title}}
    </h1>

    {% include "./includes/summary-document-status.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

    {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
    <div class="app-c-inset-prompt govuk-!-margin-top-4">
      <h3 class="app-c-inset-prompt__title govuk-heading-m">To publish this document you need to</h3>
      <div class="app-c-inset-prompt__body">
        <ul class="govuk-list app-c-inset-prompt__list">
          <!-- <li>
            <a data-gtm="requirements-issue" data-gtm-value="Enter a summary" data-gtm-visibility-tracking="true" class="govuk-link govuk-link--no-visited-state" href="../documents/e10c314b-4193-439c-87d8-a1b28c240e91:en/content#summary" data-gtm-vis-recent-on-screen-9704122_311="98" data-gtm-vis-first-on-screen-9704122_311="98" data-gtm-vis-total-visible-time-9704122_311="100" data-gtm-vis-has-fired-9704122_311="1">Enter a summary</a>
          </li>           -->
          {% if data['pageState'] === 'empty' %}
          <li>
            <a 
              class="govuk-link govuk-link--no-visited-state"
              href="../publication/edit/body{{hrefParams}}">Enter a body</a>
          </li>
          {% endif %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="../publication/edit/taxonomy{{hrefParams}}">Add a topic</a>
          </li>
          {% if data['pageState'] === 'empty' %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state" 
              href="../publication/attachments/{{hrefParams}}">Add an attachment</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>
</div>




    <!-- <section class="govuk-notification-banner gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
      <div class="govuk-notification-banner__content">
    <span class="gem-c-notice__title govuk-notification-banner__heading">This was published under the 2005 to 2010 Labour government</span>
    </div></section> -->


{# CONTENTS #}
{# {% set hrefParams = "" %}
{% if data['pageState'] === 'bodyAttachments' %}
  {% set hrefParams = "?pageState=bodyAttachments" %}
{% endif %}

{% if data['pageState'] === 'populated' %}
  {% set hrefParams = "?pageState=populated" %}
{% endif %}

{% if data['pageState'] === 'empty' %}
  {% set hrefParams = "?pageState=bodyAttachments" %}
{% endif %}

{% if data['pageState'] === 'fullPopulated' %}
  {% set hrefParams = "?pageState=fullPopulated" %}
{% endif %} #}

{%
  set sectionStateTag = [
    {
      state: 'Completed',
      id: 0,
      tag: '<strong class="govuk-tag">Completed</strong>',
      color: ""
    },
    {
      state: 'Not started',
      id: 1,
      tag: '<strong class="govuk-tag govuk-tag--red">Not started</strong>',
      color: "govuk-tag--red"
    },
    {
      state: 'Not started',
      id: 2,
      tag: '<strong class="govuk-tag govuk-tag--grey">Not started</strong>',
      color: "govuk-tag--grey"
    },
    {
      state: 'In progress',
      id: 3,
      tag: '<strong class="govuk-tag govuk-tag--blue">In progress</strong>',
      color: "govuk-tag--blue"
    }
  ]
%}
      {# {
        title: 'Has this document been published before?',
        id: "title-type",
        anchor: "#title-type",
        href: "../publication/edit/previously-published",
        state: 0
      }, #}

      {# <section id="change-notes" class="change-notes">
        {% include "./summary-sections/summary-change-notes.html" %}
      </section> #}

      {# <section id="lead-image" class="lead-image">
        {% include "./summary-sections/summary-lead-image.html" %}
      </section> #}

      {# <section id="previously-published" class="previously-published">
        {% include "./summary-sections/summary-previously-published.html" %}
      </section> #}

      {# <section id="language" class="language">
        {% include "./summary-sections/summary-language.html" %}
      </section> #}

      <!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Related content????</h2>
      Right column 
      Related content
      links -->

      {# <section id="worldwide-tags" class="worldwide-tags">
        {% include "./summary-sections/summary-worldwide-tags.html" %}
      </section> #}

       {# <section id="related-guides" class="related-guides">
        {% include "./summary-sections/summary-related-guides.html" %}
      </section> #}

{#
      {
        title: 'Document information',
        description: "Document type, and information about previous publications.",
        id: "title-type",
        anchor: "#title-type",
        href: "../publication/edit/subtype" + hrefParams,
        htmlInclude: "./summary-sections/summary-title-type.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Title and summary',
        description: false,
        id: "summary",
        anchor: "#summary",
        href: "../publication/edit/summary" + hrefParams,
        htmlInclude: "./summary-sections/summary-summary.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Body and images',
        description: 'In the published GOV.UK page, this information will show as "Details" before the text body.',
        id: "body",
        anchor: "#body",
        href: "../publication/edit/body" + hrefParams,
        htmlInclude: "./summary-sections/summary-body.html",
        mandatory: true,
        visible: true,
        state: 1
      },

  #}

{%
  set documentSections = [

      {
        title: 'Content',
        description: false,
        id: "summary",
        anchor: "#summary",
        href: "../publication/edit/summary" + hrefParams,
        htmlInclude: "./summary-sections/summary-content.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Attachments',
        description: false,
        id: "attachments",
        anchor: "#attachments",
        href: "../publication/attachments/" + hrefParams,
        htmlInclude: "./summary-sections/summary-attachments.html",
        mandatory: true,
        visible: true,
        state: 1
      },
      {
        title: 'Topic taxonomy tags',
        description: false,
        id: "taxonomy",
        anchor: "#taxonomy",
        href: "../publication/edit/taxonomy" + hrefParams,
        htmlInclude: "./summary-sections/summary-taxonomy.html",
        mandatory: true,
        visible: true,
        state: 1
      },
      {
        title: 'Excluded nations',
        description: false,
        id: "excluded-nations",
        anchor: "#excluded-nations",
        href: "../publication/edit/excluded-nations" + hrefParams,
        htmlInclude: "./summary-sections/summary-excluded-nations.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Organisations and Ministers tags',
        description: false,
        id: "organisations-ministers",
        anchor: "#organisations-ministers",
        href: "../publication/edit/organisations" + hrefParams,
        htmlInclude: "./summary-sections/summary-organisations-ministers.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Additional tags (optional)',
        description: "Specialist topics, topical events, world locations, statistical data sets, and associated user needs.",
        id: "optional-metadata",
        anchor: "#optional-metadata",
        href: "../publication/edit/optional-metadata" + hrefParams,
        htmlInclude: "./summary-sections/summary-optional-metadata.html",
        mandatory: false,
        visible: true,
        state: 2
      },
      {
        title: 'Translations (optional)',
        description: false,
        id: "translations",
        anchor: "#translations",
        href: "../publication/edit/translations" + hrefParams,
        htmlInclude: "./summary-sections/summary-translations.html",
        mandatory: false,
        visible: true,
        state: 2
      }
  ]
%}

{# 

      {
        title: 'Specialist topics (optional)',
        id: "specialist-topic",
        anchor: "#specialist-topic",
        href: "../publication/edit/specialist-topics" + hrefParams,
        htmlInclude: "./summary-sections/summary-specialist-topic.html",
        mandatory: false,
        visible: true,
        state: 2
      },
      {
        title: 'Associations (optional)',
        id: "associations",
        anchor: "#associations",
        href: "../publication/edit/associations" + hrefParams,
        htmlInclude: "./summary-sections/summary-associations.html",
        mandatory: false,
        visible: true,
        state: 2
      },
      {
        title: 'Associated user needs (optional)',
        id: "associated-user-needs",
        anchor: "#associated-user-needs",
        href: "../publication/edit/associated-user-needs" + hrefParams,
        htmlInclude: "./summary-sections/summary-associated-user-needs.html",
        mandatory: false,
        visible: true,
        state: 2
      }


 #}
{# 
      {
        id: "previously-published",
        pageState: "empty",
        state: 0
      }, #}
{%
  set sectionStateEmpty = [
      {
        id: "title-type",
        pageState: "empty",
        state: 0
      },
      {
        id: "summary",
        pageState: "empty",
        state: 3
      },
      {
        id: "attachments",
        pageState: "empty",
        state: 1
      },
      {
        id: "body",
        pageState: "empty",
        state: 1
      },
      {
        id: "taxonomy",
        pageState: "empty",
        state: 1
      },
      {
        id: "organisations-ministers",
        pageState: "empty",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "empty",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "empty",
        state: 2
      },
      {
        id: "associations",
        pageState: "empty",
        state: 2
      },
      {
        id: "translations",
        pageState: "empty",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "empty",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "empty",
        state: 2
      }
  ]
%}
      {# {
        id: "previously-published",
        pageState: "bodyAttachments",
        state: 0
      }, #}
{%
  set sectionStateBodyAttachments = [
      {
        id: "title-type",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "summary",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "attachments",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "body",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "bodyAttachments",
        state: 1
      },
      {
        id: "organisations-ministers",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "associations",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "translations",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "bodyAttachments",
        state: 2
      }
  ]
%}
{# 
      {
        id: "previously-published",
        pageState: "populated",
        state: 0
      },
       #}
{%
  set sectionStatePopulated = [
      {
        id: "title-type",
        pageState: "populated",
        state: 0
      },
      {
        id: "summary",
        pageState: "populated",
        state: 0
      },
      {
        id: "attachments",
        pageState: "populated",
        state: 0
      },
      {
        id: "body",
        pageState: "populated",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "populated",
        state: 0
      },
      {
        id: "organisations-ministers",
        pageState: "populated",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "populated",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "populated",
        state: 2
      },
      {
        id: "associations",
        pageState: "populated",
        state: 2
      },
      {
        id: "translations",
        pageState: "populated",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "populated",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "populated",
        state: 2
      }
  ]
%}
{%
  set sectionStateFullPopulated = [
      {
        id: "title-type",
        pageState: "populated",
        state: 0
      },
      {
        id: "summary",
        pageState: "populated",
        state: 0
      },
      {
        id: "attachments",
        pageState: "populated",
        state: 0
      },
      {
        id: "body",
        pageState: "populated",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "populated",
        state: 0
      },
      {
        id: "organisations-ministers",
        pageState: "populated",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "populated",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "populated",
        state: 0
      },
      {
        id: "associations",
        pageState: "populated",
        state: 0
      },
      {
        id: "translations",
        pageState: "populated",
        state: 0
      },
      {
        id: "associated-user-needs",
        pageState: "populated",
        state: 0
      },
      {
        id: "optional-metadata",
        pageState: "populated",
        state: 0
      }
  ]
%}


{% set sectionState = [] %}
{% if data['pageState'] === 'empty' %}
  {% for states in sectionStateEmpty %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'populated' %}
  {% for states in sectionStatePopulated %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'bodyAttachments' %}
  {% for states in sectionStateBodyAttachments %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'fullPopulated' %}
  {% for states in sectionStateFullPopulated %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}



    

    {# <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        
      </dt>
      <dd class="govuk-summary-list__value">
        
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{section.anchor}}">
          Jump to<span class="govuk-visually-hidden"> {{section.title}}</span>
        </a>
      </dd>
      <dd class="govuk-summary-list__actions">
        
      </dd>
    </div>
     #}


{# <div id="contents-tasks" class="whitehall-contents-tasks populated">
</div> #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" id="tabs-content">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document summary',
        href: '../publication/summary' + hrefParams,
        active: true
      }, {
        html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
        href: '../publication/history' + hrefParams
      },
      {
        html: 'Preview and share',
        href: '../publication/preview' + hrefParams
      },
      {
        html: 'Send for review or publish',
        href: '../publication/publish/' + hrefParams
      }]
    }) }}
  </div>
</div>

<div id="document-summary-panel" class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    
    <h2 class="govuk-visually-hidden">Document summary</h2>

    <div class="whitehall-accordion" data-module="whitehall-accordion" id="summary-accordion">
      {% for section in documentSections %}
      <div class="whitehall-accordion__section ">
        <div class="whitehall-accordion__section-header">
          <h3 class="whitehall-accordion__section-heading">
            <span class="whitehall-accordion__section-button" id="accordion-default-heading-{{section.id}}">
                <span class="govuk-visually-hidden">Edit </span>
                {# <span class="govuk-heading-l"> #}
                  {{section.title}}
                {# </span> #}
                {# <a class="govuk-link" href="{{section.href}}">
              </a> #}
              {% for stateItem in sectionState %}
                {% if stateItem.id == section.id %}
                    <strong class="govuk-tag {{sectionStateTag[stateItem.state]['color']}}">{{sectionStateTag[stateItem.state]['state']}}</strong>
                {% endif %} 
              {% endfor %}
            </span>
          </h3>
          {% if stateItem.description %}
          <div class="whitehall-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-{{section.id}}">
            {{stateItem.description}}
          </div>
          {% endif %}
        </div>
        <div id="accordion-default-content-{{section.id}}" class="whitehall-accordion__section-content" aria-labelledby="accordion-default-heading-{{section.id}}">
          {# <p class='govuk-body'>This is the content for Writing well for the web.</p> #}
          {% include section.htmlInclude %}
        </div>
      </div>
      {% else %}
      {% endfor %}
    </div>

  </div>
</div>



    <!-- <section class="govuk-notification-banner gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
      <div class="govuk-notification-banner__content">
    <span class="gem-c-notice__title govuk-notification-banner__heading">This was published under the 2005 to 2010 Labour government</span>
    </div></section> -->

    {# {% set sectionState = [] %} #}



    {# {% include "./includes/sections-list.html" %} #}

    {# <div class="sections"> #}

{#       

      <section id="title-type" class="title-type">
        {% include "./summary-sections/summary-title-type.html" %}
      </section>

      <section id="summary" class="summary">
        {% include "./summary-sections/summary-summary.html" %}
      </section>

      <section id="change-notes" class="change-notes">
        {% include "./summary-sections/summary-change-notes.html" %}
      </section>
      

      <section id="attachments" class="attachments">
        {% include "./summary-sections/summary-attachments.html" %}
      </section>

      <section id="body" class="body">
        {% include "./summary-sections/summary-body.html" %}
      </section>

      <section id="lead-image" class="lead-image">
        {% include "./summary-sections/summary-lead-image.html" %}
      </section>




      <section id="previously-published" class="previously-published">
        {% include "./summary-sections/summary-previously-published.html" %}
      </section>

      <section id="language" class="language">
        {% include "./summary-sections/summary-language.html" %}
      </section>
        
      <section id="taxonomy" class="taxonomy">
        {% include "./summary-sections/summary-taxonomy.html" %}
      </section>
        
      <section id="organisations-ministers" class="organisations-ministers">
        {% include "./summary-sections/summary-organisations-ministers.html" %}
      </section>

      <!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Related content????</h2>
      Right column 
      Related content
      links -->

      <section id="excluded-nations" class="excluded-nations">
        {% include "./summary-sections/summary-excluded-nations.html" %}
      </section>



      <h2 class="govuk-heading-l">
        Optional sections
      </h2>

      <section id="specialist-topic" class="specialist-topic">
        {% include "./summary-sections/summary-specialist-topic.html" %}
      </section>

      <section id="associations" class="associations">
        {% include "./summary-sections/summary-associations.html" %}
      </section>

      <section id="worldwide-tags" class="worldwide-tags">
        {% include "./summary-sections/summary-worldwide-tags.html" %}
      </section>

      <section id="related-guides" class="related-guides">
        {% include "./summary-sections/summary-related-guides.html" %}
      </section>

      <section id="translations" class="translations">
        {% include "./summary-sections/summary-translations.html" %}
      </section>

      <section id="associated-user-needs" class="associated-user-needs">
        {% include "./summary-sections/summary-associated-user-needs.html" %}
      </section> #}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div id="sticky-element" data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          {{ whitehallBackToTop({
            label: "Back to top",
            href: "#main-content"
          }) }}
        </div>
      </div>


    </div>
  </div>


  <!-- RIGHT COLUMN -->
  <div class="govuk-grid-column-one-third">

    <!-- Actions and tools? -->
  
  </div>
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  // Summary page
  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  }

  $(document).ready(function() {  
    $.stickyElement.wrapper = $('#document-summary-panel');
    $.stickyElement.init();
    new GOVUKFrontend.whitehallAccordion(document.getElementById('summary-accordion')).init();
  });
</script>
{% endblock %}
