{% import "../../includes/_globals.html" as globals %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="min-width: 150px; max-width: 180px;">Type</th>
      <th scope="col" class="govuk-table__header" style="max-width: 500px;">Title</th>
      <th scope="col" class="govuk-table__header" style="min-width: 140px; max-width: 250px;">Updated</th>
      <th scope="col" class="govuk-table__header" style="width: 150px;">State</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 60px;"><label style="visibility: hidden;">Action</label></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ params.documentType[0][3].type }}</td>
      <td class="govuk-table__cell">{{ params.title[0][3].title }}</td>
      <td class="govuk-table__cell">{{ params.lastUpdated[0][1].time }}<br /><span class="whitehall-documents-author">by <a  href="/account/profile">{{ params.author[0][4].author }}</a></span></td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ params.state[0][3].colour }}" style="white-space: nowrap;">{{ params.state[0][3].name }}</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../publication/summary">Edit</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ params.documentType[0][3].type }}</td>
      <td class="govuk-table__cell">{{ params.title[0][1].title }}</td>
      <td class="govuk-table__cell">{{ params.lastUpdated[0][2].time }}<br /><span class="whitehall-documents-author">by <a  href="/account/profile">{{ params.author[0][6].author }}</a></span></td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ params.state[0][3].colour }}" style="white-space: nowrap;">{{ params.state[0][3].name }}</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../publication/summary">Edit</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ params.documentType[0][3].type }}</td>
      <td class="govuk-table__cell">{{ params.title[0][0].title }}</td>
      <td class="govuk-table__cell">{{ params.lastUpdated[0][0].time }}<br /><span class="whitehall-documents-author">by <a  href="/account/profile">{{ params.author[0][5].author }}</a></span></td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ params.state[0][0].colour }}" style="white-space: nowrap;">{{ params.state[0][0].name }}</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../publication/summary">Edit</a></td>
    </tr>
    {% for row in params.rows[0] %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ row.documentType[0].type }}</td>
      <td class="govuk-table__cell">{{ row.title[0].title }}</td>
      <td class="govuk-table__cell">{{ row.lastUpdated[0].time }}<br /><span class="whitehall-documents-author">by <a  href="/account/profile">{{ row.author[0].author }}</a></span></td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ row.state[0].colour }}" style="white-space: nowrap;">{{ row.state[0].name }}</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../publication/summary">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if params.pagination %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#",
      current: true
    },
    {
      ellipsis: true
    },
    {
      number: 6,
      href: "#"
    },
    {
      number: 7,
      href: "#"
    },
    {
      number: 8,
      href: "#"
    },
    {
      ellipsis: true
    },
    {
      number: 42,
      href: "#"
    }
  ]
}) }}
{% endif %}

{# 
{% from '../govuk/table/macro.njk' import govukTable %}

{{ govukTable({
  caption: "",
  sortable: true,
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Type"
    },
    {
      text: "Title",
      classes: 'govuk-!-width-three-quarters'
    },
    {
      text: "Updated"
    },
    {
      text: "State"
    },
    {
      html: '<label style="visibility: hidden;">Action</label>',
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Consultation"
      },
      {
        text: "Draft data sharing legislation to support identity verification"
      },
      {
        html: '20 minutes ago<br />by <a class="whitehall-documents-author" href="/account/profile">Anne Lewis</a>'
      },
      {
        html: '<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1" style="white-space: nowrap;">Published</strong>
        <strong class="govuk-tag govuk-tag--yellow" style="white-space: nowrap;">Not reviewed</strong>'
      },
      {
        html: '<a href="../publication/summary">Edit</a>',
        format: "numeric"
      }
    ]
  ]
}) }}


#}