{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ super() }}: {{content.documentContent[0].title}}
{% endblock %} 

{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary v2" %}
{% block header %}
  {{ super() }}
    <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="javascript: submitNavForm('dashboard/', $(this));">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="javascript: submitNavForm('documents/', $(this));">Documents</a>
        </li>
        {# <li class="govuk-breadcrumbs__list-item" aria-current="page">Documents</li> #}
      </ol>
    </div>
  </div>
{% endblock %}


{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

{# {{ data['pageState'] }}
{{ data['documentState'] }}
{{ data['message'] }}
{{ data['prototypeVersion'] }}
{{data['pageState']}}
{{globals.prototypeVersion}}
<br/>
{% if data['prototypeVersion']%}
{% set prototypeVersion = data['prototypeVersion'] %}
{% else %}
{% set prototypeVersion = "v2" %}
{% endif %}
{{prototypeVersion}}

<br/>
{{hrefParams}} #}

    {% include "./includes/summary-messages.html" %}

    <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{content.documentContent[0].title}}
    </h1>

    {% include "./includes/summary-document-status.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

  </div>
</div>

{%
  set sectionStateTag = [
    {
      state: 'Completed',
      id: 0,
      tag: '<strong class="govuk-tag">Completed</strong>',
      color: ""
    },
    {
      state: 'Not started',
      id: 1,
      tag: '<strong class="govuk-tag govuk-tag--red">Not started</strong>',
      color: "govuk-tag--red"
    },
    {
      state: 'Not started',
      id: 2,
      tag: '<strong class="govuk-tag govuk-tag--grey">Not started</strong>',
      color: "govuk-tag--grey"
    },
    {
      state: 'In progress',
      id: 3,
      tag: '<strong class="govuk-tag govuk-tag--blue">In progress</strong>',
      color: "govuk-tag--blue"
    }
  ]
%}

{%
  set documentSections = [

      {
        title: 'Content',
        description: false,
        id: "summary",
        anchor: "#summary",
        href: "../publication/edit/summary" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-content.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Attachments',
        description: false,
        id: "attachments",
        anchor: "#attachments",
        href: "../publication/attachments/" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-attachments.html",
        mandatory: true,
        visible: true,
        state: 1
      },
      {
        title: 'Topic taxonomy tags',
        description: false,
        id: "taxonomy",
        anchor: "#taxonomy",
        href: "../publication/edit/taxonomy" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-taxonomy.html",
        mandatory: true,
        visible: true,
        state: 1
      },
      {
        title: 'Excluded nations',
        description: false,
        id: "excluded-nations",
        anchor: "#excluded-nations",
        href: "../publication/edit/excluded-nations" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-excluded-nations.html",
        mandatory: true,
        visible: true,
        state: 0
      },
      {
        title: 'Tags',
        description: "Specialist topics, topical events, world locations, statistical data sets, and associated user needs.",
        id: "optional-metadata",
        anchor: "#optional-metadata",
        href: "../publication/edit/optional-metadata" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-optional-metadata.html",
        mandatory: false,
        visible: true,
        state: 2
      },
      {
        title: 'Content settings',
        description: "Specialist topics, topical events, world locations, statistical data sets, and associated user needs.",
        id: "optional-metadata",
        anchor: "#optional-metadata",
        href: "../publication/edit/content-settings" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-content-settings.html",
        mandatory: false,
        visible: true,
        state: 2
      },
      {
        title: 'Translations',
        description: false,
        id: "translations",
        anchor: "#translations",
        href: "../publication/edit/translations" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-translations.html",
        mandatory: false,
        visible: true,
        state: 2
      }
  ]
%}

{# Content settings
Access limiting	None	ChangeAccess limiting
Gets history mode	No	ChangeGets history mode #}

{# 
      {
        title: 'Organisations and Ministers tags',
        description: false,
        id: "organisations-ministers",
        anchor: "#organisations-ministers",
        href: "../publication/edit/organisations" + hrefParams,
        htmlInclude: "./summary-sections-v2/summary-organisations-ministers.html",
        mandatory: true,
        visible: true,
        state: 0
      },

 #}
{%
  set sectionStateEmpty = [
      {
        id: "title-type",
        pageState: "empty",
        state: 0
      },
      {
        id: "summary",
        pageState: "empty",
        state: 3
      },
      {
        id: "attachments",
        pageState: "empty",
        state: 1
      },
      {
        id: "body",
        pageState: "empty",
        state: 1
      },
      {
        id: "taxonomy",
        pageState: "empty",
        state: 1
      },
      {
        id: "organisations-ministers",
        pageState: "empty",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "empty",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "empty",
        state: 2
      },
      {
        id: "associations",
        pageState: "empty",
        state: 2
      },
      {
        id: "translations",
        pageState: "empty",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "empty",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "empty",
        state: 2
      }
  ]
%}
{%
  set sectionStateBodyAttachments = [
      {
        id: "title-type",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "summary",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "attachments",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "body",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "bodyAttachments",
        state: 1
      },
      {
        id: "organisations-ministers",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "bodyAttachments",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "associations",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "translations",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "bodyAttachments",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "bodyAttachments",
        state: 2
      }
  ]
%}
{%
  set sectionStatePopulated = [
      {
        id: "title-type",
        pageState: "populated",
        state: 0
      },
      {
        id: "summary",
        pageState: "populated",
        state: 0
      },
      {
        id: "attachments",
        pageState: "populated",
        state: 0
      },
      {
        id: "body",
        pageState: "populated",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "populated",
        state: 0
      },
      {
        id: "organisations-ministers",
        pageState: "populated",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "populated",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "populated",
        state: 2
      },
      {
        id: "associations",
        pageState: "populated",
        state: 2
      },
      {
        id: "translations",
        pageState: "populated",
        state: 2
      },
      {
        id: "associated-user-needs",
        pageState: "populated",
        state: 2
      },
      {
        id: "optional-metadata",
        pageState: "populated",
        state: 2
      }
  ]
%}
{%
  set sectionStateFullPopulated = [
      {
        id: "title-type",
        pageState: "populated",
        state: 0
      },
      {
        id: "summary",
        pageState: "populated",
        state: 0
      },
      {
        id: "attachments",
        pageState: "populated",
        state: 0
      },
      {
        id: "body",
        pageState: "populated",
        state: 0
      },
      {
        id: "taxonomy",
        pageState: "populated",
        state: 0
      },
      {
        id: "organisations-ministers",
        pageState: "populated",
        state: 0
      },
      {
        id: "excluded-nations",
        pageState: "populated",
        state: 0
      },
      {
        id: "specialist-topic",
        pageState: "populated",
        state: 0
      },
      {
        id: "associations",
        pageState: "populated",
        state: 0
      },
      {
        id: "translations",
        pageState: "populated",
        state: 0
      },
      {
        id: "associated-user-needs",
        pageState: "populated",
        state: 0
      },
      {
        id: "optional-metadata",
        pageState: "populated",
        state: 0
      }
  ]
%}


{% set sectionState = [] %}
{% if data['pageState'] === 'empty' %}
  {% for states in sectionStateEmpty %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'populated' %}
  {% for states in sectionStatePopulated %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'bodyAttachments' %}
  {% for states in sectionStateBodyAttachments %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}
{% if data['pageState'] === 'fullPopulated' %}
  {% for states in sectionStateFullPopulated %}
    {% set sectionState = (sectionState.push(states), sectionState) %}
  {% endfor %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" id="tabs-content">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document summary',
        href: '../publication/summary' + hrefParams,
        active: true
      }, {
        html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
        href: '../publication/history' + hrefParams
      },
      {
        html: 'Preview and share',
        href: '../publication/preview' + hrefParams
      },
      {
        html: 'Send for review or publish',
        href: '../publication/publish/' + hrefParams
      }]
    }) }}
  </div>
</div>

<div id="document-summary-panel" class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-visually-hidden">Document summary</h2>

      {% for section in documentSections %}
        <div class="govuk-grid-row govuk-!-margin-bottom-4">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l whitehall-summary-h1-blue-v4-cp" style="display: none;">
              {{section.title}}

              {% if section.id == "attachments" %}
              <p class="govuk-body">
                <a class="govuk-link" href="{{section.href}}">Add an attachment</a>
              </p>
              {% endif %}
              {% if section.id == "translations" %}
              <p class="govuk-body">
                <a class="govuk-link" href="{{section.href}}">Add a translation</a>
              </p>
              {% endif %}
              {% if section.id == "taxonomy" %}
              <p class="govuk-body">
                <a class="govuk-link" href="{{section.href}}">Edit</a>
              </p>
              {% endif %}
              {# {% if section.mandatory %}
                <strong class="govuk-tag govuk-tag--grey" style="float: right; margin-top: 8px;">Required</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey" style="float: right; margin-top: 8px;">Optional</strong>
              {% endif %} #}
            </h2>
            {% for stateItem in sectionState %}
              {% if stateItem.id == section.id %}
                  {# <strong class="govuk-tag {{sectionStateTag[stateItem.state]['color']}}">{{sectionStateTag[stateItem.state]['state']}}</strong> #}
              {% endif %} 
            {% endfor %}

            {% if stateItem.description %}
            {# <div class="whitehall-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-{{section.id}}"> #}
              {# {{stateItem.description}} #}
            {# </div> #}
            {% endif %}
            {% include section.htmlInclude %}
          </div>
        </div>
        {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-4"> #}
      {% endfor %}

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div id="sticky-element" data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          {{ whitehallBackToTop({
            label: "Back to top",
            href: "#main-content"
          }) }}
        </div>
      </div>


    </div>
  </div>

{# 
  <!-- RIGHT COLUMN -->
  <div class="govuk-grid-column-one-third">
  </div> #}
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  /* WARNING AND MESSAGES */
  {# var message = getUrlParameter('message'); #}

  // Summary page
  {# if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  } #}

  $(document).ready(function() {  
    $.stickyElement.wrapper = $('#document-summary-panel');
    $.stickyElement.init();

    {# var firstName = req.session.data['pageTest'];
    alert(firstName); #}

   // new GOVUKFrontend.whitehallAccordion(document.getElementById('summary-accordion')).init();
   //alert(req.session.data['pageTest']);
   //alert('{{data['prototypeVersion']}}');
  });
</script>
{% endblock %}
