/* MOJ FIX */
.moj-filter__tag:after {
  background-image: url('/public/images/moj/icon-tag-remove-cross.svg');
  // content: "";
  // display: inline-block;
  // font-weight: bold;
  // height: 10px;
  // margin-left: 5px;
  // vertical-align: middle;
  // width: 10px;
}
.moj-filter__tag:hover:after {
  background-image: url('/public/images/moj/icon-tag-remove-cross-white.svg');
}

/* // END MOJ FIX */
/* FILTER */
.moj-filter {
    hr {
      display: block;
      border: 0;
      background-color: #b1b4b6;
      height: 1px;
      //border-bottom: 1px solid #b1b4b6;
      margin-top: 20px;
      margin-bottom: 20px;
    }
}
.app-c-option-select__filter-input,
.autocomplete__input,
.autocomplete__input--default {
    padding-left: 33px !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") #fff no-repeat -5px -3px;
}
.autocomplete__wrapper {
  & > span > * {
    padding-left: 33px !important;
  }
}
/* // END FILTER */


.whitehall-documents-author {
  white-space: nowrap;
}


.whitehall-documents-quick-filter {
  // display: flex;
  // align-items: center;
  // column-gap: 20px;
  background-color: #f3f2f1;
  //height: 70px;
  border: 1px solid #b1b4b6;

  label {
    // display: inline-block;
    // font-size: 16px;
  }
  .govuk-body {
    background-color: #fff;
    padding: 20px;
  }
  .govuk-form-group {
    padding: 20px;
    //display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 0 !important;
    .govuk-checkboxes {
      display: flex;
      .govuk-checkboxes__item {
        display: inline-block;
        font-size: 16px;
      }
    }
    &:after {
      content: none;
      display: none;
      clear: none;
    }
  }
  .govuk-link {
    display: flex;
    justify-content: right;
    text-align: right;
    background-color: transparent;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .whitehall-documents-filter-link {
    display: flex;
    justify-content: left;
    text-align: left;
    border: 2px #00703c solid;
    color: #00703c;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: none;
    margin: 0;
  }
  // #00703c
  // #002d18
}
.moj-scrollable-pane {
  .govuk-table__header,
  .govuk-table__cell {
    padding: 10px 20px 10px 0;
    border-top: 1px solid #b1b4b6;
  }
}

.moj-action-bar {
  .gem-c-search__item-wrapper {
    // display: table;
    // width: 700px;
    // background: #ffffff;
  }
  .govuk-grid-column-full {
    width: 100%;
    max-width: 900px;
  }
}

@media (max-width: 1180px) {
  .moj-action-bar {
    .gem-c-search__item-wrapper {
      // display: table;
      // width: 100%;
      // background: #ffffff;
    }
    .govuk-grid-column-full {
      width: 100%;
    }
  }
}