/* Images */
.govspeak .image,
.gem-c-govspeak .image {
  position: relative;
  margin: 30px 0;
  padding: 15px 0 0 240px !important;
}
.govspeak .image .image-thumb,
.gem-c-govspeak .image .image-thumb {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: -235px !important;
  padding-bottom: 15px;
}
.govspeak .image .image-thumb img,
.govspeak .image .image-thumb svg,
.gem-c-govspeak .image .image-thumb img,
.gem-c-govspeak .image .image-thumb svg {
  display: block;
  width: 210px !important;
  height: 140px !important;
  background: #fff;
  outline: 5px solid rgba(11,12,12,0.1);
  box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
}
.image-details {
  p.metadata {
    margin: 0 !important;
  }
  span.key {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    // font-size: 16px;
    // font-size: 1rem;
    // line-height: 1.4285714286;

    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  span.value {
    padding-left: 10px;
    font-weight: normal;
    // font-size: 16px;
    // font-size: 1rem;
    // line-height: 1.4285714286;

    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}