.whitehall-button {
    // width: 100%;
    // margin-bottom: 15px;
}
/*
.whitehall-button:link,
.whitehall-button:visited,
.whitehall-button:active,
.whitehall-button:hover {
    color: #fff;
    text-decoration: none;
}
.whitehall-button--secondary {
    padding: 8px 10px;
    border-color: #00823b;
    color: #00823b;
    background-color: #fff;
    box-shadow: none;
}
.whitehall-button--secondary:link,
.whitehall-button--secondary:visited,
.whitehall-button--secondary:active,
.whitehall-button--secondary:focus {
    color: #00823b;
    background-color: #fff;
    text-decoration: none;
}
*/