
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "document/",
          text: "Documents"
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information",
          active: true
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Support",
          href: "dashboard/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Support information</span>
      <h1 class="govuk-heading-xl">
        Groups
      </h1>
      <!-- <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p> -->

      <!-- <h2 class="govuk-heading-l">What’s new</h2>

      <p>
        From September 2022, Whitehall Publisher will be transitioning to using the GOV.UK Design System. This will mean a new look and feel in several parts of the application as well as changes to some of the workflows.
      </p> -->
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type of document"
            },
            value: {
              text: "Consultation: Open consultation"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Draft"
            }
          },
          {
            key: {
              text: "Change type"
            },
            value: {
              text: "Major"
            }
          },
          {
            key: {
              text: "Organization"
            },
            value: {
              text: "Government Digital Service"
            }
          },
          {
            key: {
              text: "Language"
            },
            value: {
              text: "English"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change language"
                }
              ]
            }
          }
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">My draft documents</h2>

      {{ govukTable({
        caption: "Month you apply",
        sortable: true,
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Type",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Title",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "Updated",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Status",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "",
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Consultation"
            },
            {
              text: "Draft data sharing legislation to support identity verification"
            },
            {
              html: '20 minutes ago<br />by <a href="author">Anne Lewis</a>'
            },
            {
              text: ""
            },
            {
              html: '<a href="document">Edit</a>',
              format: "numeric"
            }
          ]
        ]
      }) }}


      <h2 class="govuk-heading-l">GDS’s force-published documents</h2>



      <h2 class="govuk-heading-l">Guidance</h2>

      <h3 class="govuk-heading-m">Writing and publishing</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Content Data</a>
        </li>
        <li>
          <a class="govuk-link" href="#">GOV.UK style guide</a>
        </li>
        <li>
          <a class="govuk-link" href="#">How to publish content on GOV.UK</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Planning, writing and managing content</a>
        </li>
      </ul>


      <h3 class="govuk-heading-m">Product development</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Inside GOV.UK blog</a>
        </li>
        <li>
          <a class="govuk-link" href="#">What's new</a>
        </li>
      </ul>


      <h3 class="govuk-heading-m">Support</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">GDS support form (Zendesk)</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Find in admin bookmarklet</a>
        </li>
        <li>
          <a class="govuk-link" href="#">How to publish content on GOV.UK</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Planning, writing and managing content</a>
        </li>
      </ul>

      <!-- <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->
    </div>
  </div>











Test Carlos
Updated about 5 hours ago by Kevin Dew Publication

GDS Academy courses
Updated 3 days ago by Graham Day Detailed Guide not reviewed
Government Digital Service IT platform privacy notice
Updated 16 days ago by Wesley Norton Publication not reviewed
Data engineer
Updated about 1 month ago by Alex Robertson Detailed Guide not reviewed
Product manager
Updated about 1 month ago by Alex Robertson Detailed Guide not reviewed
GOV.UK proposition
Updated 4 months ago by Sally Hamilton-Williams Publication not reviewed
See all

{% endblock %}
