<ul class="autocomplete__list" id="edition_secondary_specialist_sector_tags__list">
    <li id="edition_secondary_specialist_sector_tags__selected-option--0" class="autocomplete__selected-option">
        <span>Government: Public services</span>
        <button type="button" class="autocomplete__remove-option" aria-label="Government: Public services, selected. Press Enter or Space to remove selection">remove</button>
    </li>
    <li id="edition_secondary_specialist_sector_tags__selected-option--1" class="autocomplete__selected-option">
        <span>Public safety and emergencies: Emergencies: preparation, response and recovery</span>
        <button type="button" class="autocomplete__remove-option" aria-label="Public safety and emergencies: Emergencies: preparation, response and recovery, selected. Press Enter or Space to remove selection">remove</button>
    </li>
</ul>