{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# Use this to change the document to populated or empty #}
{#  #}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

<!--
  empty
  populated


  already-published
  new-draft
  main.warning-xxxx
  main.document-type-publication
-->
{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary v1" %}

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}

{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-messages.html" %}

    <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{content.documentContent[0].title}}
    </h1>

    {% include "./includes/summary-document-status.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="tabs-content">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document summary',
        href: '../publication/summary' + hrefParams,
        active: true
      }, {
        html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
        href: '../publication/history' + hrefParams
      },
      {
        html: 'Preview and share',
        href: '../publication/preview' + hrefParams
      },
      {
        html: 'Send for review or publish',
        href: '../publication/publish/' + hrefParams
      }]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-visually-hidden">Document summary</h2>
    <!-- <section class="govuk-notification-banner gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
      <div class="govuk-notification-banner__content">
    <span class="gem-c-notice__title govuk-notification-banner__heading">This was published under the 2005 to 2010 Labour government</span>
    </div></section> -->

    {% set sectionState = [] %}
    {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
    <div class="app-c-inset-prompt">
      <h3 class="app-c-inset-prompt__title govuk-heading-m">To publish this document you need to</h3>
      <div class="app-c-inset-prompt__body">
        <ul class="govuk-list app-c-inset-prompt__list">
          <!-- <li>
            <a data-gtm="requirements-issue" data-gtm-value="Enter a summary" data-gtm-visibility-tracking="true" class="govuk-link govuk-link--no-visited-state" href="../documents/e10c314b-4193-439c-87d8-a1b28c240e91:en/content#summary" data-gtm-vis-recent-on-screen-9704122_311="98" data-gtm-vis-first-on-screen-9704122_311="98" data-gtm-vis-total-visible-time-9704122_311="100" data-gtm-vis-has-fired-9704122_311="1">Enter a summary</a>
          </li>           -->
          {% if data['pageState'] === 'empty' %}
          <li>
            <a 
              class="govuk-link govuk-link--no-visited-state"
              href="#body">Enter a body</a>
          </li>
          {% endif %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="#taxonomy">Add a topic</a>
          </li>
          {% if data['pageState'] === 'empty' %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state" 
              href="#attachments">Add an attachment</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}


    {% include "./includes/sections-list.html" %}

    <div class="sections">
      <section id="title-type" class="title-type">
        {% include "./summary-sections/summary-title-type.html" %}
      </section>

      <section id="summary" class="summary">
        {% include "./summary-sections/summary-summary.html" %}
      </section>

      <section id="language" class="language">
        {% include "./summary-sections/summary-language.html" %}
      </section>

      {# <section id="previously-published" class="previously-published">
        {% include "./summary-sections/summary-previously-published.html" %}
      </section> #}

      <section id="change-notes" class="change-notes">
        {% include "./summary-sections/summary-change-notes.html" %}
      </section>
        
      <section id="taxonomy" class="taxonomy">
        {% include "./summary-sections/summary-taxonomy.html" %}
      </section>
        
      <section id="organisations-ministers" class="organisations-ministers">
        {% include "./summary-sections/summary-organisations-ministers.html" %}
      </section>

      <!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Related content????</h2>
      Right column 
      Related content
      links -->

      <section id="excluded-nations" class="excluded-nations">
        {% include "./summary-sections/summary-excluded-nations.html" %}
      </section>

      <section id="attachments" class="attachments">
        {% include "./summary-sections/summary-attachments.html" %}
      </section>

      <section id="lead-image" class="lead-image">
        {% include "./summary-sections/summary-lead-image.html" %}
      </section>

      <section id="body" class="body">
        {% include "./summary-sections/summary-body.html" %}
      </section>

      <section id="specialist-topic" class="specialist-topic">
        {% include "./summary-sections/summary-specialist-topic.html" %}
      </section>

      <section id="associations" class="associations">
        {% include "./summary-sections/summary-associations.html" %}
      </section>

      <section id="worldwide-tags" class="worldwide-tags">
        {% include "./summary-sections/summary-worldwide-tags.html" %}
      </section>

      <section id="related-guides" class="related-guides">
        {% include "./summary-sections/summary-related-guides.html" %}
      </section>

      <section id="translations" class="translations">
        {% include "./summary-sections/summary-translations.html" %}
      </section>

      <section id="associated-user-needs" class="associated-user-needs">
        {% include "./summary-sections/summary-associated-user-needs.html" %}
      </section>

      <div id="sticky-element" data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          {{ whitehallBackToTop({
            label: "Contents",
            href: "#contents-title"
          }) }}
        </div>
      </div>


    </div>
  </div>


  <!-- RIGHT COLUMN -->
  <div class="govuk-grid-column-one-third">

    <!-- Actions and tools? -->
  
  </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}



{% block pageScripts %}
{{ super() }}
<script>
  {# sticky-element

  app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden #}


  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  // Summary page
  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  }

  $(document).ready(function() {  
    $.stickyElement.wrapper = $('.sections');
    $.stickyElement.init();
  });
</script>
{% endblock %}
