{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# Use this to change the document to populated or empty #}
{#  #}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

<!--
  empty
  populated


  already-published
  new-draft
  main.warning-xxxx
  main.document-type-publication
-->
{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary" %}

{% block header %}
  {{ whitehallHeader({
      homepageUrl: "../dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}

{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-messages.html" %}

    <span class="govuk-caption-xl">
      {# {{content.documentContent[0].subtype}} #}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Edit document
      {# {{content.documentContent[0].title}} #}
    </h1>

    

    {% set sectionState = [] %}
    {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
    <div class="app-c-inset-prompt">
      <h3 class="app-c-inset-prompt__title govuk-heading-m">To publish this document you need to</h3>
      <div class="app-c-inset-prompt__body">
        <ul class="govuk-list app-c-inset-prompt__list">
          <!-- <li>
            <a data-gtm="requirements-issue" data-gtm-value="Enter a summary" data-gtm-visibility-tracking="true" class="govuk-link govuk-link--no-visited-state" href="../documents/e10c314b-4193-439c-87d8-a1b28c240e91:en/content#summary" data-gtm-vis-recent-on-screen-9704122_311="98" data-gtm-vis-first-on-screen-9704122_311="98" data-gtm-vis-total-visible-time-9704122_311="100" data-gtm-vis-has-fired-9704122_311="1">Enter a summary</a>
          </li>           -->
          {% if data['pageState'] === 'empty' %}
          <li>
            <a 
              class="govuk-link govuk-link--no-visited-state"
              href="#body">Enter a body</a>
          </li>
          {% endif %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="#taxonomy">Add a topic</a>
          </li>
          {% if data['pageState'] === 'empty' %}
          <li>
            <a
              class="govuk-link govuk-link--no-visited-state" 
              href="#attachments">Add an attachment</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="tabs-content">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Document summary',
        href: '../publication/summary' + hrefParams,
        active: true
      }, {
        html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
        href: '../publication/history' + hrefParams
      },
      {
        html: 'Preview and share',
        href: '../publication/preview' + hrefParams
      },
      {
        html: 'Send for review or publish',
        href: '../publication/publish/' + hrefParams
      }]
    }) }}
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service name goes here
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Read declaration
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Company information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <h2 class="govuk-visually-hidden">Document summary</h2>
    <!-- <section class="govuk-notification-banner gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" role="region">
      <div class="govuk-notification-banner__content">
    <span class="gem-c-notice__title govuk-notification-banner__heading">This was published under the 2005 to 2010 Labour government</span>
    </div></section> -->


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Know your audience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          How people read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for How people read.</p>
    </div>
  </div>
</div>







    


    {% include "./includes/sections-list.html" %}

    <div class="sections">
      {# <section id="title-type" class="title-type">
        
        
      </section> #}

      <section id="summary" class="summary">
        {# {% set sectionState = [] %} #}
        {# <h3 class="govuk-heading-l">Title and summary</h3> #}
        {% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
        <p class="govuk-body whitehall-summary-change-link">
            <a href="../publication/edit/summary{{hrefParams}}" class="govuk-link">Edit</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'fullPopulated' %}
        <span class="govuk-caption-xl">
            {{content.documentContent[0].subtype}}
        </span>
        <h1 class="govuk-heading-xl">
            {{content.documentContent[0].title}}
        </h1>

        {% include "./includes/summary-document-status.html" %}

        <div class="govuk-inset-text" style="word-break: break-all;">
            <b>Page address</b><br>
            {{content.documentContent[0].pageUrl}}
        </div>

        <p class="gem-c-lead-paragraph govuk-!-margin-top-8">{{content.documentContent[0].summary}}</p>
        {% endif %}
        {# {% include "./summary-sections/summary-summary.html" %} #}

        {% include "./summary-sections/summary-title-type.html" %}
      </section>

      <section id="attachments" class="attachments">
        {% include "./summary-sections/summary-attachments.html" %}
      </section>

      <section id="body" class="body">
        {% include "./summary-sections/summary-body.html" %}
      </section>

      <section id="lead-image" class="lead-image">
        {% include "./summary-sections/summary-lead-image.html" %}
      </section>

      <section id="language" class="language">
        {% include "./summary-sections/summary-language.html" %}
      </section>

      {# <section id="previously-published" class="previously-published">
        {% include "./summary-sections/summary-previously-published.html" %}
      </section> #}

      <section id="change-notes" class="change-notes">
        {% include "./summary-sections/summary-change-notes.html" %}
      </section>
        
      <section id="taxonomy" class="taxonomy">
        {% include "./summary-sections/summary-taxonomy.html" %}
      </section>
        
      <section id="organisations-ministers" class="organisations-ministers">
        {% include "./summary-sections/summary-organisations-ministers.html" %}
      </section>

      <!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Related content????</h2>
      Right column 
      Related content
      links -->

      <section id="excluded-nations" class="excluded-nations">
        {% include "./summary-sections/summary-excluded-nations.html" %}
      </section>

      <h2 class="govuk-heading-l">
        Optional metadata
      </h2>
      
      <section id="specialist-topic" class="specialist-topic">
        {% set sectionState = [] %}
        <h3 class="govuk-heading-m">Specialist topics (optional)</h3>
        {% if data['pageState'] === 'fullPopulated' %}
        <p class="govuk-body whitehall-summary-change-link">
          <a href="../publication/edit/specialist-topics{{hrefParams}}" class="govuk-link">Edit</a>
        </p>
        {% endif %}
        {% if  pageState === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
        <p class="govuk-body whitehall-summary-change-link">
          <a href="../publication/edit/specialist-topics{{hrefParams}}" class="govuk-link">Add a specialist topic</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'fullPopulated' %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Primary specialist topic"
              },
              value: {
                text: "Work and careers: Public service pensions"
              }
            },
            {
              key: {
                text: "Secondary specialist topic"
              },
              value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                  <li>
                    Government: Public services
                  </li>
                  <li>
                    Guidance for government digital publishing and services: Content and publishing
                  </li>
                  <li>
                    Public safety and emergencies: Emergencies: preparation, response and recovery
                  </li>
                </ul>'
              }
            }
          ]
        }) }}
        {% endif %}

        {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
        <p class="govuk-body whitehall-body-empty">
          There are no specialist topics in this document.
        </p>
        {% endif %}
      </section>

      <section id="associations" class="associations">
        {% set sectionState = [] %}
        <h3 class="govuk-heading-m">Associations (optional)</h3>

        {% if data['pageState'] === 'fullPopulated' %}
        <p class="govuk-body whitehall-summary-change-link">
            <a href="../publication/edit/associations{{hrefParams}}" class="govuk-link">Edit</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
        <p class="govuk-body whitehall-summary-change-link">
            <a href="../publication/edit/associations{{hrefParams}}" class="govuk-link">Add an association</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'fullPopulated' %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Topical events"
              },
              value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                  <li>
                    Zero emission vehicle summit
                  </li>
                  <li>
                    Global Summit to End Sexual Violence in Conflict
                  </li>
                </ul>'
              }
            },
            {
              key: {
                text: "World locations"
              },
              value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                  <li>
                    Angola
                  </li>
                  <li>
                    Argentina
                  </li>
                  <li>
                    UK and the United Nations (Vienna)
                  </li>
                </ul>'
              }
            },
            {
              key: {
                text: "Statistical data sets"
              },
              value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                  <li>
                    Live tables on National Land Use Database of previously-developed Brownfield Land
                  </li>
                </ul>'
              }
            }
          ]
        }) }}
        {% endif %}

        {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
        {{ govukSummaryList({
            rows: [
                {
                  key: {
                      text: "Topical events"
                  },
                  value: {
                      html: '<p class="govuk-body whitehall-body-empty-list">
                          No topical events
                        </p>'
                  }
                },
                {
                  key: {
                      text: "World locations"
                  },
                  value: {
                      html: '<p class="govuk-body whitehall-body-empty-list">
                          No world locations
                        </p>'
                  }
                },
                {
                  key: {
                      text: "Statistical data sets"
                  },
                  value: {
                      html: '<p class="govuk-body whitehall-body-empty-list">
                          No statistical data sets
                        </p>'
                  }
                }
            ]
            }) }}
        {% endif %}
      </section>

      {# <section id="worldwide-tags" class="worldwide-tags">
        {% include "./summary-sections/summary-worldwide-tags.html" %}
      </section> #}

      {# <section id="related-guides" class="related-guides">
        {% include "./summary-sections/summary-related-guides.html" %}
      </section> #}

      <section id="translations" class="translations">
        {% set sectionState = [] %}
        <h3 class="govuk-heading-m">Translations (optional)</h3>
        {% if data['pageState'] === 'fullPopulated' %}
        <p class="govuk-body whitehall-summary-change-link">
          <a href="../publication/edit/translations{{hrefParams}}" class="govuk-link">Edit</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
        <p class="govuk-body whitehall-summary-change-link">
          <a href="../publication/edit/translations{{hrefParams}}" class="govuk-link">Add a translation</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'fullPopulated' %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Arabic"
              },
              value: {
                text: "HM Land Registry: قم بتوقيع عقد الرهن العقاري الخاص بك"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            },
            {
              key: {
                text: "German"
              },
              value: {
                text: "HM Grundbuchamt: Unterschreiben Sie Ihre Hypothekenurkunde"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Change"
                  }
                ]
              }
            }
          ]
        }) }}
        {% endif %}

        {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
        <p class="govuk-body whitehall-body-empty">
          There are no translations for this document.
        </p>
        {% endif %}
      </section>

      <section id="associated-user-needs" class="associated-user-needs">
        {% set sectionState = [] %}
        <h3 class="govuk-heading-m">Associated user needs (optional)</h3>

        {% if data['pageState'] === 'fullPopulated' %}
        <p class="govuk-body whitehall-summary-change-link">
          <a href="../publication/edit/associated-user-needs{{hrefParams}}" class="govuk-link">Edit</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'populated' or data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' %}
        <p class="govuk-body whitehall-summary-change-link">
            <a href="../publication/edit/associated-user-needs{{hrefParams}}" class="govuk-link">Add a user need</a>
        </p>
        {% endif %}

        {% if data['pageState'] === 'fullPopulated' %}
        {{ govukSummaryList({
          classes: "whitehall-taxonomy-list",
          rows: [
            {
              key: {
                html: 'As a user with a lasting power of attorney, I need to object to the registering of the lasting power of attorney, so that I can protect the person myself or the person who has made the enduring power of attorney) (100694)',
                classes: "govuk-body govuk-!-font-weight-regular"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                html: 'As a As a user who is looking after a child for a family member or friend, I need to know what rights I have and the child has, so that I can look after the child properly and stay within the law (101258)',
                classes: "govuk-body govuk-!-font-weight-regular"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                html: 'As a user, I need to Know how to keep VAT records, so that I can comply with my statutory obligations (100532)',
                classes: "govuk-body govuk-!-font-weight-regular"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                html: 'As a A training provider, I need to Understand how I can help disadvantage students with costs relating to FE, so that Support my students (102024)',
                classes: "govuk-body govuk-!-font-weight-regular"
              },
              value: {
                text: ""
              }
            }
          ]
        }) }}
        {% endif %}

        {% if data['pageState'] === 'empty' or data['pageState'] === 'bodyAttachments' or data['pageState'] === 'populated' %}
        <p class="govuk-body whitehall-body-empty">
          There are no associated user needs in this document.
        </p>
        {% endif %}

      </section>

      <div id="sticky-element" data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          {{ whitehallBackToTop({
            label: "Contents",
            href: "#contents-title"
          }) }}
        </div>
      </div>


    </div>
  </div>


  <!-- RIGHT COLUMN -->
  <div class="govuk-grid-column-one-third">

    <!-- Actions and tools? -->
  
  </div>
</div>
{% endblock %}
{% block footer %}{% include "includes/footer-v1.html" %}{% endblock %}



{% block pageScripts %}
{{ super() }}
<script>
  {# sticky-element

  app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden #}


  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  // Summary page
  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  }

  $(document).ready(function() {  
    $.stickyElement.wrapper = $('.sections');
    $.stickyElement.init();
  });
</script>
{% endblock %}
