
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="javascript: submitNavForm('dashboard/', $(this));">Home</a>
        </li>
        {# <li class="govuk-breadcrumbs__list-item" aria-current="page">My organisation</li> #}
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">My organisation</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Government Digital Service
      </h1>

      <p class="govuk-body">
        <a href="#" class="govuk-link">View on website</a>
      </p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [
          {
            text: 'Details',
            href: "javascript: submitNavForm('organisation/', $(this));"
          },
          {
            html: 'Pages',
            href: "javascript: submitNavForm('organisation/pages', $(this));"
          },
          {
            html: 'Contacts',
            href: "javascript: submitNavForm('organisation/contacts', $(this));"
          },
          {
            html: 'Features',
            href: "javascript: submitNavForm('organisation/features', $(this));"
          },
          {
            html: 'Social media accounts',
            href: "javascript: submitNavForm('organisation/social-media-accounts', $(this));"
          },
          {
            html: 'People',
            href: "javascript: submitNavForm('organisation/people', $(this));"
          },
          {
            html: 'Translations',
            href: "javascript: submitNavForm('organisation/translations', $(this));",
            active: true
          },
          {
            html: 'Financial Reports',
            href: "javascript: submitNavForm('organisation/financial-reports', $(this));"
          }
        ]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Create new translation",
        href: "javascript: submitNavForm('organisation/create/translation', $(this));",
        classes: "govuk-button--primary"
      }) }}
      <p class="govuk-body">
        TBD
      </p>
    </div>
  </div>


{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  $(document).ready(function() {  
    $("#currentPage").attr({'value': 'organisation/'});
    mainNavSetActive('organisation/');
  });
</script>
{% endblock %}


{# 

<div class="tab-content">
  <h2 class="add-bottom-margin">Translations for Government Digital Service</h2>

    <p class="no-content no-content-bordered">No translations</p>

  <nav class="well">
      <form action="/government/admin/organisations/government-digital-service/translations" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="m0Qlz5YZXtdUWV8aRbfSVn6r7BzO_LUFpDfsGeC2IERyOiMh1Rc56IflJ2QwdoqPiIzSfalAk1LWVdE_dpen5Q" autocomplete="off">
        <div class="form-group">
          <label for="translation_locale">Locale</label>
          <select name="translation_locale" id="translation_locale" class="form-control input-md-4"><option value="ar">العربيَّة (Arabic)</option>
<option value="az">Azeri (Azeri)</option>
<option value="be">Беларуская (Belarusian)</option>
<option value="bg">Bulgarian (Bulgarian)</option>
<option value="bn">বাংলা (Bangla)</option>
<option value="cs">Čeština (Czech)</option>
<option value="cy">Cymraeg (Welsh)</option>
<option value="da">Dansk (Danish)</option>
<option value="de">Deutsch (German)</option>
<option value="dr">دری (Dari)</option>
<option value="el">Ελληνικά (Greek)</option>
<option value="es">Español (Spanish)</option>
<option value="es-419">Español de América Latina (Latin American Spanish)</option>
<option value="et">Eesti (Estonian)</option>
<option value="fa">فارسی (Persian)</option>
<option value="fi">suomi (Finnish)</option>
<option value="fr">Français (French)</option>
<option value="gd">Gaeilge (Irish)</option>
<option value="gu">જોર્જિયન (Gujarati)</option>
<option value="he">עברית (Hebrew)</option>
<option value="hi">हिंदी (Hindi)</option>
<option value="hr">Hrvatski (Croatian)</option>
<option value="hu">Magyar (Hungarian)</option>
<option value="hy">Հայերեն (Armenian)</option>
<option value="id">Bahasa Indonesia (Indonesian)</option>
<option value="is">Íslenska (Icelandic)</option>
<option value="it">Italiano (Italian)</option>
<option value="ja">日本 (Japanese)</option>
<option value="ka">ქართული (Georgian)</option>
<option value="kk">Қазақ (Kazakh)</option>
<option value="ko">한국어 (Korean)</option>
<option value="lt">Lietuvių (Lithuanian)</option>
<option value="lv">Latviešu (Latvian)</option>
<option value="ms">Bahasa Melayu (Malay)</option>
<option value="mt">Malti (Maltese)</option>
<option value="ne">नेपाली (Nepali)</option>
<option value="nl">Nederlands (Dutch)</option>
<option value="no">norsk (Norwegian)</option>
<option value="pa">ਪੰਜਾਬੀ ਗੁਰਮੁਖੀ (Punjabi Gurmukhi)</option>
<option value="pa-pk">پنجابی شاہ مُکھی (Punjabi Shahmukhi)</option>
<option value="pl">Polski (Polish)</option>
<option value="ps">جرمني (Pashto)</option>
<option value="pt">Português (Portuguese)</option>
<option value="ro">Română (Romanian)</option>
<option value="ru">Русский (Russian)</option>
<option value="si">සිංහල (Sinhala)</option>
<option value="sk">Slovensky (Slovak)</option>
<option value="sl">Slovenščina (Slovene)</option>
<option value="so">Soomaali (Somali)</option>
<option value="sq">Shqip (Albanian)</option>
<option value="sr">srpski (Serbian)</option>
<option value="sv">Svensk (Swedish)</option>
<option value="sw">Kiswahili (Swahili)</option>
<option value="ta">தமிழ் (Tamil)</option>
<option value="th">ไทย (Thai)</option>
<option value="tk">Türkmen (Turkmen)</option>
<option value="tr">Türkçe (Turkish)</option>
<option value="uk">Українська (Ukrainian)</option>
<option value="ur">اردو (Urdu)</option>
<option value="uz">Ўзбекча (Uzbek)</option>
<option value="vi">Tiếng Việt (Vietnamese)</option>
<option value="yi">יידיש (Yiddish)</option>
<option value="zh">中文 (Chinese)</option>
<option value="zh-hk">中文 (Cantonese)</option>
<option value="zh-tw">繁體中文 (Traditional Chinese)</option></select>
        </div>
        <input type="submit" name="commit" value="Create translation" class="btn btn-primary" data-disable-with="Create translation">
</form>  </nav>

</div>

 #}