
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% set mainClasses = "govuk-main-wrapper--auto-spacing document-type-publication summary" %}

{% block header %}
  {{ super() }}
  {{ whitehallHeader({
      homepageUrl: "dashboard/",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: true,
      navigation: [
        {
          href: "../documents/" + hrefParams,
          text: "Documents",
          active: true
        },
        {
          href: "../organisation/" + hrefParams,
          text: "My organisation"
        },
        {
          href: "../support/" + hrefParams,
          text: "Support information"
        },
        {
          href: "../guidance/" + hrefParams,
          text: "Guidance"
        },
        {
          href: "../account/" + hrefParams,
          text: globals.loggedUser
        },
        {
          href: "../signout" + hrefParams,
          text: "Sign out"
        }
      ],
      items: [
        {
          text: "Home",
          href: "../dashboard/" + hrefParams
        },
        {
          text: "Documents",
          href: "../documents/" + hrefParams
        }
      ]
  }) }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    
    {% include "./includes/summary-messages.html" %}

     <span class="govuk-caption-xl">
      {{content.documentContent[0].subtype}}
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{content.documentContent[0].title}}
    </h1>

    {% include "./includes/summary-document-status.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    {% include "./includes/summary-tools.html" %}

    {% include "./includes/summary-actions.html" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Edit document',
        href: '../publication/summary' + hrefParams
      }, {
        html: 'History and notes <span id="notifications" class="moj-notification-badge">17</span>',
        href: '../publication/history' + hrefParams,
        active: true
      },
      {
        html: 'Preview and share',
        href: '../publication/preview' + hrefParams
      },
      {
        html: 'Send for review or publish',
        href: '../publication/publish/' + hrefParams
      }]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-visually-hidden">History and notes</h2>

    {{ govukButton({
      text: "Add internal note",
      href: "../publication/notes/create",
      classes: "govuk-button--secondary"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-visually-hidden">Document history</h2>
      
      
              <h3 class="govuk-heading-m">3rd edition</h3>
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Published with review
        </h4>
      
        <div class="app-timeline-entry__dateline">
            16 September 2022 at 2:26pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      <div class="app-timeline-entry app-timeline-entry--highlighted">
        <h4 class="govuk-heading-s">
          Internal note
        </h4>
      
        <div class="app-timeline-entry__dateline">
            30 November 2022 at 2:14pm by Carlos Bernardo Jr
        </div>
      
          <div class="app-timeline-entry__content">
                <p>Lorem ipsum</p>
      
      
      
      
          </div>
      </div>
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            16 September 2022 at 2:25pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          New edition
        </h4>
      
        <div class="app-timeline-entry__dateline">
            16 September 2022 at 2:15pm by Clarence Boddicker
        </div>
      
      </div>
      
      
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
              <h3 class="govuk-heading-m">2nd edition</h3>
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Published with review
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 11:41am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Tags updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 11:38am by Pat Novak
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 11:01am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Draft reset to last published edition
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 11:01am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Draft discarded
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 11:01am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 10:59am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 10:58am by Alex Murphy
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          New edition
        </h4>
      
        <div class="app-timeline-entry__dateline">
            14 September 2022 at 10:57am by Alex Murphy
        </div>
      
      </div>
      
      
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
              <h3 class="govuk-heading-m">1st edition</h3>
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Published with review
        </h4>
      
        <div class="app-timeline-entry__dateline">
            13 September 2022 at 4:02pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            13 September 2022 at 3:36pm by Ihuoma Nwosu
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Submitted for review
        </h4>
      
        <div class="app-timeline-entry__dateline">
            13 September 2022 at 3:20pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          Document updated
        </h4>
      
        <div class="app-timeline-entry__dateline">
            13 September 2022 at 3:15pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      
              
      <div class="app-timeline-entry ">
        <h4 class="govuk-heading-s">
          First created
        </h4>
      
        <div class="app-timeline-entry__dateline">
            13 September 2022 at 3:06pm by Clarence Boddicker
        </div>
      
      </div>
      
      
      
          
        </div>
      
        {# <div class="govuk-grid-column-one-third">
          <form data-gtm="create-internal-note" action="/documents/325778c0-e4f9-4815-b9d4-2950595abb2b:en/internal-notes" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ye4kz8kT9o6YWlkDPe9ehzjyeXO6qZS_qseEuW8PrgV_FGk23sal0oTDylUGCsqrmaPuoZ5dYeuREJP3nuo9Ng" autocomplete="off"> 
            <div class="gem-c-textarea govuk-form-group govuk-!-margin-bottom-6">
              <label for="textarea-f1838351" class="gem-c-label govuk-label govuk-label--s">Internal note</label>
              <textarea name="internal_note" class="govuk-textarea" id="textarea-f1838351" rows="5" spellcheck="true"></textarea> 
            </div>
            <button class="gem-c-button govuk-button" type="submit">Add internal note</button>
          </form>
      </div> #}
    </div>

  </div>
</div>




    </div>




    <!-- RIGHT COLUMN -->
    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}


{% block pageScripts %}
{{ super() }}
<script>
  {# sticky-element

  app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden #}


  /* WARNING AND MESSAGES */
  var message = getUrlParameter('message');

  // Summary page
  if(message === "second-eyes") {
    $('main').addClass('populated second-eyes');
  } else if(message === "documentCreated") {
    $('main').addClass('empty documentCreated');
  } else if(message === "saved") {
    $('main').addClass('populated saved');
  } else {
    $('main').addClass('populated');
  }
</script>
{% endblock %}

