
{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="javascript: submitNavForm('dashboard/', $(this));">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="javascript: submitNavForm('support/', $(this));">Support information</a>
        </li>
        {# <li class="govuk-breadcrumbs__list-item" aria-current="page">Documents</li> #}
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
{{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Support information</span>
      <h1 class="govuk-heading-xl">
        Fields of operation
      </h1>
    </div>
  </div>

  <!-- TODO:
    This should be a radio button after clicking in create new group
   Do not create groups without consulting GDS.
  Warning: changes to groups appear instantly on the live site. -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukButton({
        text: "Create new field of operation",
        href: "javascript: submitNavForm('support/fields/create', $(this));"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukTable({
        sortable: true,
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Afghanistan"
            },
            {
              html: '<a class="govuk-link" href="javascript: submitNavForm(' + "'" + 'support/fields/edit' + "'" + ', $(this));">Edit</a>',
              format: "numeric"
            }
          ],
          [
            {
              text: "Iraq"
            },
            {
              html: '<a class="govuk-link" href="javascript: submitNavForm(' + "'" + 'support/fields/edit' + "'" + ', $(this));">Edit</a>',
              format: "numeric"
            }
          ],
          [
            {
              text: "Northern Ireland"
            },
            {
              html: '<a class="govuk-link" href="javascript: submitNavForm(' + "'" + 'support/fields/edit' + "'" + ', $(this));">Edit</a>',
              format: "numeric"
            }
          ],
          [
            {
              text: "Other locations"
            },
            {
              html: '<a class="govuk-link" href="javascript: submitNavForm(' + "'" + 'support/fields/edit' + "'" + ', $(this));">Edit</a>',
              format: "numeric"
            }
          ],
          [
            {
              text: "United Kingdom"
            },
            {
              html: '<a class="govuk-link" href="javascript: submitNavForm(' + "'" + 'support/fields/edit' + "'" + ', $(this));">Edit</a>',
              format: "numeric"
            }
          ]
        ]
      }) }}

{# 
previous: {
          href: "#"
        },
 #}

      {{ govukPagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            current: true,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 6,
            href: "#"
          },
          {
            number: 7,
            href: "#"
          },
          {
            number: 8,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 42,
            href: "#"
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}