{% import "../includes/_globals.html" as globals %}
{%
set documentContent = [
    {
        type: "Publication",
        subtype: "Guidance",
        title: "Who can get a Blue Badge",
        state: "Draft",
        tagColour: "blue",
        summary: "Blue Badge parking for people with disabilities: who can get a badge and how to apply.",
        body: '',
        bodyMarkdown: "A guide to who qualifies for a Blue Badge, including:

* who automatically qualifies for a Blue Badge
* people who may qualify
* applying for a Blue Badge with a non-visible (hidden) condition
* what you need to apply
* providing proof of benefits and eligibility
* badges for organisations

## Apply for a Blue Badge

$CTA
In England, Scotland and Wales you can [apply on GOV.UK for a Blue Badge](https://www.gov.uk/apply-blue-badge).
$CTA

In England, Scotland and Wales you can [apply on GOV.UK for a Blue Badge](https://www.gov.uk/apply-blue-badge).

This guidance applies in England. Guidance is also available for [Scotland](https://www.gov.uk/apply-blue-badge) and [Wales](https://www.gov.uk/apply-blue-badge).

There’s a different way to [apply if you’re in Northern Ireland](https://www.nidirect.gov.uk/services/apply-or-renew-blue-badge-online).
",
        lastUpdateBy: globals.loggedUser,
        author: globals.loggedUser,
        colleague: globals.colleague,
        department: "Department for Transport (DfT)",
        accessibleEmail: "Department for Transport (webmasterdft@dft.gov.uk)",
        lastUpdateDate: "10:01am on 2 December 2022",
        pageUrl: "https://www.gov.uk/government/publications/blue-badge-can-i-get-one",
        appliesToEngland: false,
        appliesToScotland: "https://www.mygov.scot/blue-badge-eligibility",
        appliesToWales: "https://www.gov.wales/blue-badges-eligibility",
        appliesToNorthernIreland: "https://www.nidirect.gov.uk/articles/blue-badge-eligibility-criteria",
        id: 1
    }
]
%}

{%
  set attachmentsExample = [
    {
      title: "Who can get a Blue Badge?",
      url: "/public/example/attachment.html",
      type: "HTML",
      accessible: true
    },
    {
      title: "Who can get a Blue Badge? (easy read version)",
      url: "/public/example/who-can-get-a-blue-badge-easy-read.pdf",
      type: "PDF",
      size: "2.24 MB",
      pages: "13 pages",
      accessible: false
    },
    {
      title: "Who can get a Blue Badge? (large type version, for printing)",
      url: "/public/example/who-can-get-blue-badge-large-type.pdf",
      type: "PDF",
      size: "236 KB",
      pages: "10 pages",
      reference: "",
      accessible: false
    },
    {
      title: "Who can get a Blue Badge? (audio)",
      url: "/public/example/who-can-get-a-blue-badge.mp3",
      type: "Audio",
      reference: "http://assets.dft.gov.uk/publications/blue-badge-audio/who-can-get-a-blue-badge.mp3",
      accessible: true
    }
  ]
%}



{% set bodyHTML %}
<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
<div class="govspeak">
<p>A guide to who qualifies for a Blue Badge, including:</p>
<ul>
  <li>who automatically qualifies for a Blue Badge</li>
  <li>people who may qualify</li>
  <li>applying for a Blue Badge with a non-visible (hidden) condition</li>
  <li>what you need to apply</li>
  <li>providing proof of benefits and eligibility</li>
  <li>badges for organisations</li>
</ul>
<h2 id="apply-for-a-blue-badge">Apply for a Blue Badge</h2>
<div class="call-to-action">
<p>In England, Scotland and Wales you can <a rel="external" href="https://www.gov.uk/apply-blue-badge" class="govuk-link">apply on GOV.UK for a Blue Badge</a>.</p>
</div>
<p>In England, Scotland and Wales you can <a target="_blank" href="https://www.gov.uk/apply-blue-badge" class="govuk-link">apply on GOV.UK for a Blue Badge</a>.</p>
<p>This guidance applies in England. Guidance is also available for <a rel="external" href="https://www.mygov.scot/apply-blue-badge/eligibility" class="govuk-link">Scotland</a> and <a rel="external" href="https://gov.wales/blue-badges-eligibility" class="govuk-link">Wales</a>.</p>
<p>There’s a different way to <a rel="external" href="https://www.nidirect.gov.uk/services/apply-or-renew-blue-badge-online" class="govuk-link">apply if you’re in Northern Ireland</a>.</p>
</div>
</div>
{% endset %}




{% if data['pageState'] === 'bodyAttachments' %}

{% endif %}

{% if data['pageState'] === 'populated' %}

{% endif %}
{% if data['pageState'] === 'fullPopulated' %}

{% endif %}

{% if data['pageState'] === 'empty' %}

{% endif %}
















{# https://www.integration.publishing.service.gov.uk/ #}
{%
set documentContent2 = [
    {
        type: "Publication",
        subtype: "Guidance",
        title: "Making Tax Digital for Business — stakeholder communications pack",
        state: "Draft",
        tagColour: "blue",
        summary: "Information to support businesses that need to make the transition to digital VAT business record keeping and submission of VAT returns using Making Tax Digital-compatible software from 1 April 2019.",
        body: "vat",
        lastUpdateBy: "Clarence Boddicker",
        lastUpdateDate: "10:01am on 2 December 2022",
        pageUrl: "https://www.integration.publishing.service.gov.uk/government/news/making-tax-digital-for-business-stakeholder-communications-pack",
        id: 1
    }
]
%}


{# 
Example 2: BODY
<div class="govspeak {{content.documentContent[0].body}}">
      <p>Most <abbr title="Value Added Tax">VAT</abbr>-registered businesses with a taxable turnover above the <abbr title="Value Added Tax">VAT</abbr> threshold (currently £85,000) are required to keep digital <abbr title="Value Added Tax">VAT</abbr> business records and send <abbr title="Value Added Tax">VAT</abbr> returns using Making Tax Digital-compatible software from 1 April 2019.</p>
      <p>This communication pack provides information for stakeholders, who can use the contents to inform their own communications activity and key messages for their clients, customers and members.</p>
      <p>Find out how to get ready for Making Tax Digital for <abbr title="Value Added Tax">VAT</abbr> if you’re:</p>
      <ul>
        <li><a target="_blank" href="https://www.gov.uk/guidance/making-tax-digital-for-vat-as-an-agent-step-by-step" class="govuk-link">an agent</a></li>
        <li><a target="_blank" href="https://www.gov.uk/vat-record-keeping/making-tax-digital-for-vat" class="govuk-link">a business</a></li>
      </ul> #}

{# 
    Example image: BODY
    <figure class="image embedded">
        <div class="img">
            <img alt="Image alt lorem ipsum" width="300" src="/public/images/download/image_example.png" />
        </div>
        <figcaption>
            <p>Image caption lorem ipsum</p>
        </figcaption>
    </figure>

 #}

{# 
Example 3: BODY

      

      <h2 id="steps-you-need-to-take">If you are an agent</h2>

        <p>You cannot use your existing VAT online account to send monthly or quarterly VAT Returns.</p>
        
        <p>You must <a target="_blank" href="https://www.gov.uk/charge-reclaim-record-vat/sign-up-making-tax-digital-for-vat" class="govuk-link">sign up to Making Tax Digital (MTD)</a> and use compatible software to keep your VAT records and file VAT Returns.</p>
        
        <h2 id="steps-you-need-to-take">Steps you need to take</h2>
        
        <ol class="steps">
        <li>
        <p><a target="_blank" href="https://www.gov.uk/guidance/find-software-thats-compatible-with-making-tax-digital-for-vat" class="govuk-link">Get the right software</a> — you can search for software that is compatible with Making Tax Digital for VAT.</p>
        </li>
        <li>
        <p><a target="_blank" href="https://www.gov.uk/guidance/get-an-hmrc-agent-services-account" class="govuk-link">Create an agent services account</a>  — this is different to your HMRC online services for agents account. You’ll be able to copy across your existing VAT clients’ authorisations from your HMRC online services account. You’ll need your Government Gateway user ID.</p>
        </li>
        <li>
        <p><a target="_blank" href="https://www.gov.uk/guidance/sign-up-for-making-tax-digital-for-vat" class="govuk-link">Sign up to Making Tax Digital</a> for your existing VAT clients — you can <a target="_blank" href="https://www.gov.uk/guidance/update-your-clients-business-details-if-theyre-part-of-the-making-tax-digital-for-vat-pilot" class="govuk-link">manage your client’s details</a> online once you have signed them up.</p>
        </li>
        <li>
        <p>Ask new clients to <a target="_blank" href="https://www.gov.uk/guidance/sign-up-for-making-tax-digital-for-vat" class="govuk-link">sign up to Making Tax Digital</a> — if you want to act for a client that you have not copied across in the previous step, they’ll need to sign up to Making Tax Digital.</p>
        </li>
        <li>
        <p><a target="_blank" href="https://www.gov.uk/guidance/sign-in-to-your-agent-services-account" class="govuk-link">Ask new clients to authorise you</a> —  select ‘Ask a client to authorise you’, create an authorisation request (this appears as a link) then send the link to your client.</p>
        </li>
        <li>
        <p>Ask clients to <a target="_blank" href="https://www.gov.uk/guidance/authorise-an-agent-to-deal-with-certain-tax-services-for-you" class="govuk-link">authorise an agent to deal with Making Tax Digital for VAT</a> — before you send VAT Returns, you’ll need to authorise your software. You can ask your software supplier if you do not know how.</p>
        </li>
        </ol>
        
        <h2 id="what-new-clients-must-do">What new clients must do</h2>
        
        <p>To authorise you, new clients must make sure they:</p>
        
        <ul>
          <li>have followed the steps to <a target="_blank" href="https://www.gov.uk/guidance/sign-up-for-making-tax-digital-for-vat" class="govuk-link">sign up to Making Tax Digital</a>
        </li>
          <li>use the link to respond to your request before it expires</li>
        </ul>
        
        <p>Find out <a target="_blank" href="https://www.gov.uk/guidance/authorise-an-agent-to-deal-with-certain-tax-services-for-you" class="govuk-link">authorise an agent to deal with Making Tax Digital for VAT</a>.</p>
  </div>
  <!-- <p class="govuk-body">
    The Foreign, Commonwealth, and Development Office (FCDO) aims to provide a consistently high quality consular service for British nationals overseas. In support of this, the FCDO works in partnership with other organisations to provide assistance to cases of British nationals missing abroad and their families.
  </p>
  <p class="govuk-body">
    Globally, the FCDO is currently providing consular assistance to nearly 4,600 British people missing overseas and their families. Since the COVID-19 pandemic, we assisted approximately 1,000 missing person’s cases a year.
  </p>
  <p class="govuk-body">
    We invite proposals from organisations with relevant expertise to form a partnership with the FCDO’s Consular Directorate. This partnership contributes to FCDO’s objective to provide support to British people abroad who need to access our services 24/7.
  </p> -->

  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-8 govuk-!-margin-top-8"> -->


  <!-- 
    Images thumbs? Or just in the body?
   -->
</div> #}



{% 
    set organisationFeatured = [
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post (offsite link)",
        published: "17 November 2021",
        position: 1
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide (document)",
        published: "02 March 2023",
        position: 2
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication (document)",
        published: "28 February 2023",
        position: 3
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection (document)",
        published: "17 November 2021",
        position: 4
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page (document)",
        published: "01 October 2021",
        position: 5
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post (offsite link)",
        published: "17 November 2021",
        position: 6
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide (document)",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication (document)",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection (document)",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page (document)",
        published: "01 October 2021"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post (offsite link)",
        published: "17 November 2021"
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide (document)",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication (document)",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection (document)",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page (document)",
        published: "01 October 2021"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post (offsite link)",
        published: "17 November 2021"
      }
    ]
  %}

{% 
    set organisationLinks = [
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        published: "30 October 2022"
      }
    ]
  %}

{% 
    set organisationDocuments = [
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        published: "01 October 2021"
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        published: "01 October 2021"
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        published: "01 October 2021"
      }
    ]
  %}

{% 
    set organisationTopicalEvents = [
      {
        title: 'Daesh: UK government response',
        published: "25 November 2022 to 25 November 2023"
      },
      {
        title: 'Russian invasion of Ukraine: UK government response',
        published: "21 February 2023 to 20 February 2024"
      },
      {
        title: 'Spring Statement 2022',
        published: "23 March 2022 to 22 March 2023"
      },
      {
        title: 'The Growth Plan 2022',
        published: "23 September 2022 to 23 September 2023"
      },
      {
        title: 'Autumn Statement 2022',
        published: "17 November 2022 to 17 November 2023"
      },
      {
        title: 'Turkey and Syria earthquakes: UK government response',
        published: "06 February 2023 to 05 February 2024"
      },
      {
        title: 'Spring Budget 2023',
        published: "15 March 2023 to 15 March 2024"
      }
  ]
%}


{% 
    set organisationPages= [
      {
        title: 'Personal information charter',
        updateAuthor: 'Alan Schaefer',
        updateTime: 'almost 2 years ago',
        state: false,
        brokenLinks: true,
        forcePublished: true
      },
      {
        title: 'Our governance',
        updateAuthor: 'Blain Cooper',
        updateTime: '6 months ago',
        state: true,
        brokenLinks: false,
        forcePublished: false
      },
      {
        title: 'Working for GDS',
        updateAuthor: 'Alan Dillon',
        updateTime: 'about 2 months ago',
        state: true,
        brokenLinks: true,
        forcePublished: false
      },
      {
        title: 'About us',
        updateAuthor: 'Billy Sole',
        updateTime: '2 months ago',
        state: false,
        brokenLinks: false,
        forcePublished: true
      }
  ]
%}

{% 
    set organisationFeaturedv2 = [
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post (offsite link)",
        published: "17 November 2021",
        position: 1
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide (document)",
        published: "02 March 2023",
        position: 2
      },
      {
        title: ' The Growth Plan 2022',
        type: "Topical event",
        published: "23 September 2022 to 23 September 2023",
        position: 3
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection (document)",
        published: "17 November 2021",
        position: 4
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page (document)",
        published: "01 October 2021",
        position: 5
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post (offsite link)",
        published: "17 November 2021",
        position: 6
      }
    ]
  %}

{% 
    set organisationCombined = [
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        mainType: "Non-GOV.UK link",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        mainType: "Non-GOV.UK link",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        mainType: "Non-GOV.UK link",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "30 October 2022"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "17 November 2021"
      },
      {
        title: 'Scientific input from APHA in key Defra publication',
        type: "Service",
        mainType: "Non-GOV.UK link",
        published: "22 February 2023"
      },
      {
        title: 'Know your enemy: the contribution of veterinary laboratories to antimicrobial stewardship',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "08 January 2022"
      },
      {
        title: 'Unexpected notifiable disease confirmed in Somerset',
        type: "Blog post",
        mainType: "Non-GOV.UK link",
        published: "30 October 2022"
      },







      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        mainType: "Document",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        mainType: "Document",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        mainType: "Document",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        mainType: "Document",
        published: "01 October 2021"
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        mainType: "Document",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        mainType: "Document",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        mainType: "Document",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        mainType: "Document",
        published: "01 October 2021"
      },
      {
        title: 'Imports, exports and EU trade of animals and animal products: topical issues',
        type: "Detailed Guide",
        mainType: "Document",
        published: "02 March 2023"
      },
      {
        title: 'Why we think online HTML forms are usually better than document-based forms in government',
        type: "Publication",
        mainType: "Document",
        published: "28 February 2023"
      },
      {
        title: 'Bird flu: rules on meat produced from poultry and farmed game birds originating in disease control zones',
        type: "Document Collection",
        mainType: "Document",
        published: "17 November 2021"
      },
      {
        title: 'Approved finishing units for cattle: application and approved premises',
        type: "Corporate Information Page",
        mainType: "Document",
        published: "01 October 2021"
      },








      {
        title: 'Daesh: UK government response',
        mainType: "Topical event",
        published: "25 November 2022 to 25 November 2023"
      },
      {
        title: 'Russian invasion of Ukraine: UK government response',
        mainType: "Topical event",
        published: "21 February 2023 to 20 February 2024"
      },
      {
        title: 'Spring Statement 2022',
        mainType: "Topical event",
        published: "23 March 2022 to 22 March 2023"
      },
      {
        title: 'The Growth Plan 2022',
        mainType: "Topical event",
        published: "23 September 2022 to 23 September 2023"
      },
      {
        title: 'Autumn Statement 2022',
        mainType: "Topical event",
        published: "17 November 2022 to 17 November 2023"
      },
      {
        title: 'Turkey and Syria earthquakes: UK government response',
        mainType: "Topical event",
        published: "06 February 2023 to 05 February 2024"
      },
      {
        title: 'Spring Budget 2023',
        mainType: "Topical event",
        published: "15 March 2023 to 15 March 2024"
      }
  ]
%}
 {# <table class="table table-striped table-bordered">
    <thead>
      <tr class="table-header">
        <th class="title">Title</th>
        <th class="updated-by">Updated by</th>
        <th class="updated">Updated</th>
          <th class="state">State</th>
      </tr>
    </thead>
    <tbody>
        <tr class="corporate_information_page force_published" id="corporate_information_page_1204469">
          <td class="title">
            <span class="title"><a title="View document Personal information charter" href="/government/admin/organisations/government-digital-service/corporate_information_pages/1204469">Personal information charter</a></span>
              <span class="force_published label label-danger">not reviewed</span>
                <span class="has-broken-links label label-primary">has broken links</span>
          </td>
          <td class="author"><a href="/government/admin/authors/7507">Hannah Cooper</a></td>
          <td class="updated"><span title="2021-05-18 14:09:57 +0100">almost 2 years ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="corporate_information_page" id="corporate_information_page_1424146">
          <td class="title">
            <span class="title"><a title="View document Personal information charter" href="/government/admin/organisations/government-digital-service/corporate_information_pages/1424146">Personal information charter</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11350">Ollie Treend</a></td>
          <td class="updated"><span title="2023-03-07 10:35:27 +0000">11 minutes ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="corporate_information_page force_published" id="corporate_information_page_1368505">
          <td class="title">
            <span class="title"><a title="View document Our governance" href="/government/admin/organisations/government-digital-service/corporate_information_pages/1368505">Our governance</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/1142">Gavan Curley</a></td>
          <td class="updated"><span title="2022-09-21 12:08:21 +0100">6 months ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="corporate_information_page force_published" id="corporate_information_page_1406943">
          <td class="title">
            <span class="title"><a title="View document Working for GDS" href="/government/admin/organisations/government-digital-service/corporate_information_pages/1406943">Working for GDS</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/8831">Tahmid Dewan</a></td>
          <td class="updated"><span title="2023-01-25 17:42:12 +0000">about 1 month ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="corporate_information_page force_published" id="corporate_information_page_1405208">
          <td class="title">
            <span class="title"><a title="View document About us" href="/government/admin/organisations/government-digital-service/corporate_information_pages/1405208">About us</a></span>
              <span class="force_published label label-danger">not reviewed</span>
                <span class="has-broken-links label label-primary">has broken links</span>
          </td>
          <td class="author"><a href="/government/admin/authors/8831">Tahmid Dewan</a></td>
          <td class="updated"><span title="2023-01-06 14:08:29 +0000">about 2 months ago</span></td>
            <td class="state">Published</td>
</tr>    </tbody>
  </table> #}