<optgroup label="Publication">
  <option value="policy-paper">Publication: Policy paper (common)</option>
  <option value="impact-assessment">Publication: Impact assessment (common)</option>
  <option value="guidance">Publication: Guidance (common)</option>
  <option value="statutory-guidance">Publication: Statutory guidance (common)</option>
  <option value="form">Publication: Form (common)</option>
  <option value="official-statistics">Publication: Official Statistics (common)</option>
  <option value="national-statistics">Publication: National Statistics (common)</option>
  <option value="research-and-analysis">Publication: Research and analysis (common)</option>
  <option value="corporate-report">Publication: Corporate report (common)</option>
  <option value="map">Publication: Map (common)</option>

  <option value="transparency-data">Publication: Transparency data (less common)</option>
  <option value="foi-release">Publication: FOI release (less common)</option>
  <option value="independent-report">Publication: Independent report (less common)</option>
  <option value="international-treaty">Publication: International treaty (less common)</option>
  <option value="notice">Publication: Notice (less common)</option>
  <option value="decision">Publication: Decision (less common)</option>
  <option value="standard">Publication: Standard (less common)</option>

  <option value="correspondence">Publication: Correspondence (use discouraged)</option>
  <option value="promotional-material">Publication: Promotional material (use discouraged)</option>
  <option value="regulation">Publication: Regulation (use discouraged)</option>
</optgroup>