<option value="consultation">Consultation</option>
<optgroup label="Publication">
  <option value="policy-paper">Publication: Policy paper</option>
  <option value="impact-assessment">Publication: Impact assessment</option>
  <option value="guidance">Publication: Guidance</option>
  <option value="statutory-guidance">Publication: Statutory guidance</option>
  <option value="form">Publication: Form</option>
  <option value="official-statistics">Publication: Official Statistics</option>
  <option value="national-statistics">Publication: National Statistics</option>
  <option value="research-and-analysis">Publication: Research and analysis</option>
  <option value="corporate-report">Publication: Corporate report</option>
  <option value="map">Publication: Map</option>

  <option value="transparency-data">Publication: Transparency data</option>
  <option value="foi-release">Publication: FOI release</option>
  <option value="independent-report">Publication: Independent report</option>
  <option value="international-treaty">Publication: International treaty</option>
  <option value="notice">Publication: Notice</option>
  <option value="decision">Publication: Decision</option>
  <option value="standard">Publication: Standard</option>

  <option value="correspondence">Publication: Correspondence</option>
  <option value="promotional-material">Publication: Promotional material</option>
  <option value="regulation">Publication: Regulation</option>
</optgroup>

<optgroup label="News article">
  <option value="news-story">News article: News story</option>
  <option value="press-release">News article: Press release</option>
  <option value="government-response">News article: Government response</option>
  <option value="world-news-story">News article: World news story</option>
</optgroup>

<optgroup label="Speech">
  <option value="transcript">Speech: Transcript</option>
  <option value="draft-text">Speech: Draft text</option>
  <option value="speaking-notes">Speech: Speaking notes</option>
  <option value="written-statement-to-parliament">Speech: Written statement to Parliament</option>
  <option value="oral-statement-to-parliament">Speech: Oral statement to Parliament</option>
  <option value="authored-article">Speech: Authored article</option>
</optgroup>

<option value="detailed-guide">Detailed guide</option>
<option value="document-collection">Document collection</option>
<option value="fatality-notice">Fatality notice</option>
<option value="case-study">Case study</option>
<option value="statistical-data-set">Statistical data set</option>
