<table class="table table-striped table-bordered">
    <thead>
      <tr class="table-header">
          <th class="type">Type</th>
        <th class="title">Title</th>
        <th class="updated-by">Updated by</th>
        <th class="updated">Updated</th>
          <th class="state">State</th>
      </tr>
    </thead>
    <tbody>
        <tr class="publication force_published" id="publication_1271909">
            <td class="type">Publication: Official Statistics</td>
          <td class="title">
            <span class="title"><a title="View document Earnings and employment from Pay As You Earn Real Time Information, UK: November 2022" href="/government/admin/publications/1271909">Earnings and employment from Pay As You Earn Real Time Information, UK: November 2022</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/355">Scheduled Publishing Robot</a></td>
          <td class="updated"><span title="2022-11-15 07:00:00 +0000">1 day ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="news_article force_published" id="news_article_1389662">
            <td class="type">News article: Press release</td>
          <td class="title">
            <span class="title"><a title="View document Putin’s regime will hear the chorus of global opposition to its actions" href="/government/admin/news/1389662">Putin’s regime will hear the chorus of global opposition to its actions</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/10664">Alice Hodgson</a></td>
          <td class="updated"><span title="2022-11-14 23:08:18 +0000">1 day ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="speech force_published" id="speech_1389658">
            <td class="type">Speech</td>
          <td class="title">
            <span class="title"><a title="View document An important first step in Ukrainian efforts to seek justice in accordance with international law: UK statement at UN" href="/government/admin/speeches/1389658">An important first step in Ukrainian efforts to seek justice in accordance with international law: UK statement at UN</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/8581">Sorcha Lowry</a></td>
          <td class="updated"><span title="2022-11-14 21:37:43 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="speech force_published" id="speech_1389657">
            <td class="type">Speech</td>
          <td class="title">
            <span class="title"><a title="View document Ensuring long term stability in the Central African Republic" href="/government/admin/speeches/1389657">Ensuring long term stability in the Central African Republic</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/8581">Sorcha Lowry</a></td>
          <td class="updated"><span title="2022-11-14 20:48:20 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389352">
            <td class="type">Publication: Research</td>
          <td class="title">
            <span class="title"><a title="View document From risks to rewards: overcoming the impacts of climate change on women in agricultural supply chains" href="/government/admin/publications/1389352">From risks to rewards: overcoming the impacts of climate change on women in agricultural supply chains</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/210">Ruth Nunn</a></td>
          <td class="updated"><span title="2022-11-14 20:48:20 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="news_article" id="news_article_1389656">
            <td class="type">News article: Press release</td>
          <td class="title">
            <span class="title"><a title="View document UK Government partnership with Montserrat bolstered by additional funding support" href="/government/admin/news/1389656">UK Government partnership with Montserrat bolstered by additional funding support</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9772">Enrique Lopez</a></td>
          <td class="updated"><span title="2022-11-14 20:00:54 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="news_article" id="news_article_1389652">
            <td class="type">News article: Worldwide news story</td>
          <td class="title">
            <span class="title"><a title="View document Promoting LGBT+ Rights and Freedoms" href="/government/admin/news/1389652">Promoting LGBT+ Rights and Freedoms</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/10481">Carmen Noriega</a></td>
          <td class="updated"><span title="2022-11-14 19:56:49 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="news_article force_published" id="news_article_1389655">
            <td class="type">News article: News story</td>
          <td class="title">
            <span class="title"><a title="View document Bird flu (avian influenza): latest situation in England" href="/government/admin/news/1389655">Bird flu (avian influenza): latest situation in England</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/1443">Hannah Newbold</a></td>
          <td class="updated"><span title="2022-11-14 19:37:08 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389565">
            <td class="type">Publication: Form</td>
          <td class="title">
            <span class="title"><a title="View document Acute flaccid paralysis: reporting form" href="/government/admin/publications/1389565">Acute flaccid paralysis: reporting form</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/6641">Sonia Ribeiro</a></td>
          <td class="updated"><span title="2022-11-14 19:37:05 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1389168">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Acute flaccid paralysis: investigating and reporting a case" href="/government/admin/publications/1389168">Acute flaccid paralysis: investigating and reporting a case</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/6641">Sonia Ribeiro</a></td>
          <td class="updated"><span title="2022-11-14 19:32:27 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="speech force_published" id="speech_1389654">
            <td class="type">Speech</td>
          <td class="title">
            <span class="title"><a title="View document The contribution of United Nations Police to the Action for Peacekeeping Plus Priorities" href="/government/admin/speeches/1389654">The contribution of United Nations Police to the Action for Peacekeeping Plus Priorities</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/8581">Sorcha Lowry</a></td>
          <td class="updated"><span title="2022-11-14 19:29:55 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="news_article" id="news_article_1389653">
            <td class="type">News article: Press release</td>
          <td class="title">
            <span class="title"><a title="View document Review of broadcast rules around major sporting events" href="/government/admin/news/1389653">Review of broadcast rules around major sporting events</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/10649">Ben Kennedy</a></td>
          <td class="updated"><span title="2022-11-14 19:24:23 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1389356">
            <td class="type">Publication: Policy paper</td>
          <td class="title">
            <span class="title"><a title="View document Defence Supply Chain Strategy" href="/government/admin/publications/1389356">Defence Supply Chain Strategy</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11465">Louise Potter</a></td>
          <td class="updated"><span title="2022-11-14 19:20:13 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="news_article" id="news_article_1389651">
            <td class="type">News article: Press release</td>
          <td class="title">
            <span class="title"><a title="View document Social housing providers continue to comply with regulatory standards following regrades from RSH" href="/government/admin/news/1389651">Social housing providers continue to comply with regulatory standards following regrades from RSH</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/7091">Fatima Mangerah</a></td>
          <td class="updated"><span title="2022-11-14 19:00:36 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="detailed_guide" id="detailed_guide_1389627">
            <td class="type">Detailed guide: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Record and report ozone-depleting substances you import, export, sell or destroy" href="/government/admin/detailed-guides/1389627">Record and report ozone-depleting substances you import, export, sell or destroy</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/922">Conrad Scott</a></td>
          <td class="updated"><span title="2022-11-14 18:48:37 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="detailed_guide" id="detailed_guide_1385692">
            <td class="type">Detailed guide: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Record and report F gas and equipment pre-charged with F gas" href="/government/admin/detailed-guides/1385692">Record and report F gas and equipment pre-charged with F gas</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/922">Conrad Scott</a></td>
          <td class="updated"><span title="2022-11-14 18:45:22 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication force_published" id="publication_1389649">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Royal Courts of Justice Cause List" href="/government/admin/publications/1389649">Royal Courts of Justice Cause List</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/10233">Remi Lawal</a></td>
          <td class="updated"><span title="2022-11-14 18:42:47 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389607">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Acute flaccid paralysis: clinical management guidance" href="/government/admin/publications/1389607">Acute flaccid paralysis: clinical management guidance</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/6641">Sonia Ribeiro</a></td>
          <td class="updated"><span title="2022-11-14 18:42:38 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389595">
            <td class="type">Publication: Decision</td>
          <td class="title">
            <span class="title"><a title="View document Regulatory approval of Evusheld (tixagevimab/cilgavimab)" href="/government/admin/publications/1389595">Regulatory approval of Evusheld (tixagevimab/cilgavimab)</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9835">Amelia Smith</a></td>
          <td class="updated"><span title="2022-11-14 18:25:10 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389640">
            <td class="type">Publication: Corporate report</td>
          <td class="title">
            <span class="title"><a title="View document Memorandum of understanding between Ofsted and DfE: independent schools" href="/government/admin/publications/1389640">Memorandum of understanding between Ofsted and DfE: independent schools</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9326">Eleanor Lewis</a></td>
          <td class="updated"><span title="2022-11-14 17:59:12 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389647">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Low Pay Commission expenditure: July to September 2022" href="/government/admin/publications/1389647">Low Pay Commission expenditure: July to September 2022</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1256">Jay Arjan</a></td>
          <td class="updated"><span title="2022-11-14 17:55:13 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1321506">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document simon tester page" href="/government/admin/publications/1321506">simon tester page</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/10698">Simon Bell</a></td>
          <td class="updated"><span title="2022-11-14 17:53:44 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="news_article" id="news_article_1389646">
            <td class="type">News article: Press release</td>
          <td class="title">
            <span class="title"><a title="View document Indonesia Just Energy Transition Partnership (JETP) Launched at G20" href="/government/admin/news/1389646">Indonesia Just Energy Transition Partnership (JETP) Launched at G20</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11406">Simon Archer </a></td>
          <td class="updated"><span title="2022-11-14 17:53:01 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>    </tbody>
  </table>
