<table class="table table-striped table-bordered">
    <thead>
      <tr class="table-header">
          <th class="type">Type</th>
        <th class="title">Title</th>
        <th class="updated-by">Updated by</th>
        <th class="updated">Updated</th>
          <th class="state">State</th>
      </tr>
    </thead>
    <tbody>
        <tr class="publication force_published" id="publication_1389649">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Royal Courts of Justice Cause List" href="/government/admin/publications/1389649">Royal Courts of Justice Cause List</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/10233">Remi Lawal</a></td>
          <td class="updated"><span title="2022-11-14 18:42:47 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389607">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Acute flaccid paralysis: clinical management guidance" href="/government/admin/publications/1389607">Acute flaccid paralysis: clinical management guidance</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/6641">Sonia Ribeiro</a></td>
          <td class="updated"><span title="2022-11-14 18:42:38 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389595">
            <td class="type">Publication: Decision</td>
          <td class="title">
            <span class="title"><a title="View document Regulatory approval of Evusheld (tixagevimab/cilgavimab)" href="/government/admin/publications/1389595">Regulatory approval of Evusheld (tixagevimab/cilgavimab)</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9835">Amelia Smith</a></td>
          <td class="updated"><span title="2022-11-14 18:25:10 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389640">
            <td class="type">Publication: Corporate report</td>
          <td class="title">
            <span class="title"><a title="View document Memorandum of understanding between Ofsted and DfE: independent schools" href="/government/admin/publications/1389640">Memorandum of understanding between Ofsted and DfE: independent schools</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9326">Eleanor Lewis</a></td>
          <td class="updated"><span title="2022-11-14 17:59:12 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389647">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Low Pay Commission expenditure: July to September 2022" href="/government/admin/publications/1389647">Low Pay Commission expenditure: July to September 2022</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1256">Jay Arjan</a></td>
          <td class="updated"><span title="2022-11-14 17:55:13 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1321506">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document simon tester page" href="/government/admin/publications/1321506">simon tester page</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/10698">Simon Bell</a></td>
          <td class="updated"><span title="2022-11-14 17:53:44 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389637">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Low Pay Commission business plan 2022/23" href="/government/admin/publications/1389637">Low Pay Commission business plan 2022/23</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1256">Jay Arjan</a></td>
          <td class="updated"><span title="2022-11-14 17:47:38 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication force_published" id="publication_1389642">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Upper Tribunal Tax and Chancery Chamber hearing list" href="/government/admin/publications/1389642">Upper Tribunal Tax and Chancery Chamber hearing list</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:45:55 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389626">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Tuberculosis testing in Japan" href="/government/admin/publications/1389626">Tuberculosis testing in Japan</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1333">Alex Wright</a></td>
          <td class="updated"><span title="2022-11-14 17:44:25 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication force_published" id="publication_1389641">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document UTIAC Field House - Judicial Review" href="/government/admin/publications/1389641">UTIAC Field House - Judicial Review</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:44:15 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389610">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Iran: tuberculosis test clinic for a UK visa" href="/government/admin/publications/1389610">Iran: tuberculosis test clinic for a UK visa</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1333">Alex Wright</a></td>
          <td class="updated"><span title="2022-11-14 17:43:51 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication force_published" id="publication_1389639">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Upper Tribunal (Immigration and Asylum) Chamber daily hearing list" href="/government/admin/publications/1389639">Upper Tribunal (Immigration and Asylum) Chamber daily hearing list</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:42:30 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication force_published" id="publication_1389638">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Upper Tribunal Administrative Appeals Chamber cause list" href="/government/admin/publications/1389638">Upper Tribunal Administrative Appeals Chamber cause list</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:39:39 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication force_published" id="publication_1389636">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Court of Protection daily hearing list" href="/government/admin/publications/1389636">Court of Protection daily hearing list</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:37:12 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1078066">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Ask DWP to review a request to stop (waive) Recoverable Hardship Payment repayments made between 1 January 2014 and 11 January 2021" href="/government/admin/publications/1078066">Ask DWP to review a request to stop (waive) Recoverable Hardship Payment repayments made between 1 January 2014 and 11 January 2021</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/330">Keith Prust</a></td>
          <td class="updated"><span title="2022-11-14 17:36:29 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication force_published" id="publication_1389629">
            <td class="type">Publication: Statutory guidance</td>
          <td class="title">
            <span class="title"><a title="View document Bird flu: licence to move carcasses and samples from live poultry or other captive birds from a protection or surveillance zone (EXD415(HPAI)(GB))" href="/government/admin/publications/1389629">Bird flu: licence to move carcasses and samples from live poultry or other captive birds from a protection or surveillance zone (EXD415(HPAI)(GB))</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/533">Mathew Banks </a></td>
          <td class="updated"><span title="2022-11-14 17:32:48 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication force_published" id="publication_1389634">
            <td class="type">Publication: Transparency data</td>
          <td class="title">
            <span class="title"><a title="View document Asylum Support Tribunal cases listed for hearing" href="/government/admin/publications/1389634">Asylum Support Tribunal cases listed for hearing</a></span>
              <span class="force_published label label-danger">not reviewed</span>
          </td>
          <td class="author"><a href="/government/admin/authors/9580">Ellis Davies</a></td>
          <td class="updated"><span title="2022-11-14 17:32:19 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389162">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Acute flaccid paralysis: information for patients" href="/government/admin/publications/1389162">Acute flaccid paralysis: information for patients</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11478">Amanda Green</a></td>
          <td class="updated"><span title="2022-11-14 17:31:22 +0000">2 days ago</span></td>
            <td class="state">Published</td>
</tr>        <tr class="publication" id="publication_1389633">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Tuberculosis testing in the USA" href="/government/admin/publications/1389633">Tuberculosis testing in the USA</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/1333">Alex Wright</a></td>
          <td class="updated"><span title="2022-11-14 17:29:08 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389630">
            <td class="type">Publication: Notice</td>
          <td class="title">
            <span class="title"><a title="View document OX29 5BJ, Waste Recycling Group (Central) Limited: environmental permit application advertisement – EPR/BV7214IR/V016" href="/government/admin/publications/1389630">OX29 5BJ, Waste Recycling Group (Central) Limited: environmental permit application advertisement – EPR/BV7214IR/V016</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11079">Harace Hussain</a></td>
          <td class="updated"><span title="2022-11-14 17:17:32 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1389580">
            <td class="type">Publication: Corporate report</td>
          <td class="title">
            <span class="title"><a title="View document UKHSA board meeting papers: November 2022" href="/government/admin/publications/1389580">UKHSA board meeting papers: November 2022</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/9943">Wendy Wrangham</a></td>
          <td class="updated"><span title="2022-11-14 17:17:01 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389631">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Market Exploration: Hybridisation of the Naval Fleet" href="/government/admin/publications/1389631">Market Exploration: Hybridisation of the Naval Fleet</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/10775">Susannah Crowe</a></td>
          <td class="updated"><span title="2022-11-14 17:16:52 +0000">2 days ago</span></td>
            <td class="state">Draft</td>
</tr>        <tr class="publication" id="publication_1389624">
            <td class="type">Publication: Guidance</td>
          <td class="title">
            <span class="title"><a title="View document Pet travel: approved air, sea and rail carriers and routes" href="/government/admin/publications/1389624">Pet travel: approved air, sea and rail carriers and routes</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/11041">Christy Rodliff</a></td>
          <td class="updated"><span title="2022-11-14 17:16:26 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>        <tr class="publication" id="publication_1389200">
            <td class="type">Publication: Notice</td>
          <td class="title">
            <span class="title"><a title="View document United Kingdom methane memorandum" href="/government/admin/publications/1389200">United Kingdom methane memorandum</a></span>
          </td>
          <td class="author"><a href="/government/admin/authors/6725">Rachel Gibson</a></td>
          <td class="updated"><span title="2022-11-14 17:16:07 +0000">2 days ago</span></td>
            <td class="state">Submitted</td>
</tr>    </tbody>
  </table>
