{% extends "layouts/main.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{ super() }}
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}

  <style>
    .govuk-phase-banner {
      border-bottom: none;
    }
  </style>

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl app-masthead__title" style="padding-top: 1em;">
            {{serviceName}}
            <span class="govuk-caption-xl">{{data['serviceVersion']}}</span>
          </h1>
          {# {{releaseVersion | log }} #}
          <p class="app-masthead__description">Use Whitehall Publish for government content in GOV.UK.</p>
          <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum, turpis nec mattis vulputate, ipsum metus bibendum erat, aliquam mattis neque ipsum eu nisi. -->

          <!--a href="/get-started/" role="button" draggable="false" class="govuk-button app-button--inverted govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start" data-module="govuk-button">
        Get started
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg></a-->
        </div>

        <!--div class="govuk-grid-column-one-third-from-desktop">
          <img class="app-masthead__image" src="/images/homepage-illustration.svg" alt="" role="presentation">
        </div-->
      </div>
    </div>
  </div>

  <div class="app-whats-new">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-main-wrapper govuk-main-wrapper--l">
            <h2 class="govuk-heading-l">For user testing</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p class="govuk-body">
                  <a class="govuk-link" href="/sticky-save/publication/new-document">Sticky save</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a class="govuk-link" href="/associations-out/publication/new-document">Associations out</a>
                </p>
              </li>
            </ul>
            <h2 class="govuk-heading-l">Prototype versions</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p class="govuk-body">
                  <a class="govuk-link" href="/v1/dashboard/?prototypeVersion=v1">Version 1: User Research week 16/01/2023</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a class="govuk-link" href="/v2/dashboard/?prototypeVersion=v2">Version 2</a>
                </p>
              </li>
            </ul>

            <h2 class="govuk-heading-l">Summary page WIP</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/v1/publication/summary?pageState=bodyAttachments&prototypeVersion=v1">Version 1: User Research week 16/01/2023</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v7/summary?pageState=bodyAttachments&prototypeVersion=v7">Version 7: Accordion + status</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v8/summary?pageState=bodyAttachments&prototypeVersion=v8">Version 8: Long scroll (visual separation)</a>
                </p>
              </li>

              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v4/summary?pageState=bodyAttachments&prototypeVersion=v4">Version 4: Long scroll (plain)</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v5/summary?pageState=bodyAttachments&prototypeVersion=v5">Version 5: Task list</a>
                </p>
              </li>

              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v9/summary?pageState=bodyAttachments&prototypeVersion=v9">Version 9: Accordion + subcategories</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v3/summary?pageState=bodyAttachments&prototypeVersion=v3">Version 3: Accordion + editable</a>
                </p>
              </li>
              <li>
                <p class="govuk-body">
                  <a target="_blank" class="govuk-link" href="/summary/publication-v6/summary?pageState=bodyAttachments&prototypeVersion=v6">Version 6: Long scroll (blue H2s)</a>
                </p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ super() }}

{% endblock %}

{% block footer %}{% endblock %}