
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Edit translations
    </h1>

    {% include "../includes/document-info.html" %}

    {{ govukInsetText({
      text: 'In the published GOV.UK page, this image will appear on the top of the body.'
    }) }}

    <p class="govuk-body">  
        TBD
    </p>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        href: "../../publication/summary" + hrefParams + "&pageMessage=documentSaved"
      }) }}

      <a class="govuk-link" href="../publication/summary{{hrefParams}}">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
