
{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ super() }}
{% endblock %} 

{% block header %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl">
        Guidance
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        HM Land Registry: Sign your mortgage deed
    </h1> -->

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Edit publication subtype
    </h1>

    {% include "../includes/document-info.html" %}

    {{ govukInsetText({
      text: "You cannot change the content type. To change the content type, you’ll need to re-create the document as a new document with the correct content type."
    }) }}

    {{ govukRadios({
      idPrefix: 'subtype1',
      name: 'subtype1',
      classes: "govuk-checkboxes--small",
      fieldset: {
      legend: {
          text: 'Common types',
          classes: 'govuk-fieldset__legend--s'
      }
      },
      items: [
      {
          value: '0',
          text: 'Policy papers',
          hint: {
          text: "A policy paper explains the government's position on something. It doesn’t include instructions on how to carry out a task, only the policy itself and how it’ll be implemented."
          }
      },
      {
          value: '1',
          text: 'Impact assessments',
          hint: {
          text: "Cost-benefit analyses and other assessments of the impact of proposed initiatives, or changes to regulations or legislation."
          }
      },
      {
          value: '2',
          text: 'Guidance',
          checked: true,
          hint: {
          html: "Non-statutory guidance publications. Includes: manuals, handbooks and other documents that offer advice.<br />
          <b>Do not use for:</b> statutory guidance (use the “statutory guidance” publication type) or guidance about completing a form (attach to same publication as the form itself)."
          }
      },
      {
          value: '3',
          text: 'Statutory guidance',
          hint: {
          text: "Guidance which relevant users are legally obliged to follow. (For non-statutory guidance publications, use the “guidance” sub-type)."
          }
      },
      {
          value: '4',
          text: 'Forms',
          hint: {
          text: 'Pro-forma or form documents that need to be completed by the user. Can include guidance on how to fill in forms (ie no need to create a separate “guidance” publication for form instructions).'
          }
      },
      {
          value: '5',
          text: 'Official Statistics',
          hint: {
          text: "Statistics governed by the UK Statistics Authority and produced by members of the Government Statistical Service."
          }
      },
      {
          value: '6',
          text: 'National Statistics',
          hint: {
          text: "Official Statistics that have been produced in accordance with the Code of Practice for Official Statistics, which is indicated using the National Statistics quality mark."
          }
      },
      {
          value: '7',
          text: 'Research and analysis',
          hint: {
          text: "Research and evaluation papers. Can be conducted by government, commissioned by government or independent of government."
          }
      },
      {
          value: '8',
          text: 'Corporate reports',
          hint: {
          text: 'Publications about what an organisation does (eg business plans, annual reports, accounts), or any plans that affect the organisation (eg structural reform plans, efficiency reviews). Corporate reports are shown automatically on the organisation/’s “What we do” page.'
          }
      },
      {
          value: '9',
          text: 'Maps',
          hint: {
          text: "Drawn maps and geographical data."
          }
      }
      ]
  }) }}
  
  {{ govukRadios({
      idPrefix: 'subtype1',
      name: 'subtype1',
      classes: "govuk-checkboxes--small",
      fieldset: {
      legend: {
          text: 'Less common types',
          classes: 'govuk-fieldset__legend--s'
      }
      },
      items: [
      {
          value: '10',
          text: 'Transparency data',
          hint: {
          html: "Information made available about departmental operations with the intent of making government more transparent.Includes organisation charts, staff survey results, departmental spending, salaries, contracts, meetings with ministers, etc.
                  <br /><b>Do not use for:</b> FOI responses."
          }
      },
      {
          value: '11',
          text: 'FOI releases',
          hint: {
          text: "Responses to Freedom of Information requests. Ensure the title describes specifically what the request is about."
          }
      },
      {
          value: '12',
          text: 'Independent reports',
          hint: {
          text: "Reviews, inquiries and other reports commissioned from or conducted by independent (ie non-governmental) bodies for consideration by the government."
          }
      },
      {
          value: '13',
          text: 'International treaties',
          hint: {
          text: "Treaties and memoranda of understanding between the UK and other nations."
          }
      },
      {
          value: '14',
          text: 'Notices',
          hint: {
          text: "Permit and licence applications published temporarily for public awareness."
          }
      },
      {
          value: '15',
          text: 'Decisions',
          hint: {
          text: "Formal decisions by tribunals, regulators or adjudicators (including courts and Secretaries of State)."
          }
      },
      {
          value: '16',
          text: 'Standards',
          hint: {
          text: "Publishing a formally agreed standard that sets out requirements, specifications, guidelines or patterns that can be consistently applied to products, processes and services within government."
          }
      }
      ]
  }) }}
  
  {{ govukRadios({
      idPrefix: 'subtype1',
      name: 'subtype1',
      classes: "govuk-checkboxes",
      fieldset: {
      legend: {
          text: 'Use discouraged',
          classes: 'govuk-fieldset__legend--s'
      }
      },
      items: [
      {
          value: '17',
          text: 'Correspondence',
          hint: {
          html: 'Ministerial or departmental responses (eg to campaign letters), announcements, or statements; regularly issued circulars or bulletins (eg fire service circulars), official correspondence to professionals (eg “Dear chief planning officer” letters); letters to individuals or organisations that are published to share with a wider audience than their original recipient; online versions of e-bulletins or newsletters.
                  <br /><b>Do not use for:</b> minutes, agendas or other meeting papers. Attach them to relevant “policy detail”, “team” or “our governance” pages instead.'
          }
      },
      {
          value: '18',
          text: 'Promotional material',
          hint: {
          text: "Leaflets, posters, fact sheets and marketing collateral."
          }
      },
      {
          value: '19',
          text: 'Regulations',
          hint: {
          html: "Regulations imposed by an independent regulatory authority only.
                  <br /><b>Do not use for:</b> statutory guidance."
          }
      }
      ]
  }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save",
        href: "../../publication/summary" + hrefParams + "&pageMessage=documentSaved"
      }) }}
      <a class="govuk-link" href="../publication/summary{{hrefParams}}">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}
