{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "components/whitehall-header/macro.njk"                   import whitehallHeader %}
{% from "components/whitehall-header-v2/macro.njk"                import whitehallHeaderV2 %}
{% from "components/whitehall-documents-table/macro.njk"          import whitehallDocumentsTable %}
{% from "components/whitehall-filter-collapsible/macro.njk"       import whitehallFilterCollapsible %}
{% from "components/whitehall-govspeak-editor/macro.njk"          import whitehallGovspeakEditor %}
{% from "components/whitehall-govspeak-guidance/macro.njk"        import whitehallGovspeakGuidance %}
{% from "components/whitehall-modal/macro.njk"                    import whitehallModal %}
{% from "components/whitehall-attachment/macro.njk"               import whitehallAttachment %}
{% from "components/whitehall-back-to-top/macro.njk"              import whitehallBackToTop %}
{% from "components/whitehall-accordion/macro.njk"                import whitehallAccordion %}

{% import "includes/_globals.html" as globals %}
{% import 'mock-data/_content_example.html' as content %}

{% block stylesheets %}
	{{ super() }}

{% endblock %}

{% block pageTitle %}GOV.UK Whitehall Publisher{% endblock %}

{% block head %}
	<script>
		/* GET URL PARAMETERS */
		var getUrlParameter = function getUrlParameter(sParam) {
			var sPageURL = window.location.search.substring(1),
					sURLVariables = sPageURL.split('&'),
					sParameterName,
					i;

			for (i = 0; i < sURLVariables.length; i++) {
					sParameterName = sURLVariables[i].split('=');

					if (sParameterName[0] === sParam) {
							return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
					}
			}
			return false;
		};

		function verifyUrlParameter(e, rString) {
			if (!e || e === "" || e === null || e === 'null' || e === undefined || e === 'undefined') {
				return rString;
			}
		}
			
		// CALL
		// javascript: submitNavForm("../documents/");
		
		function clearMainNav() {
			$(".moj-primary-navigation__link").removeAttr("aria-current");
			$(".govuk-header__navigation-item").removeClass("govuk-header__navigation-item--active");
		}
		
		// MAIN NAV: SET ACTIVE
		function mainNavSetActive(page, e) {
			var navItem = "#" + page;
			navItem = navItem.replace('/', '');

			switch (page) {
				case "documents/":
					clearMainNav();
					$(navItem).attr("aria-current", "page");
					break;
				case "organisation/":
					clearMainNav();
					$(navItem).attr("aria-current", "page");
					break;
				case "support/":
					clearMainNav();
					$(navItem).attr("aria-current", "page");
					break;
				case "guidance/":
					clearMainNav();
					$(navItem).attr("aria-current", "page");
					break;
				case "account/":
					clearMainNav();
					$(navItem).addClass("govuk-header__navigation-item--active");
					break;
				default:
					break;
			}
		}
		
		// SUBMIT FORM
		function submitNavForm(page, e) {
			mainNavSetActive(page); //, $(this)
			$("#currentPage").val(page);
			var hrefParams = "";
			var actionNavForm = "/" + "{{data['prototypeVersion']}}" + "/" + page + hrefParams;
			$("#mainNavigation").attr({ 'action': actionNavForm }).submit();
		}
	</script>
	{{ super() }}
{% endblock %} 

{# "/" + data['prototypeVersion'] + "/documents/" + hrefParams, #}

{% block header %}
  {{ whitehallHeaderV2({
      homepageUrl: "javascript: submitNavForm('dashboard/', $(this));",
      serviceName: serviceName,
      serviceUrl: "/",
      containerClasses: "govuk-width-container",
      phaseBanner: false,
      navigation: [
        {
					id: "documents",
          href: "javascript: submitNavForm('documents/', $(this));",
          text: "Documents"
        },
        {
					id: "organisation",
          href: "javascript: submitNavForm('organisation/', $(this));",
          text: "My organisation"
        },
        {
					id: "support",
          href: "javascript: submitNavForm('support/', $(this));",
          text: "Support information"
        },
        {
					id: "guidance",
          href: "javascript: submitNavForm('guidance/', $(this));",
          text: "Guidance"
        }
			],
			accountNavigation: [
        {
					id: "account",
          href: "javascript: submitNavForm('account/', $(this));",
          text: globals.loggedUser
        },
        {
					id: "signout",
          href: "javascript: submitNavForm('account/signout', $(this));",
          text: "Sign out"
        }
      ]
  }) }}
{% endblock %} 


{% set bodyClasses = "whitehall" %}
{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}
{% set hrefParams = "?pageState=" + data['pageState'] + "&documentState=" + data['documentState'] + "&pageMessage=" + data['pageMessage'] + "&prototypeVersion=" + data['prototypeVersion'] %}

{% block content %}
{{ super() }}
<form name="mainNavigation" id="mainNavigation" method="post">
	<input type="hidden" name="pageState" id="pageState" value="{{ data['pageState'] }}" />
	<input type="hidden" name="documentState" id="documentState" value="{{ data['documentState'] }}" />
	<input type="hidden" name="pageMessage" id="pageMessage" value="{{ data['pageMessage'] }}" />
	<input type="hidden" name="prototypeVersion" id="prototypeVersion" value="{{ data['prototypeVersion'] }}" />
	<input type="hidden" name="currentPage" id="currentPage" value="{{ data['currentPage'] }}" />
</form>
{% endblock %} 


{% block footer %}
	{# Guidance #}
	{{ govukFooter({
		navigation: [
		{
			title: "Writing and publishing",
			width: "one-third",
			columns: 1,
			items: [
			{
				href: "#",
				text: "Content Data"
			},
			{
				href: "#",
				text: "Product development"
			},
			{
				href: "#",
				text: "How to publish content on GOV.UK"
			},
			{
				href: "#",
				text: "Planning, writing and managing content"
			}
			]
		},
		{
			title: "Product development",
			width: "one-third",
			items: [
			{
				href: "#",
				text: "What's new in Whitehall"
			},
			{
				href: "#",
				text: "Inside GOV.UK blog"
			}
			]
		},
		{
			title: "Support and feedback",
			width: "one-third",
			items: [
			{
				href: "#",
				text: "Raise a support request"
			},
			{
				href: "#",
				text: "GDS support form (Zendesk)"
			},
			{
				href: "#",
				text: "Find in admin bookmarklet"
			}
			]
		}
		],
		meta: {
		items: [
			{
			href: "/versions",
			text: "GOV.UK Whitehall Publishing " + releaseVersion
			},
			{
			href: "/prototype-admin/clear-data",
			text: "Clear data"
			},
			{
			href: "#",
			text: "Help"
			},
			{
			href: "#",
			text: "Cookies"
			},
			{
			href: "#",
			text: "Contact"
			},
			{
			href: "#",
			text: "Terms and conditions"
			}
		],
		html: 'Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>'
		}
	}) }}
{% endblock %}


{% block scripts %}
  {{ super() }}
{% endblock %}


{% block pageScripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {

			$(".moj-primary-navigation__link").each(function() {
				mainNavSetActive("{{data['currentPage']}}"); //, $(this)
			});

			/* PAGE PARAMETERS */
			var pageState = getUrlParameter('pageState');
			var documentState = getUrlParameter('documentState');
			var pageMessage = getUrlParameter('pageMessage');
			var prototypeVersion = getUrlParameter('prototypeVersion');
			
			/* DEFAULT VALUES */
			pageState = verifyUrlParameter(pageState, "empty");
			pageMessage = verifyUrlParameter(pageMessage, "");
			documentState = verifyUrlParameter(documentState, "draft");
			prototypeVersion = verifyUrlParameter(prototypeVersion, "v2");

			console.log(pageState);
			console.log(documentState);
			console.log(pageMessage);
			console.log(prototypeVersion);
		});
	</script>
  {% include "../includes/scripts.html" %}
{% endblock %}
